<template>
    <v-layout>
        <section class="cover fullscreen image-bg overlay" style="height: 571px;">
            <!--div class="background-image-holder fadeIn" style="background: url(&quot;/images/nicehome3.2.jpg&quot;);">
                <img alt="image" class="background-image" src="../../assets/nicehome3.2.jpg" style="display: none;">
            </div-->
            <div class="container v-align-transform">
                <div class="row">
                    <center></center>

                    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                        <div class="feature bordered text-center">
                            <h4 class="uppercase">Change Password</h4>
                            <message-alert :alert="getMessage" />
                            <form @submit.prevent="submit(model)" class="text-left">
                                <div class="row">
                                    <div class="form-group col-md-12" id="group_Password">
                                        <input class="mb0" type="password" v-model="model.password" placeholder="mot de passe"><br><br>
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group col-md-12" id="group_RePassword">
                                        <input class="mb0" type="password" v-model="model.rePassword" placeholder="Confirmer mot de passe"><br><br>
                                        <span class="error"></span>
                                    </div>
                                </div>
                                <input type="submit" style="margin-top:20px;" value="Changer mot de passe">
                            </form>
                            <p class="mb0">
                                S'inscrire?
                                <a href="/auth/login">Se connecter</a>
                            </p>
                            <p class="mb0">
                                S'inscrire?
                                <a href="/auth/register">S'inscrire</a>
                            </p>

                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <footer class="footer-1 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <img alt="Logo" class="logo" src="../../assets/logo-light.png">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Recent Posts</h6>
                            <hr>
                            <ul class="link-list recent-posts">
                                <li>
                                    <a href="#">Hugging pugs is super trendy</a>
                                    <span class="date">
                                        February
                                        <span class="number">14, 2015</span>
                                    </span>
                                </li>
                                <li>
                                    <a href="#">Spinning vinyl is oh so cool</a>
                                    <span class="date">
                                        February
                                        <span class="number">9, 2015</span>
                                    </span>
                                </li>
                                <li>
                                    <a href="#">Superior theme design by pros</a>
                                    <span class="date">
                                        January
                                        <span class="number">27, 2015</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!--end of widget-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Latest Updates</h6>
                            <hr>
                            <div class="twitter-feed">
                                <div class="tweets-feed" data-widget-id="492085717044981760" id="tweets-0">
                                </div>
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Instagram</h6>
                            <hr>
                            <div class="instafeed" data-user-name="mrareweb">
                                <ul></ul>
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-6">
                        <span class="sub">© Copyright 2016 - V-ONE Plus</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="list-inline social-list">
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-vimeo-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of container-->
            <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Retour vers le haut</a>
        </footer>
    </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'
    import service from '@/services/index'

    export default {
        /**
        * The name of the page.
        */
        name: 'changePassword',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                model: {
                    token: '',
                    password: '',
                    rePassword: ''
                }
            }
        },

        /**
        * The methods the page can use.
        */
        methods: {
            /**
            * Will register the user.
            *
            * @param {Object} model The user to be registered.
            */
            submit: function (model) {
                this.isLoading = true
                this.model.token = this.$route.query.token
                this.$http.post('/auth/change_password', model).then(response => {
                    // get status
                    try {
                        if (response.data.status) {
                            this.$store.dispatch('alert/message', { message: response.data.data.message, status: true, success: response.data.data.success })
                        } else {
                            service.errorMessage(response.data)
                        }
                    } catch (err) {
                        // console.log(err)
                    }
                    this.isLoading = false
                }, response => {
                    // get failed
                    console.log(response)
                    this.isLoading = false
                })


            }
        },

        computed: {
            getMessage: function () {
                let message = this.$store.state.alert
                if (message.status) {
                    this.model = { token: '', password: '', rePassword: '' }
                }
                return message
            }
        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
