<template>
    <v-layout>
            <section class="page-title page-title-4 bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">Complete information</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li class="active">Complete information</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="text-center">
                                <h4 class="uppercase">Complete information</h4>
                                <hr>
                            </div>
                            <form @submit.prevent="submit(model)" class="customer-details mb80 mb-xs-40">
                                <div class="row">
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_FirstName">
                                        <span>City :</span>
                                        <multiselect v-model="value" :options="options"></multiselect>
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_FirstName">
                                        <span>Prénom:</span>
                                        <input type="text" v-model="model.firstName">
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_LastName">
                                        <span>Nom *:</span>
                                        <input type="text" v-model="model.lastName">
                                        <span class="error"></span>
                                    </div>
                                    <div v-if="isSeller" class="form-group input-with-label col-sm-12 text-left" id="group_AccreditationNumber">
                                        <span>Accreditation Number *:</span>
                                        <input type="text" v-model="model.accreditation">
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_Gender">
                                        <span>Gender *:</span>
                                        <select v-model="model.gender">
                                            <option value="">Select a value</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_Website">
                                        <span>Website:</span>
                                        <input type="text" v-model="model.website">
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_PhoneMobile">
                                        <span>Mobile Phone *:</span>
                                        <masked-input v-model="model.phoneMobile" mask="\+\1 (111) 111-1111" type="text" />
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_PhoneOffice">
                                        <span>Office Phone:</span>
                                        <masked-input v-model="model.phoneOffice" mask="\+\1 (111) 111-1111" type="text" />
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_Linkedin">
                                        <span>Linkedin:</span>
                                        <input type="text" v-model="model.linkedin">
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_Facebook">
                                        <span>Facebook:</span>
                                        <input type="text" v-model="model.facebook">
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_Instagram">
                                        <span>Instagram:</span>
                                        <input type="text" v-model="model.instagram">
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_Twitter">
                                        <span>Twitter:</span>
                                        <input type="text" v-model="model.twitter">
                                        <span class="error"></span>
                                    </div>
                                    <div class="form-group input-with-label col-sm-6 text-left" id="group_Twitter">
                                        <span>Twitter:</span>
                                        <multiselect v-model="model.location"
                                                     id="ajax"
                                                     label="name"
                                                     track-by="id"
                                                     placeholder="Type to search"
                                                     open-direction="bottom"
                                                     :custom-label="nameWithProvince"
                                                     :clear-on-select="true"
                                                     :options="cities"
                                                     :searchable="true"
                                                     :loading="isLoading"
                                                     :internal-search="false"
                                                     :close-on-select="true"
                                                     :options-limit="300"
                                                     :max-height="600"
                                                     :show-no-results="true"
                                                     :multiple="true"
                                                     @search-change="onChangeLocation">
                                            <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
                                        </multiselect>
                                        <span class="error"></span>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <router-link style="margin-top:20px;" :to="{ name: 'completeRole' }" class="btn btn-sm btn-filled bitbutton"> Retour </router-link>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="submit" style="margin-top:20px;" value="Soumettre">
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                    <!--end of row-->

                </div>
                <!--end of container-->
            </section>
            <footer class="footer-1 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <img alt="Logo" class="logo" src="../../assets/logo-light.png">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Recent Posts</h6>
                                <hr>
                                <ul class="link-list recent-posts">
                                    <li>
                                        <a href="#">Hugging pugs is super trendy</a>
                                        <span class="date">
                                            February
                                            <span class="number">14, 2015</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">Spinning vinyl is oh so cool</a>
                                        <span class="date">
                                            February
                                            <span class="number">9, 2015</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">Superior theme design by pros</a>
                                        <span class="date">
                                            January
                                            <span class="number">27, 2015</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Latest Updates</h6>
                                <hr>
                                <div class="twitter-feed">
                                    <div class="tweets-feed" data-widget-id="492085717044981760" id="tweets-0">
                                    </div>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Instagram</h6>
                                <hr>
                                <div class="instafeed" data-user-name="mrareweb">
                                    <ul></ul>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="sub">© Copyright 2016 - Medium Rare</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <ul class="list-inline social-list">
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-vimeo-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end of container-->
                <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
            </footer>
    </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'
    import Transformer from '@/transformers/CompleteInformationTransformer'
    import service from '@/services/index'

    export default {
        /**
        * The name of the page.
        */
        name: 'completeInformation',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                isSeller: false,
                isLoading: false,
                value: null,
                options: ['list', 'of', 'options'],
                cities: [],
                model: {
                    firstName: '',
                    lastName: '',
                    gender: '',
                    phoneMobile: '',
                    phoneOffice: '',
                    website: '',
                    linkedin: '',
                    facebook: '',
                    instagram: '',
                    twitter: '',
                    accreditationNumber: ''
                }
            }
        },

        created: function () {
            // this.find()
        },

        /**
        * The methods the page can use.
        */
        methods: {
            /**
            * Will register the user.
            *
            * @param {Object} model The user to be registered.
            */
            submit: function (model) {
                this.isLoading = true
                this.$http.post('/auth/complete_information', Transformer.send(model)).then(response => {
                    // get status
                    try {
                        if (response.data.status) {
                            location.replace('/auth/complete_done')
                            // this.$store.dispatch('alert/message', { message: response.data.data.message, status: true, success: response.data.data.success })
                        } else {
                            service.errorMessage(response.data)
                        }
                    } catch (err) {
                        // console.log(err)
                    }
                    this.isLoading = false
                }, response => {
                    // get failed
                    console.log(response)
                    this.isLoading = false
                })
            },

            /**
            * Will retrieve data user.
            *
            *  The user to be retrieved.
            */
            find: function () {
                this.$http.get('/auth/me').then(response => {
                    // get status
                    try {
                        if (response.data.status) {
                            this.model = Object.assign({}, this.model, {
                                firstName: response.data.data.firstName,
                                lastName: response.data.data.lastName,
                                gender: (response.data.data.gender === null) ? '' : response.data.data.gender,
                                phoneMobile: response.data.data.phone,
                                phoneOffice: '',
                                website: '',
                                linkedin: '',
                                facebook: '',
                                instagram: '',
                                twitter: ''
                            })
                            this.isSeller = response.data.data.role.split(',').includes('ROLE_SELLER')
                        } else {
                            location.replace('/auth/logout')
                        }
                    } catch (err) {
                        // console.log(err)
                    }
                }, response => {
                    // get failed
                    console.log(response)
                    this.isLoading = false
                })
            },
            nameWithProvince: function ({ name, province }) {
                return `${province.name}, ${name}`
            },
            asyncFind: function (query) {
                this.isLoading = true
                this.$http.get('/api/cities', { params: { q: query } }).then(response => {
                    // get status
                    this.isLoading = false
                    this.cities = response.data
                }, response => {
                    // get failed
                    console.log(response)
                })
            },
            onChangeLocation: function (searchQuery) {
                if (searchQuery.length >= 3) {
                    this.asyncFind(searchQuery)
                }
            }

        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
