<template>
    <v-layout>
            <section aria-label="breadcrumb" role="navigation">
         <div class="container-fluid">
            <div class="col-md-10">
               <ol class="breadcrumb bg-transparent pd-l-5">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="/auth">Authentication</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Verify code</li>
               </ol>
            </div>
         </div>
      </section>
      <section class="container">
            <div class="row mb-4">
               <div class="col text-center">
                  <img alt="Image" src="https://wingman.mediumra.re/assets/img/logo-gray.svg">
               </div>
               <!--end of col-->
            </div>
            <!--end of row-->
         </section>

         <section>
        <div class="container">
<div class="row justify-content-center">
<div class="col-12 col-md-10">
<div class="card card-lg">
  <form @submit.prevent="submit(model)" class="text-left">
<div class="card-body">
  <div class="text-center">
      <h2>Complete information</h2>
      <p>In order to use this service, you have to complete this verification process</p>
    </div>


<section id="completeInformation" class="pd-20 pd-y-30">
    
                          <!-- form row -->
                          <div class="form-row">
                            <!-- form column -->
                            <div class="col-md-6 mb-3">
                              <label for="input01">First Name</label> 
                                <input type="text" class="form-control" id="input01" v-model="model.firstName" />
                            </div><!-- /form column -->
                            <!-- form column -->
                            <div class="col-md-6 mb-3">
                              <label for="input02">Last Name</label> 
                              <input type="text" class="form-control" id="input02" v-model="model.lastName" />
                            </div><!-- /form column -->
                          </div><!-- /form row -->
                          <!-- .form-group -->
                          <div class="form-group">
                            <label for="input03">Gender</label> 
                            <select class="form-control" id="input03" v-model="model.gender">
                                            <option value="">Select a value</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                          </div><!-- /.form-group -->
                          <hr />

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                          <label for="input05">Website:</label>
                                        <input class="form-control" type="text" v-model="model.website">
                                </div>
                                <div class="col-md-4 mb-3">
                                        <label for="input05">Mobile Phone *:</label>
                                        <masked-input class="form-control" v-model="model.phoneMobile" mask="\+\1 (111) 111-1111" type="text" />
                                </div>
                                <div class="col-md-4 mb-3">
                                        <label for="input05">Office Phone:</label>
                                        <masked-input class="form-control" v-model="model.phoneOffice" mask="\+\1 (111) 111-1111" type="text" />
                                </div>
                            </div>

                            <div class="form-row">
                            <div class="col-md-3 mb-3">
                                        <label>Linkedin:</label>
                                        <input type="text" class="form-control" v-model="model.linkedin">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Facebook:</label>
                                        <input type="text" class="form-control" v-model="model.facebook">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Instagram:</label>
                                        <input type="text" class="form-control" v-model="model.instagram">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Twitter:</label>
                                        <input type="text" class="form-control" v-model="model.twitter">
                                    </div>
                            </div>
                          <!-- .form-actions -->
                        
</section>
</div>
  </form>
</div>
</div>
</div>
        </div>
         </section>
    </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'
    import Transformer from '@/transformers/CompleteInformationTransformer'
    import service from '@/services/index'

    export default {
        /**
        * The name of the page.
        */
        name: 'completeInformation',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                isSeller: false,
                model: {
                    firstName: '',
                    lastName: '',
                    gender: '',
                    phoneMobile: '',
                    phoneOffice: '',
                    website: '',
                    linkedin: '',
                    facebook: '',
                    instagram: '',
                    twitter: '',
                    accreditationNumber: ''
                }
            }
        },

        created: function () {
            // this.find()
        },

        /**
        * The methods the page can use.
        */
        methods: {
            /**
            * Will register the user.
            *
            * @param {Object} model The user to be registered.
            */
            submit: function (model) {
                this.isLoading = true
                this.$http.post('/auth/complete_information', Transformer.send(model)).then(response => {
                    // get status
                    try {
                        if (response.data.status) {
                            location.replace('/auth/complete_done')
                            // this.$store.dispatch('alert/message', { message: response.data.data.message, status: true, success: response.data.data.success })
                        } else {
                            service.errorMessage(response.data)
                        }
                    } catch (err) {
                        // console.log(err)
                    }
                    this.isLoading = false
                }, response => {
                    // get failed
                    console.log(response)
                    this.isLoading = false
                })
            },

            /**
            * Will retrieve data user.
            *
            *  The user to be retrieved.
            */
            find: function () {
                this.$http.get('/auth/me').then(response => {
                    // get status
                    try {
                        if (response.data.status) {
                            this.model = Object.assign({}, this.model, {
                                firstName: response.data.data.firstName,
                                lastName: response.data.data.lastName,
                                gender: (response.data.data.gender === null) ? '' : response.data.data.gender,
                                phoneMobile: response.data.data.phone,
                                phoneOffice: '',
                                website: '',
                                linkedin: '',
                                facebook: '',
                                instagram: '',
                                twitter: ''
                            })
                            this.isSeller = response.data.data.role.split(',').includes('ROLE_SELLER')
                        } else {
                            location.replace('/auth/logout')
                        }
                    } catch (err) {
                        // console.log(err)
                    }
                }, response => {
                    // get failed
                    console.log(response)
                    this.isLoading = false
                })
            }
        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
