<template>
   <v-layout>
      <modal :show="showForgotPassword" @close="showForgotPassword = false" />
      <section aria-label="breadcrumb" role="navigation">
         <div class="container-fluid">
            <div class="col-md-10">
               <ol class="breadcrumb bg-transparent pd-l-5">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="/auth">Authentication</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Login</li>
               </ol>
            </div>
            <!--end of col-->
         </div>
         <!--end of container-->
      </section>
      <div class="auth pb-5">
         <div class="container">
            <div class="row mb-4">
               <div class="col text-center">
                  <img alt="Image" src="https://wingman.mediumra.re/assets/img/logo-gray.svg">
               </div>
               <!--end of col-->
            </div>
            <!--end of row-->
         </div>
         <message-alert :alert="getMessage" />
         <form @submit.prevent="login(model)" ref="article" class="auth-form">
            <!-- .form-group -->
            <div class="form-group">
               <div class="form-label-group">
                  <input type="text" v-model="model.email" class="form-control" placeholder="Email">
                  <label>Email</label>
               </div>
            </div>
            <!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group">
               <div class="form-label-group"> 
                  <input type="password" v-model="model.password" class="form-control" placeholder="Password">
                  <label>Password</label>
               </div>
            </div>
            <!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group">
               <div class="custom-control custom-control-inline custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="newsletter"> <label class="custom-control-label" for="newsletter">Remember me</label>
               </div>
            </div>
            <!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group">
               <button :class="{'loading': isLoading}" class="btn btn-lg btn-danger btn-block" type="submit">Sign In</button>
            </div>
            <!-- /.form-group -->
            <!-- recovery links -->
            <p>
               <a @click="forgotPassword" href="javascript:;">Recover password &raquo;</a>
            </p>
            <p class="text-muted">
               Do not have an account? <a class="" href="/auth/register">Signup &raquo;</a>
            </p>
            <!-- /recovery links -->
         </form>
         <!-- /.auth-form -->
      </div>
   </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'login',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                isLoading: false,
                showForgotPassword: false,
                model: {
                    email: null,
                    password: null,
                    rememberMe: false,
                    redirectUrl: ''
                }
            }
        },


        /**
        * The methods the page can use.
        */
        methods: {
            /**
             * Will log the user in.
             *
             * @param {Object} user The user to be logged in.
             */
            login: function (model) {
                this.isLoading = true
                this.$http.post('/auth/login', model).then(response => {
                    try {
                        if (response.data.success) {
                          this.$router.push({
                            name: 'verifyCode',
                            query: { redirectUrl: '/' }
                          })
                        } else {
                            this.$store.dispatch('alert/message', { message: response.data.data.message, status: true, success: response.data.data.success })
                        }
                    } catch (err) {
                        // console.log(err)
                    }

                    this.isLoading = false
                }, response => {
                    // get failed
                    console.log(response)
                    this.isLoading = false
                })
            },
            forgotPassword: function (e) {
                let payload = { status: false, object: { message: null } }
                this.$store.dispatch('alert/message', payload)
                this.showForgotPassword = true
                e.preventDefault()
            }
        },

        computed: {
            getMessage: function () {
                let message = this.$store.state.alert
                if (message.status) {
                    this.model = { email: null, password: null, rememberMe: false, redirectUrl: '' }
                }
                return message
            }
        },


        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
