<template>
   <v-layout>
      <section aria-label="breadcrumb" role="navigation">
         <div class="container-fluid">
            <div class="col-md-10">
               <ol class="breadcrumb bg-transparent pd-l-5">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="/auth">Authentication</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Register</li>
               </ol>
            </div>
            <!--end of col-->
         </div>
         <!--end of container-->
      </section>
      <div class="auth pb-5">
         <div class="container">
            <div class="row mb-4">
               <div class="col text-center">
                  <img alt="Image" src="https://wingman.mediumra.re/assets/img/logo-gray.svg">
               </div>
               <!--end of col-->
            </div>
            <!--end of row-->
         </div>
         <message-alert :alert="getMessage" />
         <!-- form -->
         <form @submit.prevent="submit(model)" ref="form" class="auth-form">
            <div class="form-group">
               <div class="form-row">
                  <div class="col-md-6">
                     <div class="form-label-group js-form-group">
                        <input type="text" v-model="model.firstName" placeholder="firstName" class="form-control group_FirstName">
                        <label>First name</label>
                        <span class="error"></span>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-label-group js-form-group">
                        <input type="text" v-model="model.lastName" placeholder="lastName" class="form-control group_LastName">
                        <label>Last name</label>
                        <span class="error"></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-label-group js-form-group">
                  <input type="text" v-model="model.email" placeholder="email" class="form-control group_Email">
                  <label>Email address</label>
                  <span class="error"></span>
               </div>
            </div>
            <div class="form-group">
               <div class="form-label-group js-form-group">
                  <input type="password" v-model="model.password" @input="passwordCheck" placeholder="password" class="form-control group_Password">
                  <label>Password</label>
                  <span class="error"></span>
                  <small class="field-description">
                    <span class="description_tooltip right">
                      <p class="mg-0 tx-14 mg-l--20">Your password must have at least:</p>
                      <ul class="text-left">
                        <li><font-awesome-icon :class="{'text-success' :model.password.length > 7 }" class="ht-15 mg-b-3" icon="check-circle" /> Longer than 7 characters</li>
                        <li><font-awesome-icon :class="{'text-success' :hasUppercase }" class="ht-15 mg-b-3" icon="check-circle" /> A capital letter</li>
                        <li><font-awesome-icon :class="{'text-success' :hasLowercase }" class="ht-15 mg-b-3" icon="check-circle" /> A lowercase letter</li>
                        <li><font-awesome-icon :class="{'text-success' : hasSpecial }" class="ht-15 mg-b-3" icon="check-circle" /> A Special character</li>
                        <li><font-awesome-icon :class="{'text-success' : hasNumber }" class="ht-15 mg-b-3" icon="check-circle" /> A Number</li>
                      </ul>
                    </span>
                  </small>
               </div>
            </div>
            <div class="form-group">
               <div class="form-label-group js-form-group">
                  <input type="password" v-model="model.rePassword" placeholder="Confirm password" class="form-control group_RePassword">
                  <label>Confirm password</label>
                  <span class="error"></span>
               </div>
            </div>
            <div class="form-group">
               <button :class="{'loading': isLoading}" class="text-white btn btn-lg btn-danger btn-block" type="submit">Sign Up</button>
            </div>
            <p class="text-muted">
               Have an account? <a href="/auth/login">Signin &raquo;</a>
            </p>
            <p class="text-muted">
               By creating an account you agree to the <a href="/terms-of-use">Terms of Use</a> and <a href="/privacy-and-policy">Privacy Policy</a>. 
            </p>
         </form>
      </div>
   </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'
    import service from '@/services/index'

    export default {
        /**
        * The name of the page.
        */
        name: 'register',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                isLoading: false,
                hasNumber:    false,
                hasLowercase: false,
                hasUppercase: false,
                hasSpecial:   false,
                model: {
                    lastName: '',
                    firstName: '',
                    email: '',
                    password: '',
                    rePassword: ''
                }
            }
        },

        /**
        * The methods the page can use.
        */
        methods: {
            /**
            * Will register the user.
            *
            * @param {Object} model The user to be registered.
            */
            submit: function (model) {
              this.isLoading = true
              this.$http.post('/auth/register', model).then(response => {
                service.errorMessage({object: this.$refs, response: response.data})
                if (response.data.success) {
                  this.$store.dispatch('alert/message', { message: response.data.data.message, status: true, success: response.data.data.success })
                }
                this.isLoading = false
              }, response => {
                  // get failed
                  console.log(response)
                  this.isLoading = false
              })
            },
            passwordCheck: function () {
              this.hasNumber    = /\d/.test(this.model.password);
              this.hasLowercase = /[a-z]/.test(this.model.password);
              this.hasUppercase = /[A-Z]/.test(this.model.password);
              this.hasSpecial   = /[!@#\$%\^\&*\)\(+=._-]/.test(this.model.password);
            }
        },

        computed: {
            getMessage: function () {
                let message = this.$store.state.alert
                if (message.status) {
                    this.model = { lastName: '', firstName: '', email: '', password: '', rePassword: '' }
                }
                return message
            }
        },


        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
