<template>
    <v-layout>
        <section aria-label="breadcrumb" role="navigation">
         <div class="container-fluid">
            <div class="col-md-10">
               <ol class="breadcrumb bg-transparent pd-l-5">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="/auth">Authentication</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Verify code</li>
               </ol>
            </div>
            <!--end of col-->
         </div>
         <!--end of container-->
      </section>
      <div class="auth pb-5">
         <div class="container">
            <div class="row mb-4">
               <div class="col text-center">
                  <img alt="Image" src="https://wingman.mediumra.re/assets/img/logo-gray.svg">
               </div>
               <!--end of col-->
            </div>
            <!--end of row-->
         </div>
         <message-alert :alert="getMessage" />
         <form @submit.prevent="submit(model)" ref="form" class="auth-form">
            <!-- .form-group -->
            <div class="form-group">
               <div class="form-label-group">
                  <input type="text" v-model="model.verifyCode" class="form-control group_VerifyCode" placeholder="Verify code Sms">
                  <label>Verify sms code</label>
                  <span class="error"></span>
               </div>
            </div>
            <!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group">
               <button :class="{'loading': isLoading}" class="btn btn-lg btn-danger btn-block" type="submit">verify sms code</button>
            </div>
            <!-- /.form-group -->
            <!-- recovery links -->
            <p class="text-muted">
               Have an account? <a href="/auth/login">Signin &raquo;</a>
            </p>
            <!-- /recovery links -->
         </form>
         <!-- /.auth-form -->
      </div>
    </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'
    import service from '@/services/index'

    export default {
        /**
        * The name of the page.
        */
        name: 'verifyCode',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                isLoading: false,
                model: {
                    verifyCode: ''
                }
            }
        },

        /**
        * The methods the page can use.
        */
        methods: {
            /**
            * Will register the user.
            *
            * @param {Object} model The user to be registered.
            */
            submit: function (model) {
              this.isLoading = true
              this.$http.post('/auth/verify-code', model).then(response => {
                service.errorMessage({object: this.$refs, response: response.data})
                if (!response.data.success) {
                  if (!Array.isArray(response.data.data)) {
                    this.$store.dispatch('alert/message', { message: response.data.data.message, status: true, success: response.data.data.success })
                  }
                } else {
                  window.location.replace(this.$route.query.redirectUrl)
                }
                this.isLoading = false
              }, response => {
                  // get failed
                  console.log(response)
                  this.isLoading = false
              })
            }
        },

        computed: {
            getMessage: function () {
                let message = this.$store.state.alert
                if (message.status) {
                    this.model = {  verifyCode: '' }
                }
                return message
            }
        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
