<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proov</title>

    <link rel="stylesheet" href="~/static/css/bundle.css" />
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="~/style.css" data-skin="dark">

    <link rel="stylesheet" href="~/buuble.css" data-skin="dark">


<!--link rel="stylesheet" href="https://uselooper.com/assets/vendor/open-iconic/css/open-iconic-bootstrap.min.css"-->
    <!--link rel="stylesheet" href="https://uselooper.com/assets/vendor/fontawesome/css/all.css"-->

    <!-- app home -->

    <!-- BEGIN THEME STYLES -->
    <!--link rel="stylesheet" href="https://uselooper.com/assets/stylesheets/theme.min.css" data-skin="default"-->

    
  <!-- CSS Space Template -->
    <!--link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.3/assets/css/theme.css"-->
  <!--link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.3/assets/css/theme.css"-->



<!-- listing proposals -->
<!--link href="https://vuejobs.com/css/app.css?id=7fdcb876f6290d209747" rel="stylesheet"-->

<!-- listing proposal -->
 
    

    <!-- end listing proposql -->


<!-- some form opentable-->
<!--
<link href="https://media.otstatic.com/booking/css/booking.details-006cab94eee518117bfc.css" rel="stylesheet" type="text/css"/><link href="https://media.otstatic.com/booking/css/booking.details.reskin-dccc41dab357baf77b26.css" rel="stylesheet" type="text/css"/>
-->
<!-- end some form -->

<!-- multi step form-->
<!--
<link href="https://st.hzcdn.com/res/3973/fr-FR/css/style?f=pageDescriptions,filterRenderer,notifications,standardHeaderLight,standard-header-banner,secondaryMenu,subnav,subnav-new,headerSales,stickySignup,scrollToTop,countryFlags,productBadge,tradeProgram,hoverCard,proOnboarding,proOnboardingUtils,searchDropdown,jquery-ui-1.10.3.custom" rel="stylesheet" type="text/css" />
-->
<!-- end multistep form-->

    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="turbolinks-visit-control" content="reload">
</head>
<body>
    <!--partial name="_CookieConsentPartial" /-->
    @RenderBody()

    @RenderSection("Scripts", required: false)
    <script src="~/static/js/vendor.js" asp-append-version="true" data-turbolinks-track="reload"></script>
    <script src="~/static/js/bundle.js" asp-append-version="true" data-turbolinks-eval="false" data-turbolinks-suppress-warning=""></script>
</body>
</html>
