<template>
<div class="mkdf-property-single-holder">
         
      </div>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        list: {
          count: null,
          content: []
        }
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findAll()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function (param) {
        this.isLoading = true
        this.$http.get('/api/p/properties/list', {params: {typeOfProposal: 'for_sale'}}).then(response => {
          this.list.content = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      }
    },

    /**
     * The components the page can use.
     */
    components: {
    }
  }
</script>