<template>
    <v-layout>
      <div class="page-inner">
              <!-- .page-title-bar -->
              <div class="page-title-bar">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">
                            <a href="user-profile.html"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="user-profile.html"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview</a>
                        </li>
                    </ol>
                </nav>
              </div><!-- /.page-title-bar -->
              <!-- .page-section -->
              <div class="container">
                <!-- grid row -->
                <div class="row">
                  <!-- grid column -->
                  <div class="col-lg-4">
                    <!-- .card -->
                    <div class="card card-fluid">
                      <h6 class="card-header"> Your Details </h6><!-- .nav -->
                      <nav class="nav nav-tabs flex-column border-0">
                        <a href="user-profile-settings.html" class="nav-link">Profile</a> <a href="user-account-settings.html" class="nav-link active">Account</a> <a href="user-billing-settings.html" class="nav-link">Billing</a> <a href="user-notification-settings.html" class="nav-link">Notifications</a>
                      </nav><!-- /.nav -->
                    </div><!-- /.card -->
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-lg-8">
                    <!-- .card -->
                      <div class="card card-fluid">
                          <h6 class="card-header"> Account </h6><!-- .card-body -->
                          <div class="card-body">
                              <!-- form -->
                              <form method="post">
                                  
                                  <section class="pd-20 pd-y-30">
  
<div class="card-deck card-sm-gutters-2">
              <div class="card border-0">
                <div class="card-body p-0">
                  <div class="custom-control custom-checkbox custom-control-inline wd-100p pd-l-0 mg-r-0">
                    <input type="checkbox" v-model="model.role"  id="buyer" class="custom-control-input form-selector-modern__input" value="ROLE_BUYER" />
                    <label class="custom-control-label form-selector-modern__label" for="buyer">
                      <span class="d-block mt-n1">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 508 508" style="enable-background:new 0 0 508 508;" xml:space="preserve">
<circle style="fill:#FD8469;" cx="254" cy="254" r="254"/>
<path style="fill:#FFD05B;" d="M114.4,93.6c-10,0-18.4,8.4-18.4,18.4v340.8c11.6,9.2,24,17.6,36.8,24.4V112
  C132.8,102,124.4,93.6,114.4,93.6z"/>
<path style="fill:#F9B54C;" d="M72.8,155.6L72.8,155.6c0,4.4,3.6,8.4,8.4,8.4h346.4c4.4,0,8.4-3.6,8.4-8.4l0,0
  c0-4.4-3.6-8.4-8.4-8.4H80.8C76.4,147.6,72.8,151.2,72.8,155.6z"/>
<path style="fill:#FFFFFF;" d="M420,374H171.2c-8.4,0-15.2-6.8-15.2-15.2V205.6c0-8.4,6.8-15.2,15.2-15.2H420
  c8.4,0,15.2,6.8,15.2,15.2v152.8C435.2,366.8,428.4,374,420,374z"/>
<g>
  <path style="fill:#324A5E;" d="M253.2,220.4c2.4,0,4.8,2,4.8,4.4s-2,4.8-4.8,4.8h-22.8v13.6h18.4c2.4,0,4.4,2,4.4,4.4
    s-2,4.4-4.4,4.4h-18.4v18.4c0,2.4-2,4.4-4.8,4.4c-2.4,0-4.4-2-4.4-4.4v-45.6c0-2.4,2-4.4,4.4-4.4L253.2,220.4L253.2,220.4z"/>
  <path style="fill:#324A5E;" d="M268,247.6c0-15.2,11.6-27.6,26.4-27.6s26.4,12.4,26.4,27.6s-12,27.6-26.4,27.6S268,262.8,268,247.6
    z M277.2,247.6c0,10,7.6,18.4,17.2,18.4s17.2-8,17.2-18.4c0-10-7.6-18.4-17.2-18.4C284.8,229.6,277.2,237.6,277.2,247.6z"/>
  <path style="fill:#324A5E;" d="M314,344c-2.4,0-4.8-2-4.8-4.4v-46c0-2.4,2-4.4,4.8-4.4c2.4,0,4.4,2,4.4,4.4v41.2h16
    c2.4,0,4.8,2,4.8,4.8c0,2.4-2,4.4-4.8,4.4H314z"/>
  <path style="fill:#324A5E;" d="M388,339.2c0,2.4-2,4.4-4.8,4.4H358c-2.4,0-4.8-2-4.8-4.4v-45.6c0-2.4,2-4.4,4.8-4.4h25.2
    c2.4,0,4.8,2,4.8,4.4s-2,4.8-4.8,4.8h-20.4V312h16c2.4,0,4.4,2,4.4,4.4s-2,4.4-4.4,4.4h-16v13.6h20.4
    C385.6,334.8,388,336.8,388,339.2z"/>
  <path style="fill:#324A5E;" d="M370.8,238.8L370.8,238.8c0-4.8-1.6-8.8-4.4-12l0,0c-3.2-4-8.4-6.8-14-6.8h-13.2
    c-2.4,0-4.4,2-4.4,4.4V270c0,2.4,2,4.4,4.4,4.4s4.8-2,4.8-4.4v-13.2h8l10,15.6c2,3.6,5.6,2,6.4,1.6c1.6-0.8,3.2-3.2,1.6-6.4
    l-8.4-13.2C366.8,252,370.8,246,370.8,238.8z M352,247.6h-8v-18.4h8c5.2,0,9.2,4,9.2,9.2S356.8,247.6,352,247.6z"/>
  <path style="fill:#324A5E;" d="M220.8,311.6L220.8,311.6c-3.6,0-6.8-3.2-6.8-6.8c0-3.6,3.2-6.8,6.8-6.8c2,0,3.6,0.8,4.8,2
    c1.6,2,4.8,2,6.4,0c2-1.6,2-4.8,0-6.4c-3.2-3.2-7.2-5.2-11.6-5.2c-8.8,0-16,7.2-16,16s7.2,16,16,16c3.6,0,6.8,3.2,6.8,6.8
    c0,3.6-3.2,6.8-6.8,6.8c-2,0-3.6-0.8-4.8-2c-1.6-2-4.8-2-6.4,0c-2,1.6-2,4.8,0,6.4c3.2,3.2,7.2,5.2,11.6,5.2c8.8,0,16-7.2,16-16
    C236.8,318.8,229.6,311.6,220.8,311.6z"/>
  <path style="fill:#324A5E;" d="M276.8,292c-0.8-1.6-2.4-2.8-4.4-2.8s-3.6,1.2-4.4,2.8l-17.6,45.6c-0.8,2.4,0.4,5.2,2.8,6
    c0.4,0.4,4.4,1.2,6-2.8l4-10.8h18l4,10.8c0.8,2.4,3.6,3.6,6,2.8c2.4-0.8,3.6-3.6,2.8-6L276.8,292z M267.2,320.8l5.6-14.4l5.6,14.4
    H267.2z"/>
</g>

</svg>
                        <span class="h3 d-inline-block text-primary mb-1">Buyer</span>
                      </span>
                      <small class="d-block text-muted">All core features you need to track your expenses</small>
                    </label>
                  </div>
                </div>
              </div>

              <div class="card border-0">
                <div class="card-body p-0">
                  <div class="custom-control custom-radio custom-control-inline wd-100p pd-l-0 mg-r-0">
                    <input type="checkbox" v-model="model.role"  id="tenant" class="custom-control-input form-selector-modern__input" value="ROLE_TENANT" />
                    <label class="custom-control-label form-selector-modern__label" for="tenant">
                      <span class="d-block mt-n1">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 508 508" style="enable-background:new 0 0 508 508;" xml:space="preserve">
<circle style="fill:#90DFAA;" cx="254" cy="254" r="254"/>
<path style="fill:#2B3B4E;" d="M114.4,93.6c-10,0-18.4,8.4-18.4,18.4v340.8c11.6,9.2,24,17.6,36.8,24.4V112
  C132.8,101.6,124.4,93.6,114.4,93.6z"/>
<path style="fill:#324A5E;" d="M72.8,155.6L72.8,155.6c0,4.4,3.6,8.4,8.4,8.4h346.4c4.4,0,8.4-3.6,8.4-8.4l0,0
  c0-4.4-3.6-8.4-8.4-8.4H80.8C76.4,147.2,72.8,151.2,72.8,155.6z"/>
<path style="fill:#FFFFFF;" d="M420,373.6H171.2c-8.4,0-15.2-6.8-15.2-15.2V205.6c0-8.4,6.8-15.2,15.2-15.2H420
  c8.4,0,15.2,6.8,15.2,15.2v152.8C435.2,366.8,428.4,373.6,420,373.6z"/>
<g>
  <path style="fill:#FF7058;" d="M286,334.4c0,2-1.6,4-4,4h-22c-2.4,0-4-1.6-4-4v-40c0-2,1.6-4,4-4h22c2.4,0,4,1.6,4,4s-1.6,4-4,4
    h-18v12h14c2,0,4,1.6,4,4c0,2-1.6,4-4,4h-14v12h18C284.4,330.4,286,332,286,334.4z"/>
  <path style="fill:#FF7058;" d="M326.8,336.4L306,306.8V334c0,2-2,4-4,4s-4-1.6-4-4v-40c0-2,1.6-4,4-4c1.2,0,2.4,0.8,3.2,1.6
    l20.8,29.6V294c0-2,1.6-4,4-4c2,0,4,1.6,4,4v40c0,2-1.6,4-4,4C328.8,338.4,327.6,337.6,326.8,336.4z"/>
  <path style="fill:#FF7058;" d="M374.4,290.4c2,0,4,1.6,4,4s-2,4-4,4h-8v36c0,2-2,4-4,4s-4-1.6-4-4v-36h-8c-2,0-4-1.6-4-4
    c0-2,1.6-4,4-4H374.4z"/>
  <path style="fill:#FF7058;" d="M256.8,225.6c2.4,0,4,2,4,4c0,2.4-2,4-4,4h-20.4V246h16.4c2.4,0,4,2,4,4c0,2.4-2,4-4,4h-16.4v16.4
    c0,2.4-2,4-4,4c-2.4,0-4-2-4-4v-40.8c0-2.4,2-4,4-4H256.8z"/>
  <path style="fill:#FF7058;" d="M270.4,250.4c0-13.6,10.8-24.8,23.6-24.8c13.2,0,23.6,11.2,23.6,24.8s-10.8,24.8-23.6,24.8
    C281.2,275.2,270.4,264,270.4,250.4z M278.8,250.4c0,9.2,6.8,16.4,15.6,16.4c8.4,0,15.6-7.2,15.6-16.4c0-9.2-6.8-16.4-15.6-16.4
    C285.6,234,278.8,241.2,278.8,250.4z"/>
  <path style="fill:#FF7058;" d="M363.2,242.4L363.2,242.4c0-4.4-1.6-8-4-10.8l0,0c-3.2-3.6-7.6-6-12.8-6h-11.6c-2.4,0-4,2-4,4v41.2
    c0,2.4,2,4,4,4c2.4,0,4-2,4-4v-12h7.2l8.8,14.4c2,3.2,5.2,1.6,5.6,1.2c1.2-0.8,3.2-2.8,1.2-5.6l-7.6-12
    C359.6,254,363.2,248.8,363.2,242.4z M346.4,250.4h-7.2V234h7.2c4.4,0,8.4,3.6,8.4,8.4C354.4,246.8,350.8,250.4,346.4,250.4z"/>
  <path style="fill:#FF7058;" d="M246,306.4L246,306.4c0-4.4-1.6-8-4-10.8l0,0c-3.2-3.6-7.6-6-12.8-6h-11.6c-2.4,0-4,2-4,4v41.2
    c0,2.4,2,4,4,4c2.4,0,4-2,4-4v-12h7.2l8.8,14.4c2,3.2,5.2,1.6,5.6,1.2c1.2-0.8,3.2-2.8,1.2-5.6l-7.6-12
    C242.4,318,246,312.8,246,306.4z M229.2,314.4H222V298h7.2c4.4,0,8.4,3.6,8.4,8.4C237.6,310.8,233.6,314.4,229.2,314.4z"/>
</g>
</svg>
                        <span class="h3 d-inline-block text-primary mb-1">Tenant</span>
                      </span>
                      <small class="d-block text-muted">Create the perfect flow for your growing business</small>
                    </label>
                  </div>
                </div>
              </div>

              <div class="card border-0">
                <div class="card-body p-0">
                  <div class="custom-control custom-checkbox custom-control-inline wd-100p pd-l-0 mg-r-0">
                    <input type="checkbox" v-model="model.role" class="custom-control-input form-selector-modern__input" id="seller" value="ROLE_SELLER" />
                    <label class="custom-control-label form-selector-modern__label" for="seller">
                      <span class="d-block mt-n1">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 508 508" style="enable-background:new 0 0 508 508;" xml:space="preserve">
<circle style="fill:#324A5E;" cx="254" cy="254" r="254"/>
<polygon style="fill:#FFFFFF;" points="420,223.2 254,88.8 190,140.8 190,120.4 148.4,120.4 148.4,174.4 88,223.2 126,223.2 
  126,419.2 382,419.2 382,223.2 "/>
<circle style="fill:#FFD05B;" cx="254" cy="280.4" r="98.8"/>
<circle style="fill:#F9B54C;" cx="254" cy="280.4" r="84"/>
<circle style="fill:#FFD05B;" cx="254" cy="280.4" r="73.6"/>
<path style="fill:#FFFFFF;" d="M254,275.2c-10.8,0-19.2-8.8-19.2-19.2c0-10.8,8.8-19.2,19.2-19.2l0,0l0,0c10.8,0,19.2,8.8,19.2,19.2
  c0,2.8,2.4,5.2,5.2,5.2c2.8,0,5.2-2.4,5.2-5.2c0-14.8-10.8-26.8-24.4-29.2v-3.6c0-2.8-2.4-5.2-5.2-5.2s-5.2,2.4-5.2,5.2v3.6
  c-14,2.4-24.4,14.8-24.4,29.2c0,16.4,13.2,30,30,30c10.8,0,19.2,8.8,19.2,19.2s-8.8,19.2-19.2,19.2c-10.8,0-19.2-8.8-19.2-19.2
  c0-2.8-2.4-5.2-5.2-5.2s-5.2,2.4-5.2,5.2c0,14.8,10.8,26.8,24.4,29.2v3.6c0,2.8,2.4,5.2,5.2,5.2c2.8,0,5.2-2.4,5.2-5.2v-3.6
  c14-2.4,24.4-14.8,24.4-29.2C284,288.8,270.4,275.2,254,275.2z"/>
</svg>
                        <span class="h3 d-inline-block text-primary mb-1">Seller</span>
                      </span>
                      <small class="d-block text-muted">All core features you need to track your expenses</small>
                    </label>
                  </div>
                </div>
              </div>

              <div class="card border-0">
                <div class="card-body p-0">
                  <div class="custom-control custom-checkbox custom-control-inline wd-100p pd-l-0 mg-r-0">
                    <input type="checkbox" v-model="model.role"  id="lessor" class="custom-control-input form-selector-modern__input" value="ROLE_LESSOR" />
                    <label class="custom-control-label form-selector-modern__label" for="lessor">
                      <span class="d-block mt-n1">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 508 508" style="enable-background:new 0 0 508 508;" xml:space="preserve">
<circle style="fill:#FFD05B;" cx="254" cy="254" r="254"/>
<polygon style="fill:#FFFFFF;" points="416.8,251.2 375.2,439.2 133.2,439.2 91.6,251.2 254,118.8 "/>
<path style="fill:#324A5E;" d="M454,236.4L265.6,81.6c-3.2-2.4-7.2-4-11.2-4l0,0l0,0c-4,0-8,1.6-11.2,4L54,236.4
  c-8,6.4-8.8,18.8-1.2,26c6.4,6.4,16,6.8,23.2,1.6l0.4-0.4L254,118.8l0,0l0,0l177.2,144.8l0.4,0.4c6.8,5.2,16.8,4.8,23.2-1.6
  C462.8,254.8,462,242.8,454,236.4z"/>
<g>
  <circle style="fill:#4CDBC4;" cx="254" cy="296.8" r="64.4"/>
  <circle style="fill:#4CDBC4;" cx="355.6" cy="296.8" r="16.4"/>
  <circle style="fill:#4CDBC4;" cx="152.4" cy="296.8" r="16.4"/>
</g>
<path style="fill:#FFFFFF;" d="M276.4,312.8c0-12.4-10-22.4-22.4-22.4c-5.2,0-9.6-4.4-9.6-9.6s4.4-9.6,9.6-9.6
  c2.8,0,5.2,1.2,6.8,3.2c2.4,2.4,6.4,2.8,9.2,0.4c2.4-2.4,2.8-6.4,0.4-9.2c-2.8-2.8-6-4.8-10-6v-4.4c0-3.6-2.8-6.4-6.4-6.4
  s-6.4,2.8-6.4,6.4v4.4c-9.2,2.8-16,11.2-16,21.6c0,12.4,10,22.4,22.4,22.4c5.2,0,9.6,4.4,9.6,9.6s-4.4,9.6-9.6,9.6
  c-2.8,0-5.2-1.2-6.8-3.2c-2.4-2.4-6.4-2.8-9.2-0.4c-2.4,2.4-2.8,6.4-0.4,9.2c2.8,2.8,6,4.8,10,6v4.4c0,3.6,2.8,6.4,6.4,6.4
  c3.6,0,6.4-2.8,6.4-6.4v-4.4C269.6,331.6,276.4,323.2,276.4,312.8z"/>
</svg>
                        <span class="h3 d-inline-block text-primary mb-1">Lessor</span>
                      </span>
                      <small class="d-block text-muted">All core features you need to track your expenses</small>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            </section>
 
                              </form><!-- /form -->
                          </div><!-- /.card-body -->
                          <div class="card-footer text-center">
                              <!-- .card-footer -->
                              <button class="btn btn-danger">Submit</button>
                              <button class="btn btn-secondary">Reset</button>
                          </div><!-- /.card-footer -->
                      </div><!-- /.card -->
                  </div><!-- /grid column -->
                </div><!-- /grid row -->
              </div><!-- /.page-section -->
            </div>
    </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'editRole',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                isLoading: false,
                model: {
                    role: [],
                }
            }
        },

        created: function () {
            // this.find()
        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
