<template>
    <v-layout>
      <section class="bg-white pd-t-30 pd-b-10">
        <div class="container">
          <div class="row">
            <div class="col-auto order-md-2 mb-4">
              <div class="dropdown">
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Discussion Options
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
            <!--end of col-->
            <div class="col order-md-1 pd-l-150">
              <h3 class="mb-0">Daniel Cameron</h3>
              <span class="h6 mb-0">28th February 2018 • 8:20am</span>
              <div class="d-flex align-items-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <span class="badge badge-secondary"><i class="icon-code mr-1"></i>Development</span>
                  </li>
                  <li class="list-inline-item">
                    <span class="badge badge-success">On track</span>
                  </li>
                  <li class="list-inline-item text-small"><i class="icon-thumbs-up"></i> 8</li>
                  <li class="list-inline-item text-small"><i class="icon-message"></i> 7</li>
                </ul>
              </div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="flush-with-above shadow-bottom">
        <div class="bg-white">
          <div class="container">
            <div class="row">
              <div class="col pd-l-130">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Overview</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Propositions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Statistics</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Settings</a>
                  </li>
                </ul>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </div>
      </section>
      <section class="space-sm">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-12 col-md-8 col-lg-7 mg-t--100">
              <div class="d-flex align-items-end mb-4">
                <img alt="Image" src="https://wingman.mediumra.re/assets/img/photo-room-table.jpg" class="avatar avatar-lg rounded">
              </div>
              <div>
                <h1 class="mb-0">Bench Coworking</h1>
                <h2 class="lead mb-3">A Brooklyn-based creative collective</h2>
                <div class="d-flex align-items-center">
                  <span class="badge badge-secondary mr-3">Productivity</span>
                  <ul class="list-inline text-small d-inline-block">
                    <li class="list-inline-item"><i class="icon-thumbs-up"></i> 214</li>
                    <li class="list-inline-item"><i class="icon-message"></i> 6</li>
                  </ul>
                </div>
              </div>
              <hr>
              <h5 class="mb-4">Overview</h5>
              <article>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <a href="#">labore et dolore</a> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </p>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                  sit aspernatur aut odit aut fugit
                </p>
                <p>
                  Rerum facilis est et expedita distinctio. Nam
                  <abbr title="Hyper Text Markup Language">HTML</abbr>tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis
                  aut rerum necessitatibus saepe eveniet ut.
                </p>
                <ul>
                  <li>
                    Temporibus autem quibusdam
                  </li>
                  <li>
                    Saepe eveniet ut et voluptates repudiandae sint
                  </li>
                  <li>
                    Nemo enim ipsam voluptatem quia voluptas
                  </li>
                  <li>
                    Atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                  </li>
                </ul>
              </article>

            </div>
            <!--end of col-->
            <div class="col-12 col-md-4">
              <div class="card">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6052.255779374734!2d-73.9634766!3d40.671151!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b0a45bce6bb%3A0x5bf020f45a685ee6!2s200+Eastern+Pkwy%2C+Brooklyn%2C+NY+11238%2C+USA!5e0!3m2!1sen!2sau!4v1512181921736" allowfullscreen="" class="card-img-top w-100"></iframe>
                <div class="card-body">
                  <h5>Bench Coworking</h5>
                  <p>
                    200 Eastern Pkwy
                    <br>Brooklyn, NY 11238 USA
                  </p>
                  <div>
                    <a href="#" class="btn btn-outline-primary">Directions</a>
                    <a href="#" class="btn btn-outline-primary"><i class="icon-phone"></i></a>
                  </div>
                </div>
              </div>
              <div class="card card-borderless bg-secondary">
                <a class="card-body" href="#">
                  <div class="d-flex justify-content-between mb-3">
                    <img alt="Image" src="https://wingman.mediumra.re/assets/img/logo-w-gradient.svg">
                    <span class="title-decorative">Sponsor</span>
                  </div>
                  <span class="h6">A robust suite of styled elements and pages for Bootstrap 4</span>
                </a>
              </div>
              <!--end of card-->
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div>
                    <span class="h6">Members (213)</span>
                  </div>
                  <a href="#">View all ›</a>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled list-spacing-sm">

                    <li>
                      <a class="media" href="#">
                        <img alt="Image" src="https://wingman.mediumra.re/assets/img/avatar-male-1.jpg" class="avatar avatar-sm mr-3">
                        <div class="media-body">
                          <span class="h6 mb-0">Daniel Cameron</span>
                          <span class="text-muted">Product Designer</span>
                        </div>
                      </a>
                    </li>

                    <li>
                      <a class="media" href="#">
                        <img alt="Image" src="https://wingman.mediumra.re/assets/img/avatar-female-1.jpg" class="avatar avatar-sm mr-3">
                        <div class="media-body">
                          <span class="h6 mb-0">Caitlyn Halsy</span>
                          <span class="text-muted">Marketing Professional</span>
                        </div>
                      </a>
                    </li>

                    <li>
                      <a class="media" href="#">
                        <img alt="Image" src="https://wingman.mediumra.re/assets/img/avatar-male-2.jpg" class="avatar avatar-sm mr-3">
                        <div class="media-body">
                          <span class="h6 mb-0">Toby Marsh</span>
                          <span class="text-muted">Developer</span>
                        </div>
                      </a>
                    </li>

                    <li>
                      <a class="media" href="#">
                        <img alt="Image" src="https://wingman.mediumra.re/assets/img/avatar-female-2.jpg" class="avatar avatar-sm mr-3">
                        <div class="media-body">
                          <span class="h6 mb-0">Lucille Freebody</span>
                          <span class="text-muted">Graphic Designer</span>
                        </div>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
              <!-- end card -->
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div>
                    <span class="h6">Related Groups</span>
                  </div>
                  <a href="#">View all ›</a>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled list-spacing-sm">

                    <li>
                      <div class="media">
                        <a href="#">
                          <img alt="Image" src="https://wingman.mediumra.re/assets/img/graphic-product-bench-thumb.jpg" class="avatar avatar-square rounded mr-3">
                        </a>
                        <div class="media-body">
                          <a href="#">
                            <span class="h6">Bench</span>
                          </a>
                          <span class="badge badge-secondary">Productivity</span>
                          <div class="text-muted">
                            <ul class="list-inline">
                              <li class="list-inline-item">
                                <small><i class="icon-heart"></i> 373</small>
                              </li>
                              <li class="list-inline-item">
                                <small><i class="icon-message"></i> 62</small>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="media">
                        <a href="#">
                          <img alt="Image" src="https://wingman.mediumra.re/assets/img/graphic-product-kin-thumb.jpg" class="avatar avatar-square rounded mr-3">
                        </a>
                        <div class="media-body">
                          <a href="#">
                            <span class="h6">Kin</span>
                          </a>
                          <span class="badge badge-secondary">Lifestyle</span>
                          <div class="text-muted">
                            <ul class="list-inline">
                              <li class="list-inline-item">
                                <small><i class="icon-heart"></i> 84</small>
                              </li>
                              <li class="list-inline-item">
                                <small><i class="icon-message"></i> 21</small>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="media">
                        <a href="#">
                          <img alt="Image" src="https://wingman.mediumra.re/assets/img/graphic-product-paydar-thumb.jpg" class="avatar avatar-square rounded mr-3">
                        </a>
                        <div class="media-body">
                          <a href="#">
                            <span class="h6">Paydar</span>
                          </a>
                          <span class="badge badge-secondary">Productivity</span>
                          <div class="text-muted">
                            <ul class="list-inline">
                              <li class="list-inline-item">
                                <small><i class="icon-heart"></i> 253</small>
                              </li>
                              <li class="list-inline-item">
                                <small><i class="icon-message"></i> 19</small>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="media">
                        <a href="#">
                          <img alt="Image" src="https://wingman.mediumra.re/assets/img/graphic-product-pipeline-thumb.jpg" class="avatar avatar-square rounded mr-3">
                        </a>
                        <div class="media-body">
                          <a href="#">
                            <span class="h6">pipeline.js</span>
                          </a>
                          <span class="badge badge-secondary">Development</span>
                          <div class="text-muted">
                            <ul class="list-inline">
                              <li class="list-inline-item">
                                <small><i class="icon-heart"></i> 84</small>
                              </li>
                              <li class="list-inline-item">
                                <small><i class="icon-message"></i> 25</small>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
              <!-- end card -->
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
    </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'editRole',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                isLoading: false,
                model: {
                    role: [],
                }
            }
        },

        created: function () {
            // this.find()
        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
