.btn {
	font-size: 14.95px;
}
























@media only screen and (min-width: 1260px) {
	.description_tooltip {
		width: 17em;
		position: absolute;
		top: 0;
		right: 100%;
		margin-right: 24px;
		padding: 20px 20px;
		font-size: 15px;
		font-weight: 300;
		line-height: 25px;
		color: #919191;
		background: white;
		box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
		margin-top: -1px;
		border-radius: 4px;
		opacity: 1;
		text-align: center;
	}
	.description_tooltip:after {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		border: 1px solid transparent;
		background: white;
		border-top-color: rgba(0, 0, 0, 0.075);
		border-right-color: rgba(0, 0, 0, 0.075);
		position: absolute;
		top: 16px;
		right: -9px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.description_tooltip.left {
		/*top: -45px;*/
	}
	.description_tooltip.right {
		right: auto;
		margin-right: 0;
		left: 100%;
		margin-left: 24px;
	}
	.description_tooltip.right:after {
		border-right-color: transparent;
		border-left-color: rgba(0, 0, 0, 0.075);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		right: auto;
		left: -9px;
	}
}












