




















.form-label-group {
	position: relative
}

.form-label-group>input,
.form-label-group>label {
	padding: 0 .75rem
}

.form-label-group input,
.form-label-group select {
	padding-top: 1.25rem;
	padding-bottom: 0.25rem;
	height: auto
}

.form-label-group>label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	width: 100%;
	margin-bottom: 0;
	line-height: 1.5;
	text-align: left;
	font-size: .75rem;
	color: #888c9b;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
	pointer-events: none
}




.form-label-group input:-ms-input-placeholder,
.form-label-group input::-ms-input-placeholder {
	color: transparent
}

.form-label-group input::placeholder {
	color: transparent
}

.form-label-group input:placeholder-shown {
	padding-top: .75rem;
	padding-bottom: .75rem
}


.form-label-group input:placeholder-shown~label {
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #888c9b;
	font-size: inherit
}
/*
.form-label-group input.placeholder-shown {
	padding-top: .75rem;
	padding-bottom: .75rem
}

.form-label-group input.placeholder-shown~label {
	padding-top: 0rem;
	color: #888c9b;
	font-size: inherit
}*/








































































canvas.particles-js-canvas-el {
	position: absolute;
	top: 0;
	left: 0
}





















.figure-description {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2.25rem .5rem;
	background-color: rgba(34, 34, 48, .96);
	opacity: 0;
	transition: all .3s ease;
	z-index: 1
}













.auth {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	min-height: 100%;
	/*background-color: #191927*/
}

.auth-header {
	position: relative;
	padding: 2rem 1.25rem 0;
	width: 100%;
	background-color: #dc3545;
	color: #fff;
	text-align: center;
	background-size: cover
}

@media (min-width:768px) {
	.auth-header {
		margin-bottom: -3rem;
		padding-top: 6rem;
		padding-bottom: 3rem
	}
	.auth-header .container {
		padding: 0;
		max-width: 420px
	}
}

.auth-header a {
	color: #f7c46c;
	text-decoration: underline
}

.auth-header a:focus,
.auth-header a:hover {
	color: #d3a860
}

.auth-header canvas {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none
}

.auth-form {
	position: relative;
	padding: 2rem 1.25rem 0;
	width: 100%;
	z-index: 1
}

@media (min-width:768px) {
	.auth-form {
		padding: 3rem 2rem 1rem;
		max-width: 420px;
		border-radius: .25rem;
		background-color: #fff;
		box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
	}
}

.auth-form .link {
	text-decoration: underline
}

.auth-floated {
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: stretch;
	align-items: stretch
}

.auth-floated .auth-form {
	max-width: 100%;
	border-radius: 0;
	padding-top: 2rem;
	text-align: center;
	z-index: 2
}

@media (min-width:992px) {
	.auth-floated .auth-form {
		max-width: 33.333333%
	}
}

.auth-floated .auth-announcement {
	display: none;
	padding: 6rem 3rem;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	color: #fff;
	background-color: #346cb0;
	background-size: cover
}

@media (min-width:992px) {
	.auth-floated .auth-announcement {
		display: block
	}
}

.auth-floated .announcement-title {
	font-size: 1.5rem;
	margin-bottom: 1.5rem
}

.auth-floated .announcement-body {
	position: relative;
	z-index: 2
}

.auth-footer {
	padding: 1rem;
	color: #888c9b
}

@media (min-width:768px) {
	.auth-footer {
		max-width: 420px
	}
}



