<template>
   <v-layout>
      <section aria-label="breadcrumb" role="navigation">
         <div class="container-fluid">
            <div class="col-md-10">
               <ol class="breadcrumb bg-transparent pd-l-5">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="/auth">Authentication</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Register</li>
               </ol>
            </div>
            <!--end of col-->
         </div>
         <!--end of container-->
      </section>
   <section class="bg-white">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col">
              <div class="media align-items-center">
                <div class="media-body">
                  <h1 class="mb-0">Pipeline UX Overhaul</h1>
                  <h2 class="lead mb-2">Redevelopment of all facets of user experience</h2>
                  <div class="d-flex align-items-center">
                    <span class="badge badge-success mr-3">On Track</span>
                    <ul class="list-inline text-small d-inline-block">
                      <li class="list-inline-item"><i class="icon-user mr-1"></i> 4</li>
                      <li class="list-inline-item"><i class="icon-message mr-1"></i> 19</li>
                      <li class="list-inline-item"><i class="icon-attachment mr-1"></i> 12</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--end of col-->
            <div class="col-auto">
              <button class="btn btn-outline-secondary"><i class="socicon-github mr-1"></i> Repository
                <span class="badge badge-secondary">+5</span>
              </button>
              <button class="btn btn-outline-secondary"><i class="icon-download mr-1"></i> Download</button>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="bg-white space-sm flush-with-above">
        <div class="container">
          <div class="row mb-3">
            <div class="col">
              <div class="progress">
                <div class="progress-bar bg-success opacity-50" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
          <div class="row text-center">
            <div class="col opacity-50">
              <span>Branding</span>
              <br>
              <small class="text-muted"><i class="icon-check mr-1"></i>Completed: 24th March</small>
            </div>
            <!--end of col-->
            <div class="col">
              <span>Prototypes</span>
              <br>
              <small class="text-muted"><i class="icon-calendar mr-1"></i>Due: 3rd April</small>
            </div>
            <!--end of col-->
            <div class="col">
              <span>Development</span>
              <br>
              <small class="text-muted"><i class="icon-calendar mr-1"></i>Due: 19th April</small>
            </div>
            <!--end of col-->
            <div class="col">
              <span>Delivery</span>
              <br>
              <small class="text-muted"><i class="icon-calendar mr-1"></i>Due: 31st April</small>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="flush-with-above space-0">
        <div class="bg-white">
          <div class="container">
            <div class="row">
              <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Overview</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Propositions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Statistics</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Settings</a>
                  </li>
                </ul>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </div>
      </section>
      <router-view></router-view>
   </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'
    import Transformer from '@/transformers/RoleTransformer'
    import service from '@/services/index'

    export default {
        /**
        * The name of the page.
        */
        name: 'buyList',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                isLoading: false,
                model: {
                    role: [],
                }
            }
        },

        created: function () {
            // this.find()
        },


        /**
        * The methods the page can use.
        */
        methods: {
        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
