<template>
   <v-layout>
      <section aria-label="breadcrumb" role="navigation">
         <div class="container-fluid">
            <div class="col-md-10">
               <ol class="breadcrumb bg-transparent pd-l-5">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="/auth">Authentication</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Register</li>
               </ol>
            </div>
            <!--end of col-->
         </div>
         <!--end of container-->
      </section>
   <section class="bg-white">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col">
              <div class="media align-items-center">
                <div class="media-body">
                  <h1 class="mb-0">Pipeline UX Overhaul</h1>
                  <h2 class="lead mb-2">Redevelopment of all facets of user experience</h2>
                  <div class="d-flex align-items-center">
                    <span class="badge badge-success mr-3">On Track</span>
                    <ul class="list-inline text-small d-inline-block">
                      <li class="list-inline-item"><i class="icon-user mr-1"></i> 4</li>
                      <li class="list-inline-item"><i class="icon-message mr-1"></i> 19</li>
                      <li class="list-inline-item"><i class="icon-attachment mr-1"></i> 12</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--end of col-->
            <div class="col-auto">
              <button class="btn btn-outline-secondary"><i class="socicon-github mr-1"></i> Repository
                <span class="badge badge-secondary">+5</span>
              </button>
              <button class="btn btn-outline-secondary"><i class="icon-download mr-1"></i> Download</button>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="bg-white space-sm flush-with-above">
        <div class="container">
          <div class="row mb-3">
            <div class="col">
              <div class="progress">
                <div class="progress-bar bg-success opacity-50" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
          <div class="row text-center">
            <div class="col opacity-50">
              <span>Branding</span>
              <br>
              <small class="text-muted"><i class="icon-check mr-1"></i>Completed: 24th March</small>
            </div>
            <!--end of col-->
            <div class="col">
              <span>Prototypes</span>
              <br>
              <small class="text-muted"><i class="icon-calendar mr-1"></i>Due: 3rd April</small>
            </div>
            <!--end of col-->
            <div class="col">
              <span>Development</span>
              <br>
              <small class="text-muted"><i class="icon-calendar mr-1"></i>Due: 19th April</small>
            </div>
            <!--end of col-->
            <div class="col">
              <span>Delivery</span>
              <br>
              <small class="text-muted"><i class="icon-calendar mr-1"></i>Due: 31st April</small>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="flush-with-above space-0">
        <div class="bg-white">
          <div class="container">
            <div class="row">
              <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Overview</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Propositions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Statistics</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Settings</a>
                  </li>
                </ul>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </div>
      </section>
      <div class="mkdf-property-single-holder">

         <div class="mkdf-container container">
            <div class="mkdf-container-inner clearfix">
               <div class="row">
                  <div class="col-md-9 card">
                     <div class="">
                        <div class="mkdf-property-title-section pd-y-30 bd-b pd-x-0">

                              <div class="pos-relative d-table ht-100p wd-100p">
                                 <div class="d-table wd-100p valign-middle">
                                    <div class="pos-relative d-table-cell ht-100p wd-70p">
                                       <h2 class="mg-b-5">
                                          100 Hudson Street                    
                                       </h2>
                                    </div>
                                    <div class="ht-100p wd-30p text-right d-table-cell">
                                       <span class="badge badge-info">
                                       For Sale        </span>
                                    </div>
                                 </div>
                                 <div class="d-table wd-100p valign-middle">
                                    <div class="clearfix d-table-cell ht-100p wd-70p pos-relative">
                                       <div class="pd-r-15 tx-13 bd-r float-left">
                                          November 02, 2017                    
                                       </div>
                                       <div class="pd-x-15 tx-13 bd-r float-left">
                                          <span class="mkdf-property-stars">
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          </span>
                                       </div>
                                       <div class="pd-x-15 tx-13 bd-r float-left">
                                          <span class="mkdf-property-whishlist-wrapper">
                                          <a href="javascript:void(0)" class="mkdf-property-whishlist">
                                          <i class="fa fa-heart-o"></i>
                                          <span class="mkdf-property-wishlist-text">
                                          1        </span>
                                          </a>
                                          </span>
                                       </div>
                                       <div class="pd-x-15 tx-13 bd-r float-left">
                                          <i class="lnr lnr-eye" aria-hidden="true"></i>
                                          <span class="mkdf-views-value">999</span>
                                       </div>
                                       <div class="pd-x-15 tx-13 bd-r float-left">
                                       </div>
                                    </div>
                                    <div class="d-table-cell pos-relative ht-100p wd-30p text-right">
                                          Property ID:
                                          <span class="tx-bold">
                                          1235                        </span>
                                    </div>
                              </div>
                           </div>
                        </div>
                        <div class="pd-y-30 bd-b row mg-x-5">
                           <div class="col-md-3 pos-relative d-table-cell ht-100p valign-middle valign-top-force pd-l-0">
                              <h5 class="mg-0">
                                 Property Tags        
                              </h5>
                           </div>
                           <div class="col-md-9 clearfix">
                              <div class="d-inline-block float-left">
                                 <a class="tx-12 bd rounded pd-x-30 pd-y-10 mg-b-10 mg-r-10 d-inline-block lh-1" href="https://zuhaus.mikado-themes.com/property-tag/bright/" target="_self">
                                 Bright                  </a>
                              </div>
                              <div class="d-inline-block float-left">
                                 <a class="tx-12 bd rounded pd-x-30 pd-y-10 mg-b-10 mg-r-10 d-inline-block lh-1" href="https://zuhaus.mikado-themes.com/property-tag/comfortable/" target="_self">
                                 Comfortable                  </a>
                              </div>
                              <div class="d-inline-block float-left">
                                 <a class="tx-12 bd rounded pd-x-30 pd-y-10 mg-b-10 mg-r-10 d-inline-block lh-1" href="https://zuhaus.mikado-themes.com/property-tag/cost-effective/" target="_self">
                                 Cost-effective                  </a>
                              </div>
                              <div class="d-inline-block float-left">
                                 <a class="tx-12 bd rounded pd-x-30 pd-y-10 mg-b-10 mg-r-10 d-inline-block lh-1" href="https://zuhaus.mikado-themes.com/property-tag/housing/" target="_self">
                                 Housing                  </a>
                              </div>
                              <div class="d-inline-block float-left">
                                 <a class="tx-12 bd rounded pd-x-30 pd-y-10 mg-b-10 mg-r-10 d-inline-block lh-1" href="https://zuhaus.mikado-themes.com/property-tag/listing/" target="_self">
                                 Listing                  </a>
                              </div>
                              <div class="d-inline-block float-left">
                                 <a class="tx-12 bd rounded pd-x-30 pd-y-10 mg-b-10 mg-r-10 d-inline-block lh-1" href="https://zuhaus.mikado-themes.com/property-tag/modern/" target="_self">
                                 Modern                  </a>
                              </div>
                              <div class="d-inline-block float-left">
                                 <a class="tx-12 bd rounded pd-x-30 pd-y-10 mg-b-10 mg-r-10 d-inline-block lh-1" href="https://zuhaus.mikado-themes.com/property-tag/property/" target="_self">
                                 Property                  </a>
                              </div>
                           </div>
                        </div>
                        <div class="pd-y-30 bd-b row mg-x-5">
                           <div class="col-md-3 pos-relative d-table-cell ht-100p valign-middle valign-top-force pd-l-0">
                              <h5 class="mg-0">
                                 Similar Properties       
                              </h5>
                           </div>
                           
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                        <div class="card pd-20">
                           <div class="mkdf-contact-holder">
                                 <h5>Contact Info</h5>

                              <div class="mkdf-contact-social">
                                 <h5 class="mkdf-contact-title">
                                    Connect with us                        
                                 </h5>
                                 <div class="mkdf-contact-social-icons clearfix">
                                    <a href="https://www.facebook.com/" target="_blank">
                                    <span aria-hidden="true" class="mkdf-icon-font-elegant social_facebook mkdf-author-social-facebook mkdf-author-social-icon "></span>                                    </a>
                                    <a href="https://www.twitter.com/" target="_blank">
                                    <span aria-hidden="true" class="mkdf-icon-font-elegant social_twitter mkdf-author-social-twitter mkdf-author-social-icon "></span>                                    </a>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                    <span aria-hidden="true" class="mkdf-icon-font-elegant social_linkedin mkdf-author-social-linkedin mkdf-author-social-icon "></span>                                    </a>
                                    <a href="https://www.instagram.com/" target="_blank">
                                    <span aria-hidden="true" class="mkdf-icon-font-elegant social_instagram mkdf-author-social-instagram mkdf-author-social-icon "></span>                                    </a>
                                    <a href="https://pinterest.com/" target="_blank">
                                    <span aria-hidden="true" class="mkdf-icon-font-elegant social_pinterest mkdf-author-social-pinterest mkdf-author-social-icon "></span>                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="mkdf-widget-title-holder">
                              <h5 class="mkdf-widget-title">Mortgage Calculator</h5>
                           </div>
                           <button type="submit" class="mkdf-btn mkdf-btn-solid">Calculate </button>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'showProperty',

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
