<template>
    <v-layout>
        <div class="privacy">
            <h1>This is a privacy page</h1>
        </div>
    </v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'concept',

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
