@font-face
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff2) format("woff2"), url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff) format("woff");

@font-face
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff2) format("woff2"), url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff) format("woff");
  font-weight: 500;

@font-face
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff2) format("woff2"), url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff) format("woff");
  font-weight: 700;

ul, li
  margin: 0;
  padding: 0;
  list-style: none;

body
  font-family: BrandonText, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  position: relative;
  background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

header
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);

main
  height: 380px;
  background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25161502.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

main.secondary
  height: 200px;
  background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25161502.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

.main-jumbotron
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;

.bar
  *zoom: 1;
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

.bar:before, .bar:after
  content: " ";
  display: table;

.bar:after
  clear: both;

@media only screen and (min-width:64.0625em)
  .bar
    padding-left: 2.25rem;

.bar-nav
  *zoom: 1;

.bar-nav:before, .bar-nav:after
  content: " ";
  display: table;

.bar-nav:after
  clear: both;

.bar-nav-li
  float: left;
  position: relative;

.bar-nav-link
  display: block;
  line-height: 2rem;
  padding: 0 0.7rem;
  position: relative;
  color: inherit;

@media only screen and (min-width:40.0625em) and (max-width:64em)
  .bar-nav-link
    padding: 0 .25rem;

.bar-nav-link:hover
  color: inherit;

@media(min-width:641px) and (max-width:725px)
  .bar-nav-link
    padding: 0 .25rem;

.language-selector select
  cursor: pointer;

.language-selector a::after
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #fff;
  content: "";
  display: inline-block;
  margin-left: 4px;
  position: relative;
  top: -1px;




/** ------  form a checker avant denlver  ------ **/

/** ------  form  ------ **/
.checkbox-wrapper
  padding: 5px;
div.has-error>.checkbox-wrapper
  border-radius: 3px 3px 0 0;
  padding-bottom: 20px;
  border: #ee4036 1px solid;

div.has-error>span.error
  display: block!important;

div.has-error>input[type=text],
div.has-error>input[type=password],
div.has-error>select,
div.has-error>div.multiselect>div.multiselect__tags
  border-radius: 3px 3px 0 0;
  border-color: #DC3545;

div.has-error>span.error
  font-size: 11px;
  font-size: .6875rem;
  display: block;
  color: #fff;
  background-color: #ee4036;
  padding: 5px;
  border-radius: 0 0 3px 3px

button:active
  outline: 0 none;
  position: relative;
  top: 1px;

button:focus
  outline: none!important;



/** ------  begin alert  ------ **/
.alert.alert-danger
  border-left: 4px solid #721c24;

.alert.alert-info
  border-left: 4px solid #721c24;

.alert.alert-success
  border-left: 4px solid #721c24;

.alert.alert-warning
  border-left: 4px solid #721c24;
/** ------  end alert  ------ **/


/** ------  form checkbox big screen  ------ **/

.custom-control
  position: relative;
  display: block;
  min-height: 1.7rem;
  padding-left: 1.5rem;

.custom-control-inline
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;

.custom-control-input
  position: absolute;
  z-index: -1;
  opacity: 0;

.custom-control-input:checked ~ .custom-control-label::before
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;

.custom-control-input:focus ~ .custom-control-label::before
  box-shadow: 0 0 0 0.2rem rgba(97, 145, 235, 0.87);

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before
  border-color: #007bff;

.custom-control-input:not(:disabled):active ~ .custom-control-label::before
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

.custom-control-input:disabled ~ .custom-control-label
  color: #8c98a4;

.custom-control-input:disabled ~ .custom-control-label::before
  background-color: #8f95a0;

.custom-control-label
  position: relative;
  margin-bottom: 0;
  vertical-align: top;

.custom-control-label::before
  position: absolute;
  top: 0.35rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;

.custom-control-label::after
  position: absolute;
  top: 0.35rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;

.custom-checkbox .custom-control-label::before
  border-radius: 0.25rem;

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before
  border-color: #007bff;
  background-color: #007bff;

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before
  background-color: rgba(97, 145, 235, 0.87);

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before
  background-color: rgba(97, 145, 235, 0.87);

.custom-radio .custom-control-label::before
  border-radius: 50%;

.custom-radio .custom-control-input:checked ~ .custom-control-label::after
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before
  background-color: rgba(97, 145, 235, 0.87);

.form-selector-modern
  width: 100%;
  padding-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;

.form-selector-modern__input:checked ~ .form-selector-modern__label
  border-color: #007bff;

.form-selector-modern__label
  width: 100%;
  cursor: pointer;
  border: 2px solid #e3e6f0;
  border-radius: 0.25rem;
  padding: 1.25rem;
  padding-left: 1rem;

.form-selector-modern__label::before, .form-selector-modern__label::after
  top: 1.5rem;
  left: 1.25rem;

/** ------  End form checkbox big screen  ------ **/



.btn--inside
  margin-left: -90px;

.form__field
  width: 360px;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;

/** question tags last app/home**/
.badge-tags > .badge
  margin-right: 5px;

.badge-tags > .badge:last-child
  margin-right: 0px


/** end question tags **/
