﻿a {
	color: inherit
}

a:hover {
    color: inherit;
}


input[type=text]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=password]:focus,
.form-control:focus {
	border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-lg>.form-control,
.input-group-lg > .form-control:not(textarea){
	display: block;
    font-size: 14px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 8px;
	font-weight: 300;
	margin-bottom: 0;
	border: none;
	border-radius: 2px;
	padding: 14.4px 16px;
	-webkit-appearance: none;
    height: auto;
}





.hero__search-container__search-tags>*:not(:last-child) {
	margin-right: 8px
}




.lp ul.hero__search-container__search-tags__tag-container .container__tag {
	margin-bottom: 0
}

ul.hero__search-container__search-tags__tag-container .container__tag:hover {
	opacity: 1
}

ul.hero__search-container__search-tags__tag-container .container__tag:hover:after {
	opacity: .8
}

ul.hero__search-container__search-tags__tag-container .container__tag:not(:last-child):after {
	content: ",";
	margin-left: -3px
}

ul.hero__search-container__search-tags__tag-container .container__tag:first-child {
	margin-left: 8px
}


