

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: #343a40; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }





  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #ced4da;
    content: "/"; }



.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none; }

.breadcrumb-item.active {
  color: #adb5bd; }





.card-borderless {
  border: none; }

.card-header-borderless {
  border-bottom: none;
  padding-bottom: 0 !important; }

.card-footer-borderless {
  border-top: none;
  padding-top: 0 !important; }





body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

@media (max-width: 991.98px) {
  html {
    font-size: 0.875rem; } }

h1, .h1 {
  font-weight: 300;
  line-height: 3rem; }

h2, .h2 {
  line-height: 2.5rem; }

h3, .h3 {
  line-height: 2.25rem; }

h4, .h4 {
  line-height: 1.875rem;
  margin-bottom: 3rem; }

h5, .h5 {
  line-height: 1.875rem;
  margin-bottom: 0.75rem; }

h6, .h6 {
  line-height: 1.5rem;
  margin-bottom: 0.75rem; }

h1:last-child, .h1:last-child, h2:last-child, .h2:last-child, h3:last-child, .h3:last-child, h4:last-child, .h4:last-child, h5:last-child, .h5:last-child, h6:last-child, .h6:last-child {
  margin-bottom: 0; }

@media (max-width: 575.98px) {
  h1, .h1 {
    font-size: 2rem;
    line-height: 2.5rem; }
  h2, .h2 {
    font-size: 1.75rem;
    line-height: 2.25rem; } }

.h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4 {
  display: block; }

.display-1, .display-2, .display-3, .display-4 {
  margin-bottom: 1.5rem;
  color: #343a40; }




.avatar {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem; }
  .avatar.avatar-xs {
    width: 2.25rem;
    height: 2.25rem; }
  .avatar.avatar-sm {
    width: 3rem;
    height: 3rem; }
  .avatar.avatar-lg {
    width: 7.5rem;
    height: 7.5rem; }
  .avatar.avatar-xlg {
    width: 12rem;
    height: 12rem; }
  .avatar.avatar-square {
    border-radius: 0.125rem; }

.media > .avatar:first-child {
  margin-right: 1.5rem; }
  .media > .avatar:first-child.avatar-xs, .media > .avatar:first-child.avatar-sm {
    margin-right: 0.75rem; }

.avatar + .avatar {
  margin-left: 0.75rem; }

.avatar + .badge {
  position: relative;
  margin-left: -.75rem; }

.avatar-lg + .avatar-lg {
  margin-left: 3rem; }

@media (max-width: 767.98px) {
  .avatar.avatar-xlg {
    width: 7.5rem;
    height: 7.5rem; } }





.blog-post-author .media-body > * {
  display: block; }

.blog-post-author .media-body small:nth-child(1) {
  color: #343a40; }
  .blog-post-author .media-body small:nth-child(1) + small {
    color: #6c757d; }

.blog-post-author .media-body .h6 {
  margin-bottom: 0; }




.breadcrumb {
  font-size: .875em; }
  .breadcrumb:last-child {
    margin-bottom: 0; }

.breadcrumb-item + .breadcrumb-item:before {
  content: '>';
  font-weight: 600;
  font-size: 11px;
  transform: scaleX(0.7);
  bottom: 1px;
  position: relative; }










  .feature-list.feature-list-sm > li {
    margin-bottom: 1.5rem; }
  .feature-list:not(:last-child):not(.row) {
    margin-bottom: 1.5rem; }
  .feature-list > li[class*='col'] {
    display: flex;
    flex-direction: column; }
    .feature-list > li[class*='col'] .card {
      flex-grow: 1; }







/*# sourceMappingURL=theme.css.map */
