

.radio.disabled label,
fieldset[disabled] .radio label,
.checkbox.disabled label,
fieldset[disabled] .checkbox label {
	cursor: not-allowed
}

.form-control-static {
	padding-top: 9px;
	padding-bottom: 9px;
	margin-bottom: 0
}

.form-control-static.input-lg,
.form-horizontal .form-group-lg .form-control-static.form-control,
.form-control-static.input-sm,
.form-horizontal .form-group-sm .form-control-static.form-control {
	padding-left: 0;
	padding-right: 0
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
	height: 27px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

select.input-sm,
.form-horizontal .form-group-sm select.form-control {
	height: 27px;
	line-height: 27px
}

textarea.input-sm,
.form-horizontal .form-group-sm textarea.form-control,
select[multiple].input-sm,
.form-horizontal .form-group-sm select[multiple].form-control {
	height: auto
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
	height: 42px;
	padding: 10px 20px;
	font-size: 15px;
	line-height: 1.33;
	border-radius: 3px
}

select.input-lg,
.form-horizontal .form-group-lg select.form-control {
	height: 42px;
	line-height: 42px
}





.ypalert {
	padding: 15px 15px;
	margin-top: 18px;
	margin-bottom: 18px;
	border-left: 5px solid transparent
}

.ypalert.alert--large {
	padding: 15px 15px
}

.ypalert.alert--dismissible {
	padding-right: 35px
}

.ypalert.alert--dismissible .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
	float: right
}

.ypalert h4,
.ypalert .title {
	margin-top: 0;
	color: inherit;
	font-weight: 300
}

.ypalert .alert--link {
	font-weight: 600;
	color: inherit;
	text-decoration: underline
}

.ypalert .alert--link:hover {
	color: inherit;
	text-decoration: none
}

.ypalert>p,
.ypalert>ul {
	margin-bottom: 0
}

.ypalert>p+p {
	margin-top: 5px
}

.ypalert--success {
	background-color: #eaf4dc;
	border-color: #8bc53f;
	color: #78ac34
}

.ypalert--success hr {
	border-top-color: #7eb436
}

.ypalert--success .alert-link {
	color: #5d8528
}

.ypalert--info {
	background-color: #eafdff;
	border-color: #00aabc;
	color: #0093a3
}

.ypalert--info hr {
	border-top-color: #0093a3
}

.ypalert--info .alert-link {
	color: #006570
}

.ypalert--warning {
	background-color: #fef8f1;
	border-color: #f6921e;
	color: #764205
}

.ypalert--warning hr {
	border-top-color: #f1860a
}

.ypalert--warning .alert-link {
	color: #452603
}

.ypalert--error {
	background-color: #fdeae9;
	border-color: #ee4036;
	color: #ee4036
}

.ypalert--error hr {
	border-top-color: #ec2a1e
}

.ypalert--error .alert-link {
	color: #de1e13
}

@charset "UTF-8";
.page__container--full-width .page__content {
	zoom: 1;
	margin: 0 auto
}

.page__container--full-width .page__content:before,
.page__container--full-width .page__content:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden
}

.page__container--full-width .page__content:after {
	clear: both
}



html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline
}



div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}



a {
	text-decoration: none;
	color: #333
}

a:hover {
	text-decoration: none;
	color: #333
}

