.nav-item.has-notified,
.nav-link.has-notified {
	position: relative
}

.nav-item.has-notified:before,
.nav-link.has-notified:before {
	position: absolute;
	top: .5rem;
	right: .75rem;
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: #f7c46c;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.header-nav {
	padding: 0 .5rem
}

.header-nav .nav-link {
	margin: 0 .25rem;
	padding-right: .75rem;
	padding-left: .75rem;
	height: calc(2.25rem + 2px);
	border: 1px solid transparent;
	border-radius: .25rem
}

@media (min-width:768px) {
	.header-nav .nav-link {
		height: 2.25rem
	}
}

.header-nav-dropdown {
	position: static
}

@media (min-width:576px) {
	.header-nav-dropdown {
		position: relative
	}
}

@media (max-width:575.98px) {
	.header-nav-dropdown .dropdown-arrow {
		top: auto;
		left: auto;
		margin-left: .75rem
	}
}

.header-nav-dropdown .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

@media (max-width:575.98px) {
	.header-nav-dropdown .dropdown-menu {
		margin-top: 0;
		left: 0!important;
		right: 0!important;
		width: 100%;
		border-radius: 0
	}
}




.user-avatar {
	position: relative;
	margin-bottom: 0;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	font-size: 2rem;
	vertical-align: middle;
	border-radius: 4rem
}

.user-avatar-xxl {
	width: 8rem;
	height: 8rem;
	font-size: 8rem
}

.user-avatar-xl {
	width: 5rem;
	height: 5rem;
	font-size: 5rem
}

.user-avatar-lg {
	width: 3rem;
	height: 3rem;
	font-size: 3rem
}

.user-avatar-md {
	width: 2.25rem;
	height: 2.25rem;
	font-size: 2.25rem
}

.user-avatar-sm {
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.5rem
}

.user-avatar-xs {
	width: 1.25rem;
	height: 1.25rem;
	font-size: 1.25rem
}




.user-avatar img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4rem;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: top;
	object-position: top
}

a.user-avatar:focus,
a.user-avatar:hover {
	outline: 0
}

a.user-avatar:focus {
	box-shadow: 0 0 0 3px #346cb0
}








.tile {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	color: #888c9b;
	font-weight: 600;
	font-size: 1rem;
	background-color: #e6e8ed;
	line-height: 2rem;
	text-align: center;
	vertical-align: middle;
	border-radius: .25rem
}

.tile-img {
	position: relative;
	background-color: transparent;
	overflow: hidden
}

.tile.bg-primary {
	color: #fff
}

.tile.bg-secondary {
	color: #363642
}

.tile.bg-info,
.tile.bg-success {
	color: #fff
}

.tile.bg-warning {
	color: #363642
}

.tile.bg-danger {
	color: #fff
}

.tile.bg-light {
	color: #363642
}

.tile.bg-dark {
	color: #fff
}

.tile-circle {
	border-radius: 4rem
}

.tile>img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: top;
	object-position: top
}

a.tile {
	outline: 0;
	background-color: #d7dae2
}

a.tile:focus,
a.tile:hover {
	color: #363642;
	text-decoration: none
}

a.tile.bg-primary:focus,
a.tile.bg-primary:hover {
	color: #fff
}

a.tile.bg-secondary:focus,
a.tile.bg-secondary:hover {
	color: #363642
}

a.tile.bg-info:focus,
a.tile.bg-info:hover,
a.tile.bg-success:focus,
a.tile.bg-success:hover {
	color: #fff
}

a.tile.bg-warning:focus,
a.tile.bg-warning:hover {
	color: #363642
}

a.tile.bg-danger:focus,
a.tile.bg-danger:hover {
	color: #fff
}

a.tile.bg-light:focus,
a.tile.bg-light:hover {
	color: #363642
}

.tile.bg-blue,
.tile.bg-indigo,
.tile.bg-pink,
.tile.bg-purple,
.tile.bg-red,
a.tile.bg-blue:focus,
a.tile.bg-blue:hover,
a.tile.bg-dark:focus,
a.tile.bg-dark:hover,
a.tile.bg-indigo:focus,
a.tile.bg-indigo:hover,
a.tile.bg-pink:focus,
a.tile.bg-pink:hover,
a.tile.bg-purple:focus,
a.tile.bg-purple:hover,
a.tile.bg-red:focus,
a.tile.bg-red:hover {
	color: #fff
}

.tile.bg-green,
.tile.bg-orange,
.tile.bg-yellow,
a.tile.bg-green:focus,
a.tile.bg-green:hover,
a.tile.bg-orange:focus,
a.tile.bg-orange:hover,
a.tile.bg-yellow:focus,
a.tile.bg-yellow:hover {
	color: #363642
}

.tile.bg-cyan,
.tile.bg-teal,
a.tile.bg-cyan:focus,
a.tile.bg-cyan:hover,
a.tile.bg-teal:focus,
a.tile.bg-teal:hover {
	color: #fff
}

.tile.bg-white,
a.tile.bg-white:focus,
a.tile.bg-white:hover {
	color: #363642
}

.tile.bg-gray,
.tile.bg-gray-dark,
a.tile.bg-gray-dark:focus,
a.tile.bg-gray-dark:hover,
a.tile.bg-gray:focus,
a.tile.bg-gray:hover {
	color: #fff
}


.btn-account {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	border: 0;
	-ms-flex-wrap: none;
	flex-wrap: none;
	-ms-flex-align: center;
	align-items: center;
	background: none;
	color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	transition: background-color .15s;
	outline: 0
}

.btn-account:focus,
.btn-account:hover {
	color: inherit;
	text-decoration: none
}

.btn-account.focus,
.btn-account.show,
.btn-account:active,
.btn-account:focus {
	outline: 0
}

.btn-account>.has-badge,
.btn-account>.user-avatar {
	margin-right: .75rem
}

.btn-account .account-summary {
	margin-right: .75rem;
	display: block;
	text-align: left;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap
}

.btn-account .account-description,
.btn-account .account-name {
	margin: 0;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 500;
	line-height: 1rem
}

.btn-account .account-description {
	font-size: .75rem;
	font-weight: 400;
	opacity: .7
}

.btn-account .caret {
	border-top-width: 6px;
	border-right-width: 5px;
	border-left-width: 5px
}

.btn-account .account-icon {
	position: absolute;
	right: 1rem;
	top: 50%;
	font-size: .875rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: .7
}

.btn-account .account-icon .caret,
.btn-account .account-icon .fa-caret-down {
	transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}





.dropdown-menu {
	margin-top: 10px;
	border: 0;
	font-weight: 400;
	box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 2px 7px 1px rgba(20, 20, 31, .16);
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@media (min-width:768px) {
	.dropdown-menu {
		font-size: .875rem
	}
}

.dropdown-menu.show {
	-webkit-animation-name: showDropdown;
	animation-name: showDropdown
}

.dropdown-menu-md {
	min-width: 18rem
}

.dropdown-menu-lg {
	min-width: 24rem
}

.dropdown-menu-xl {
	min-width: 30rem
}

.dropdown-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center
}

.dropdown-header>a,
.dropdown-header>a:focus,
.dropdown-header>a:hover {
	font-weight: 400;
	font-size: .75rem;
	color: #888c9b
}

.dropdown-icon {
	margin-right: .25rem;
	color: #a6abbd;
	width: 1.25rem
}

.dropdown-item.active .date,
.dropdown-item.active .dropdown-icon,
.dropdown-item.active .subject,
.dropdown-item.active .text,
.dropdown-item.active.unread .subject,
.dropdown-item.active.unread .text,
.dropdown-item.focus .date,
.dropdown-item.focus .dropdown-icon,
.dropdown-item.focus .subject,
.dropdown-item.focus .text,
.dropdown-item.focus.unread .subject,
.dropdown-item.focus.unread .text,
.dropdown-item:active .date,
.dropdown-item:active .dropdown-icon,
.dropdown-item:active .subject,
.dropdown-item:active .text,
.dropdown-item:active.unread .subject,
.dropdown-item:active.unread .text,
.dropdown-item:focus .date,
.dropdown-item:focus .dropdown-icon,
.dropdown-item:focus .subject,
.dropdown-item:focus .text,
.dropdown-item:focus.unread .subject,
.dropdown-item:focus.unread .text,
.dropdown-item:hover .date,
.dropdown-item:hover .dropdown-icon,
.dropdown-item:hover .subject,
.dropdown-item:hover .text,
.dropdown-item:hover.unread .subject,
.dropdown-item:hover.unread .text {
	color: inherit
}

.dropdown-item.unread .subject,
.dropdown-item.unread .text {
	font-weight: 600;
	color: #363642
}

.dropdown-item .date,
.dropdown-item .subject,
.dropdown-item .text {
	margin-bottom: 0;
	line-height: 1.4
}

.dropdown-item .subject {
	font-size: .75rem;
	color: #222230
}

.dropdown-item .text {
	font-size: .875rem;
	color: #222230
}

.dropdown-item .date {
	font-size: .75rem;
	color: #888c9b
}

.btn-group .dropdown-arrow,
.dropdown .dropdown-arrow {
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	overflow: hidden;
	height: 1.25rem;
	width: 1.25rem;
	margin-top: -10px;
	margin-left: -10px;
	pointer-events: none;
	z-index: 1001
}

.btn-group .dropdown-arrow-right,
.dropdown .dropdown-arrow-right {
	left: auto;
	right: 1rem
}

.btn-group .dropdown-arrow-left,
.dropdown .dropdown-arrow-left {
	left: 2rem
}

.btn-group .dropdown-arrow:before,
.dropdown .dropdown-arrow:before {
	content: "";
	position: absolute;
	bottom: -.375rem;
	left: 50%;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	display: block;
	height: .75rem;
	width: .75rem;
	margin-left: -5px;
	background-color: hsla(0, 0%, 100%, .98);
	box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 2px 7px 1px rgba(20, 20, 31, .16);
	pointer-events: none
}

.btn-group.show>.dropdown-arrow,
.dropdown.show>.dropdown-arrow {
	display: block;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-animation: showArrow .3s ease-in-out;
	animation: showArrow .3s ease-in-out
}

.dropdown-sheets {
	padding: 1.5rem 0 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap
}

.dropdown-sheets .dropdown-sheet-item {
	margin-bottom: 1.5rem;
	color: #888c9b;
	width: 33.33333%;
	text-align: center
}

.dropdown-sheets .dropdown-sheet-item:focus,
.dropdown-sheets .dropdown-sheet-item:hover {
	text-decoration: none
}

.dropdown-menu-rich {
	padding: 0;
	width: 20rem
}

.dropdown-menu-rich .dropdown-header {
	padding-top: .75rem;
	padding-bottom: .75rem;
	border-bottom: 1px solid rgba(34, 34, 48, .1)
}

.dropdown-menu-rich .dropdown-item {
	padding-top: .75rem;
	padding-bottom: .75rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start
}

.dropdown-menu-rich .dropdown-item:not(:first-child) {
	border-top: 1px solid rgba(34, 34, 48, .1)
}

.dropdown-menu-rich .dropdown-item-body {
	-ms-flex: 1;
	flex: 1;
	white-space: normal;
	min-width: 0
}

.dropdown-menu-rich .dropdown-item-body:not(:first-child) {
	padding-left: 1rem
}

.dropdown-menu-rich .dropdown-item-body:not(:last-child) {
	padding-right: 1rem
}

.dropdown-menu-rich .dropdown-icon {
	margin-right: 0
}

.dropdown-scroll {
	position: relative;
	overflow-y: auto;
	height: 263px
}

.dropdown-footer {
	margin: 0;
	display: block;
	padding: .75rem 1rem;
	font-size: .875rem;
	text-align: center;
	border-top: 1px solid rgba(34, 34, 48, .1);
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem
}

.dropdown-footer:focus,
.dropdown-footer:hover {
	text-decoration: none;
	background-color: #f6f7f9
}

@-webkit-keyframes showDropdown {
	0% {
		top: 100%;
		opacity: 0;
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}
	to {
		top: 100%;
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes showDropdown {
	0% {
		top: 100%;
		opacity: 0;
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}
	to {
		top: 100%;
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@-webkit-keyframes showArrow {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes showArrow {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.dropdown-menu>.custom-control,
.dropdown-scroll>.custom-control {
	margin-bottom: 0;
	padding: .5rem 1rem .5rem 1.5rem
}

.dropdown-menu>.custom-control .custom-control-label,
.dropdown-scroll>.custom-control .custom-control-label {
	display: block;
	cursor: pointer
}

.dropdown-menu>.custom-control .custom-control-label:after,
.dropdown-menu>.custom-control .custom-control-label:before,
.dropdown-scroll>.custom-control .custom-control-label:after,
.dropdown-scroll>.custom-control .custom-control-label:before {
	left: -1.25rem
}

.dropdown-menu>.custom-control .custom-control-label:before,
.dropdown-scroll>.custom-control .custom-control-label:before {
	border: none;
	background: transparent!important;
	box-shadow: none
}

.dropdown-menu>.custom-control .custom-control-input:checked~.custom-control-label:after,
.dropdown-scroll>.custom-control .custom-control-input:checked~.custom-control-label:after {
	-webkit-transform: scale(1.2);
	transform: scale(1.2)
}

@media (min-width:768px) {
	.macos .dropdown-menu .custom-control-label:after,
	.macos .dropdown-menu .custom-control-label:before,
	.macos .dropdown-scroll .custom-control-label:after,
	.macos .dropdown-scroll .custom-control-label:before {
		top: .2rem
	}
}


.perfect-scrollbar {
	position: relative;
	overflow: hidden
}

.ps {
	overflow: hidden!important;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto
}

.ps__rail-x,
.ps__rail-y {
	position: absolute;
	display: none;
	opacity: 0;
	transition: background-color .2s linear, opacity .2s linear;
	z-index: 3
}

.ps__rail-x {
	height: 10px;
	bottom: 0
}

.ps__rail-y {
	width: 10px;
	right: 0
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
	display: block;
	background-color: transparent
}

.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y,
.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y {
	opacity: 1
}

.ps__rail-x:focus,
.ps__rail-x:hover,
.ps__rail-y:focus,
.ps__rail-y:hover {
	background-color: rgba(34, 34, 48, .08);
	opacity: 1
}

.ps__thumb-x,
.ps__thumb-y {
	position: absolute;
	background-color: rgba(34, 34, 48, .08);
	border-radius: 6px;
	transition: background-color .2s linear, height .2s ease-in-out
}

.ps__thumb-x {
	height: 6px;
	bottom: 2px
}

.ps__thumb-y {
	width: 6px;
	right: 2px
}

.ps__rail-y::focus .ps__thumb-y,
.ps__rail-y::hover .ps__thumb-y {
	background-color: rgba(34, 34, 48, .12);
	width: 10px
}

.ps__rail-y::focus .ps__thumb-x,
.ps__rail-y::hover .ps__thumb-x {
	background-color: rgba(34, 34, 48, .12);
	height: 10px
}

@supports (-ms-overflow-style:none) {
	.ps {
		overflow: auto!important
	}
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
	.ps {
		overflow: auto!important
	}
}
