.language-selector > a {
  color: inherit;
}

.language-selector:hover > a{
  text-decoration: none;
}




.breadcrumb-item > a {
  color: #00000080; }

.breadcrumb-item.active {
  color: #adb5bd; }




.breadcrumb {
  font-size: .875em; }
  /*.breadcrumb:last-child {
    margin-bottom: 0; }*/

.breadcrumb-item + .breadcrumb-item:before {
  content: '>';
  font-weight: 600;
  font-size: 11px;
  transform: scaleX(0.7);
  bottom: 1px;
  position: relative; }


































* {
    box-sizing: border-box;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}

.modal-container {
    margin: 40px auto 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.text-right {
    text-align: right;
}

.form-label {
    display: block;
    margin-bottom: 1em;
}

.form-label > .form-control {
    margin-top: 0.5em;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    line-height: 1.5;
    border: 1px solid #ddd;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




































































.has-error>.form-control+label+span {
  font-size: 11px;
  font-size: .6875rem;
  display: block;
  color: #fff;
  background-color: #ee4036;
  padding: 5px;
  border-radius: 0 0 3px 3px
}




.has-error .form-control {
  border-color: #ee4036;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .form-control:focus {
  border-color: #de1e13;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #f69994
}

.has-error .form-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

