

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block;
  padding: 0.5rem 1rem; }
  .nav-link:hover, .nav-link:focus {
    text-decoration: none; }
  .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default; }

.nav-tabs {
  border-bottom: 0 solid transparent; }
  .nav-tabs .nav-item {
    margin-bottom: 0; }
  .nav-tabs .nav-link {
    border: 0 solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
      border-color: transparent; }
    .nav-tabs .nav-link.disabled {
      color: #6c757d;
      background-color: transparent;
      border-color: transparent; }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #4582EC;
    background-color: transparent;
    border-color: transparent; }
  .nav-tabs .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .badge {
      transition: none; } }
  a.badge:hover, a.badge:focus {
    text-decoration: none; }
  .badge:empty {
    display: none; }

.btn .badge {
  position: relative;
  top: -1px; }

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem; }

.badge-primary {
  color: #fff;
  background-color: #4582EC; }
  a.badge-primary:hover, a.badge-primary:focus {
    color: #fff;
    background-color: #1863e6; }
  a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.5); }

.badge-secondary {
  color: #fff;
  background-color: #6c757d; }
  a.badge-secondary:hover, a.badge-secondary:focus {
    color: #fff;
    background-color: #545b62; }
  a.badge-secondary:focus, a.badge-secondary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }

.badge-success {
  color: #fff;
  background-color: #02B875; }
  a.badge-success:hover, a.badge-success:focus {
    color: #fff;
    background-color: #018655; }
  a.badge-success:focus, a.badge-success.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(2, 184, 117, 0.5); }

.badge-info {
  color: #fff;
  background-color: #17a2b8; }
  a.badge-info:hover, a.badge-info:focus {
    color: #fff;
    background-color: #117a8b; }
  a.badge-info:focus, a.badge-info.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5); }

.badge-warning {
  color: #212529;
  background-color: #f0ad4e; }
  a.badge-warning:hover, a.badge-warning:focus {
    color: #212529;
    background-color: #ec971f; }
  a.badge-warning:focus, a.badge-warning.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5); }

.badge-danger {
  color: #fff;
  background-color: #d9534f; }
  a.badge-danger:hover, a.badge-danger:focus {
    color: #fff;
    background-color: #c9302c; }
  a.badge-danger:focus, a.badge-danger.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(217, 83, 79, 0.5); }

.badge-light {
  color: #212529;
  background-color: #f8f9fa; }
  a.badge-light:hover, a.badge-light:focus {
    color: #212529;
    background-color: #dae0e5; }
  a.badge-light:focus, a.badge-light.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }

.badge-dark {
  color: #fff;
  background-color: #212529; }
  a.badge-dark:hover, a.badge-dark:focus {
    color: #fff;
    background-color: #0a0c0d; }
  a.badge-dark:focus, a.badge-dark.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.5); }

    
    

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem; }

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #4582EC;
  transition: width 0.6s ease; }
  @media (prefers-reduced-motion: reduce) {
    .progress-bar {
      transition: none; } }

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem; }

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
          animation: progress-bar-stripes 1s linear infinite; }
  @media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
      -webkit-animation: none;
              animation: none; } }

              





@media (max-width: 991.98px) {
  html {
    font-size: 0.875rem; } }

h1, .h1 {
  font-weight: 300;
  line-height: 3rem; }

h2, .h2 {
  line-height: 2.5rem; }

h3, .h3 {
  line-height: 2.25rem; }

h4, .h4 {
  line-height: 1.875rem;
  margin-bottom: 3rem; }

h5, .h5 {
  line-height: 1.875rem;
  margin-bottom: 0.75rem; }

h6, .h6 {
  line-height: 1.5rem;
  margin-bottom: 0.75rem; }

h1:last-child, .h1:last-child, h2:last-child, .h2:last-child, h3:last-child, .h3:last-child, h4:last-child, .h4:last-child, h5:last-child, .h5:last-child, h6:last-child, .h6:last-child {
  margin-bottom: 0; }

@media (max-width: 575.98px) {
  h1, .h1 {
    font-size: 2rem;
    line-height: 2.5rem; }
  h2, .h2 {
    font-size: 1.75rem;
    line-height: 2.25rem; } }

.h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4 {
  display: block; }

  

  

hr {
  margin: 2.25rem 0; }

@media (max-width: 767.98px) {
  hr {
    margin: 1.5rem 0; } }

hr.short {
  width: 3rem;
  margin: 1.5rem 0; }


  













.badge {
  vertical-align: middle; }

.badge-warning {
  color: #fff; }

.badge-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  position: relative;
  bottom: 2px; }
  .badge-indicator:empty {
    display: inline-block; }

.blog-post-author .media-body > * {
  display: block; }

.blog-post-author .media-body small:nth-child(1) {
  color: #343a40; }
  .blog-post-author .media-body small:nth-child(1) + small {
    color: #6c757d; }

.blog-post-author .media-body .h6 {
  margin-bottom: 0; }

.lead + .blog-post-author {
  margin-top: 3rem; }

.breadcrumb {
  font-size: .875em; }
  .breadcrumb:last-child {
    margin-bottom: 0; }

.breadcrumb-item + .breadcrumb-item:before {
  content: '>';
  font-weight: 600;
  font-size: 11px;
  transform: scaleX(0.7);
  bottom: 1px;
  position: relative; }

nav[aria-label="breadcrumb"].position-absolute {
  width: 100%;
  z-index: 2; }
  nav[aria-label="breadcrumb"].position-absolute a {
    color: #fff; }

.bg-dark .breadcrumb-item a, .text-light .breadcrumb-item a, .text-white .breadcrumb-item a {
  color: #fff;
  font-weight: 500; }
  .bg-dark .breadcrumb-item a:hover, .text-light .breadcrumb-item a:hover, .text-white .breadcrumb-item a:hover {
    opacity: .75; }

.bg-dark .breadcrumb-item + .breadcrumb-item:before, .text-light .breadcrumb-item + .breadcrumb-item:before, .text-white .breadcrumb-item + .breadcrumb-item:before {
  color: #fff; }

.text-white .breadcrumb-item {
  color: rgba(255, 255, 255, 0.75); }

  










  

.nav-tabs .nav-item .nav-link {
  padding: 0.75rem;
  transition: color .35s ease, border-color .35s ease;
  border-bottom: 2px solid rgba(255, 255, 255, 0); }
  .nav-tabs .nav-item .nav-link:not(.active) {
    color: #adb5bd; }
    .nav-tabs .nav-item .nav-link:not(.active):hover {
      color: #343a40; }
  .nav-tabs .nav-item .nav-link.active {
    border-color: #4582EC; }



    
/*# sourceMappingURL=theme.css.map */
