<template>
   <v-layout>
      <main role="main" class="secondary">
         <div class="main-jumbotron">
            <div class="jumbotron container bg-transparent text-white text-center mt-4">
               <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                  <h1 class="mb-2 font-weight-bold">About </h1>
                  <p class="lead text-secondary">To spread the power of good design</p>
               </div>
            </div>
         </div>
      </main>
      <section class="pd-y-60">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <h2>A brief history</h2>
                     <p>Armed with a credit card and a dream, two college friends, Mike Cannon-Brookes and Scott Farquhar set out to create Space. In 2002, they didn't know what kind of company Space was going to be, but they knew exactly what it shouldn't be—an environment where they had to conform rather than be who they authentically are.</p>
                     <p>Now, over 15 years later, our team has grown to over 2,500 Atlassians worldwide with offices around the globe. But it didn't happen overnight. Here's our story.</p>
                  </div>
                  <div class="col-lg-6 col-md-6">
                   <img alt="image" class="wd-100p" src="../../assets/andopenthouse8.jpg" />
               </div>
               </div>
               
            </div>
      </section>
      <section class="pd-y-60 bg-white">
            <div class="container">
               <div class="row">
                <div class="col-lg-6 col-md-6">
                   <img alt="image" class="wd-100p" src="../../assets/andopenthouse8.jpg" />
               </div>
                  <div class="col-lg-6 col-md-6">
                     <h2>Work shouldn't be chaos</h2>
                     <p>At Space, we're building a place where everything from the most immediate details to the big picture are organized. With Space, each person knows what they should be doing and why. This clarity, transparency, and focus allows teams to collaborate with less friction and produce great results.</p>
                     <p>We believe coordination should be as effortless between people as it is between our own brains and bodies, that people should be appreciated, and love what they do.</p>
                  </div>
                  
               </div>
               
            </div>
      </section>
      <section class="pd-y-60">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h2>Who we are</h2>
                  <p class="mb-0"> RoseHosting is a service of Rose Web Services LLC, a privately owned St. Louis, Missouri based company, founded in 2001 with the vision of becoming a leading provider of business and personal web hosting solutions. By focusing on quality equipment, stability and hand-holding customer support, we set ourselves apart from our competitors. We offer unique, user friendly solutions for personal and business use. </p>
               </div>
               <div class="col-md-6">
                  <h2>No-overselling Policy</h2>
                  <p class="mb-0"> Many web hosting companies oversell bandwidth and space to make it appear that you are getting a fantastic deal. We never oversell bandwidth or disk space, or any other resource, so you can always rest assured that you are getting exactly what you pay for, a fantastic but at the same time a realistic and sustainable deal.
                  </p>
               </div>
            </div>
            <!-- row-->
         </div>
      </section>
      <section class="pd-y-60 bg-white">
         <div class="container">
                  <h2 class="text-center">Who is behind these great looking interfaces?</h2>
            <div class="row justify-content-center text-center">
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Rares2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Dragos2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Manu2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Cristi2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Alex2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/StefanM2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Rares2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Ciprian2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/StefanM2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Pavel2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Beni2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60 mg-b-0">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Alexis2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60 mg-b-0">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/StefanC2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60 mg-b-0">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Manu2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60 mg-b-0">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Diana2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/Elisa2.jpg" alt="Image Description">
            </div>
            <div class="col-4 col-md-2">
               <img class="wd-100 rounded-circle" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/team/StefanC2.jpg" alt="Image Description">
            </div>
         </div>
         </div>
      </section>
   </v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'about',

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
