<template>
    <v-layout>
        <main role="main" class="secondary">
            <div class="main-jumbotron">
                <div class="jumbotron container bg-transparent text-white text-center mt-4">
                    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                        <h1 class="mb-2 font-weight-bold">Advantage </h1>
                        <p class="lead text-secondary">To spread the power of good design</p>
                    </div>
                </div>
            </div>
        </main>
        <section class="pd-y-60 bg-gray-200">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <!-- Features -->
            <div class="row">
              <div class="col-lg-3">
              <img class="wd-100p mg-r-10" src="../../assets/andopenthouse8.jpg"  alt="Image Description">
              </div>
              <div class="col-lg-9">
                <h3 class="mg-0">Professional design</h3>
                <p>Achieve virtually any look and layout from within the one template.</p>
              </div>
            </div>
            <!-- End Features -->
          </div>

          <div class="col-lg-6">
            <!-- Features -->
            <div class="row">
              <div class="col-lg-3">
              <img class="wd-100p mg-r-10" src="../../assets/andopenthouse8.jpg"  alt="Image Description">
              </div>
              <div class="col-lg-9">
                <h3 class="mg-0">Space strategy</h3>
                <p>We strive to figure out ways to help your audience grow through all platforms.</p>
              </div>
            </div>
            <!-- End Features -->
          </div>
        </div>
      </div>
    </section>
    <section class="pd-y-60 bg-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <h2>A brief history</h2>
              <p>Armed with a credit card and a dream, two college friends, Mike Cannon-Brookes and Scott Farquhar set out to create Space. In 2002, they didn't know what kind of company Space was going to be, but they knew exactly what it shouldn't be—an environment where they had to conform rather than be who they authentically are.</p>
              <p>Now, over 15 years later, our team has grown to over 2,500 Atlassians worldwide with offices around the globe. But it didn't happen overnight. Here's our story.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                   <img alt="image" class="wd-100p" src="../../assets/andopenthouse8.jpg" />
               </div>
          </div>

        </div>
    </section>
    <section class="pd-y-60">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <h2>Work shouldn't be chaos</h2>
              <p>At Space, we're building a place where everything from the most immediate details to the big picture are organized. With Space, each person knows what they should be doing and why. This clarity, transparency, and focus allows teams to collaborate with less friction and produce great results.</p>
              <p>We believe coordination should be as effortless between people as it is between our own brains and bodies, that people should be appreciated, and love what they do.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                   <img alt="image" class="wd-100p" src="../../assets/andopenthouse8.jpg" />
               </div>
          </div>

          
        </div>
    </section>
    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll animation-engine-js dzsprx-readyall loaded" >
      <!-- Apply your Parallax background image here -->


      <!-- Content -->
      <div class="container position-relative z-index-2 space-2 space-3--lg">
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
          <h2 class="display-4 text-white">Telling our story</h2>
          <p class="lead text-white">Telling the story in our customers' preferred channel, on the fly.</p>
        </div>
      </div>
      <!-- End Content -->
    </div>
    </v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'advantage',

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
