<template>
    <v-layout>
      <section aria-label="breadcrumb" role="navigation">
         <div class="container-fluid">
            <div class="col-md-10">
               <ol class="breadcrumb bg-transparent pd-l-5">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active">Blogs</li>
               </ol>
            </div>
            <!--end of col-->
         </div>
         <!--end of container-->
      </section>
    <!-- start content -->
    <div class="container">
            <ul class="row mb-3 feature-list feature-list-sm">

            <li v-for="inc in 9" v-show="toShow" :key="inc + '-loading'" class="col-12 col-md-6 col-lg-4">
              <div class="card card-lg">
                <a href="#">
                  <img class="card-img-top" src="https://wingman.mediumra.re/assets/img/photo-team-desk.jpg" alt="Starting Up - A Candid Documentary">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title mb-3">Starting Up - A Candid Documentary</h4>
                  </a>
                  <p class="card-text">What it’s really like trying to convert an idea into a business.</p>
                </div>
                <div class="card-footer border-top-0 bg-white">
                  <div class="media blog-post-author">
                    <img alt="Image" src="https://wingman.mediumra.re/assets/img/avatar-male-1.jpg" class="avatar avatar-xs">
                    <div class="media-body">
                      <small class="lh-5">Cameron Vasquez</small>
                      <small class="lh-5">28th February 2018 • 4 min read</small>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li v-for="increment in 6" v-show="!toShow" :key="increment" class="col-12 col-md-6 col-lg-4">
              <div class="card card-lg">
                  <div class="ph-picture ht-200"></div>
                <div class="card-body">
                  <div class="ph-row">
            <div class="ph-col-12 big"></div>
            <div class="ph-col-8 big"></div>
          </div>
                  <div class="ph-row">
            <div class="ph-col-12"></div>
            <div class="ph-col-12"></div>
          </div>
                </div>
                <div class="card-footer border-top-0 bg-white">
                  <div class="media blog-post-author">
                    <div class="ph-col-2">
                      <div class="ph-avatar avatar avatar-xs"></div>
                    </div>
                    
                    <div class="media-body">
                      <div class="ph-row">
            <div class="ph-col-4"></div>
            <div class="ph-col-4"></div>
          </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>



          </ul>

          <p class="text-center">
            <a href="#" class="btn btn-outline-danger my-2">Prev Page</a>
            <a href="#" class="btn btn-danger my-2">Next Page</a>
          </p>

          <section class="pd-y-30">
    <div class="container">
      <div class="text-center">
        <h3 class="h4 mb-2">Subscribe to our newsletter</h3>
        <p class="text-muted">Join our monthly newsletter and never miss out on new stories and promotions.</p>

        <div class="row">
          <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5 ml-auto mr-auto">
              <form class="">
      <input type="email" class="form__field" placeholder="Your E-Mail Address" />
      <button type="button" class="btn btn-secondary btn--inside">Send</button>
    </form>
          </div>
        </div>
      </div>
    </div>
  </section>
    </div>
    <!-- end content --> 
    </v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'blogs',

        data () {
          return {
            toShow: false
          }
        },

        mounted() { // after the component instance has been mounted,
          setTimeout(
            _ => this.toShow = true, // enable the input
            4000 // after 1 second
          )
        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
