<template>
    <v-layout>
        <main role="main" class="secondary">
            <div class="main-jumbotron">
                <div class="jumbotron container bg-transparent text-white text-center mt-4">
                    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                        <h1 class="mb-2 font-weight-bold">Concept </h1>
                        <p class="lead text-secondary">To spread the power of good design</p>
                    </div>
                </div>
            </div>
        </main>

        <section class="pd-y-60">
          <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img alt="image" class="wd-100p" src="../../assets/andopenthouse8.jpg" />
            </div>
            <div class="col-md-6">
                <h3 class="h4">Concept 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis <strong>dis parturient montes</strong>, nascetur ridiculus mus.</p>

                <p>Nascetur ridiculus mus. Donec quam felis, ultricies nec, <i>pellentesque eu</i>, pretium quis, sem. Nulla consequat massa quis enim.</p>
                <p>
                  <a href="#">More info</a>
                </p>
              </div>
          </div><!-- /.row -->
          </div>
        </section>

        <section class="pd-y-60 bg-white">
          <div class="container">
          <div class="row">
            <div class="col-md-6">

                <h3 class="h4">Concept 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>

                <p>Nascetur ridiculus mus. Donec quam felis, ultricies nec, <i>pellentesque eu</i>, pretium quis, sem. Nulla consequat massa quis enim dis parturient montes, <strong>nascetur ridiculus</strong> mus et magnis.</p>
                <p>
                  <a href="#">More info</a>
                </p>
            </div>
            <div class="col-md-6">
              <img alt="image" class="wd-100p" src="../../assets/andopenthouse8.jpg" />
            </div>
          </div><!-- /.row -->
        </div>
        </section>

        <section class="pd-y-60">
          <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img alt="image" class="wd-100p" src="../../assets/andopenthouse8.jpg" />
            </div>
            <div class="col-md-6">
                <h3 class="h4">App</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis <strong>dis parturient montes</strong>, nascetur ridiculus mus.</p>

                <p>Nascetur ridiculus mus. Donec quam felis, ultricies nec, <i>pellentesque eu</i>, pretium quis, sem. Nulla consequat massa quis enim.</p>
                <p>
                  <a href="#">More info</a>
                </p>
              </div>
          </div><!-- /.row -->
        </div>
        </section>
    
    </v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'concept',

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
