<template>
<v-layout>
   <main role="main">
      <div class="main-jumbotron">
         <div class="jumbotron container bg-transparent text-white text-center mt-4">
            <h1 class="tx-40">Decision Making</h1>
            <p class="lead tx-25">If you are a seller, stop looking, let the market come to you.</p>
            <p class="lead tx-25">If you are a buyer, take advantage of the best offers.</p>
            <a class="btn btn-lg btn-warning" href="#" role="button">Explore Vone plus &raquo;</a>
         </div>
      </div>
   </main>
   <section class="pd-y-60 bg-white">
      <div class="container">
         <h3 class="d-block tx-gray-700 text-center tx-36 mb-2 mg-b-40-force">
               See How It Works                  
               <span class="tx-18 d-block">
               Discover how Listable can you help you find everything you want.                
           </span>
            </h3>
         <div class="row">
            <div class="col-md-4">
               <div class="rounded-5 border tx-gray-500 pos-relative bg-white lh-2 overflow-hidden text-center">
                  <div class="pd-15 tx-light tx-15">
                     <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                     <svg width="156px" height="170px" style="margin-top: 20px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m301 226c0 16.800781-9.300781 32.101562-24 39.898438-3.601562 1.800781-6 6.601562-6 12 0 8.101562-6.597656 15-15 15s-15-6.898438-15-15c0-13.5 5.398438-25.796876 15-33.898438 2.101562-1.800781 4.5-3.601562 6.898438-4.800781 5.101562-2.398438 8.101562-7.5 8.101562-13.199219 0-8.402344-6.597656-15-15-15s-15 6.597656-15 15c0 8.398438-6.597656 15-15 15s-15-6.601562-15-15c0-24.902344 20.097656-45 45-45s45 20.097656 45 45zm0 0" fill="#7c8388"/><path d="m271 316c0 8.398438-6.597656 15-15 15s-15-6.601562-15-15c0-8.402344 6.597656-15 15-15s15 6.597656 15 15zm0 0" fill="#7c8388"/><path d="m25.605469 94.394531 13.179687-13.179687 16.296875 16.292968c-28.03125 35.550782-46.925781 79.652344-52.808593 126.886719-1.097657 8.828125 6.222656 16.605469 15.117187 16.605469h91.472656c7.308594 0 13.164063-5.363281 14.65625-12.519531 10.894531-52.1875 52.773438-94.066407 104.960938-104.960938 7.15625-1.492187 12.519531-7.347656 12.519531-14.65625v-91.472656c0-8.894531-7.777344-16.214844-16.605469-15.117187-47.234375 5.882812-91.335937 24.773437-126.886719 52.808593l-16.292968-16.296875 13.179687-13.179687c9.449219-9.449219 2.753907-25.605469-10.609375-25.605469h-68.785156c-8.285156 0-15 6.714844-15 15v68.785156c0 13.363282 16.15625 20.058594 25.605469 10.609375zm0 0" fill="#ff637b"/><path d="m497 0h-68.785156c-13.363282 0-20.058594 16.15625-10.605469 25.605469l13.179687 13.179687-16.296874 16.296875c-35.550782-28.035156-79.652344-46.925781-126.886719-52.808593-8.828125-1.097657-16.605469 6.222656-16.605469 15.117187v91.472656c0 7.308594 5.363281 13.164063 12.519531 14.65625 52.1875 10.894531 94.066407 52.773438 104.960938 104.960938 1.492187 7.15625 7.347656 12.519531 14.65625 12.519531h91.472656c8.894531 0 16.214844-7.777344 15.117187-16.605469-5.882812-47.234375-24.777343-91.335937-52.8125-126.886719l16.296876-16.292968 13.179687 13.179687c9.453125 9.449219 25.609375 2.757813 25.609375-10.605469v-68.789062c0-8.285156-6.714844-15-15-15zm0 0" fill="#00c8c8"/><path d="m108.863281 271h-91.472656c-8.894531 0-16.214844 7.777344-15.117187 16.605469 5.882812 47.234375 24.777343 91.335937 52.8125 126.886719l-16.296876 16.292968-13.179687-13.179687c-9.453125-9.449219-25.609375-2.753907-25.609375 10.609375v68.785156c0 8.285156 6.714844 15 15 15h68.785156c13.363282 0 20.058594-16.15625 10.605469-25.605469l-13.179687-13.179687 16.296874-16.296875c35.546876 28.035156 79.652344 46.929687 126.882813 52.808593 8.828125 1.097657 16.609375-6.222656 16.609375-15.117187v-91.472656c0-7.308594-5.363281-13.164063-12.519531-14.65625-52.1875-10.890625-94.070313-52.773438-104.960938-104.960938-1.492187-7.15625-7.347656-12.519531-14.65625-12.519531zm0 0" fill="#f4d7af"/><path d="m486.394531 417.605469-13.179687 13.179687-16.296875-16.292968c28.03125-35.550782 46.925781-79.652344 52.808593-126.886719 1.097657-8.824219-6.222656-16.605469-15.117187-16.605469h-91.472656c-7.308594 0-13.164063 5.363281-14.65625 12.519531-10.890625 52.1875-52.773438 94.066407-104.960938 104.960938-7.15625 1.492187-12.519531 7.347656-12.519531 14.65625v91.472656c0 8.894531 7.78125 16.214844 16.609375 15.117187 47.230469-5.882812 91.335937-24.773437 126.882813-52.808593l16.296874 16.296875-13.179687 13.179687c-9.453125 9.449219-2.757813 25.605469 10.605469 25.605469h68.785156c8.285156 0 15-6.71875 15-15v-68.789062c0-13.359376-16.15625-20.054688-25.605469-10.605469zm0 0" fill="#fdbf00"/><g fill="#575f64"><path d="m271 316c0 8.398438-6.597656 15-15 15v-30c8.402344 0 15 6.597656 15 15zm0 0"/><path d="m301 226c0 16.800781-9.300781 32.101562-24 39.898438-3.601562 1.800781-6 6.601562-6 12 0 8.101562-6.597656 15-15 15v-48.898438c2.101562-1.800781 4.5-3.601562 6.898438-4.800781 5.101562-2.398438 8.101562-7.5 8.101562-13.199219 0-8.402344-6.597656-15-15-15v-30c24.902344 0 45 20.097656 45 45zm0 0"/></g></svg>
                     <div class="tx-24 mg-0 mg-b-5 tx-gray-800">Choose What To Do</div>
                     Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit or a mall to do some shopping?                     
                  </div>
                  <!-- .card__content -->
               </div>
               <!-- .card.card--post.card--feature -->
            </div>
            <!-- .grid__item -->
            <div class="col-md-4">
               <div class="rounded-5 border tx-gray-500 pos-relative bg-white lh-2 overflow-hidden text-center">
                  <div class="pd-15 tx-light tx-15">
                     <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                     <svg viewBox="0 0 512 512" width="153px" height="170px" style="margin-top: 20px" xmlns="http://www.w3.org/2000/svg"><path d="m512 15v121c0 8.398438-6.597656 15-15 15h-45v105c0 8.398438-6.597656 15-15 15s-15-6.601562-15-15v-45h-151v45c0 8.398438-6.597656 15-15 15h-45v45c0 8.398438-6.597656 15-15 15s-15-6.601562-15-15v-60c0-8.402344 6.597656-15 15-15h45v-45c0-8.402344 6.597656-15 15-15h45v-45c0-8.402344 6.597656-15 15-15s15 6.597656 15 15v45h91v-30h-46c-8.402344 0-15-6.601562-15-15 0-8.402344 6.597656-15 15-15h106v-91h-452v286c0 8.398438-6.597656 15-15 15s-15-6.601562-15-15v-301c0-8.402344 6.597656-15 15-15h482c8.402344 0 15 6.597656 15 15zm0 0" fill="#64e1dc"/><path d="m512 196v301c0 8.398438-6.597656 15-15 15h-482c-8.402344 0-15-6.601562-15-15v-121c0-8.402344 6.597656-15 15-15s15 6.597656 15 15v106h452v-91h-30v46c0 8.398438-6.597656 15-15 15h-121c-8.402344 0-15-6.601562-15-15 0-8.402344 6.597656-15 15-15h106v-91h-31v45c0 8.398438-6.597656 15-15 15h-105v46c0 8.398438-6.597656 15-15 15h-60c-8.402344 0-15-6.601562-15-15v-46h-45c-8.402344 0-15-6.601562-15-15v-45h-31v91h46c8.402344 0 15 6.597656 15 15 0 8.398438-6.597656 15-15 15h-61c-8.402344 0-15-6.601562-15-15v-362c0-8.402344 6.597656-15 15-15h362c8.402344 0 15 6.597656 15 15 0 8.398438-6.597656 15-15 15h-166v46c0 8.398438-6.597656 15-15 15s-15-6.601562-15-15v-46h-90v91h30v-45c0-8.402344 6.597656-15 15-15s15 6.597656 15 15v60c0 8.398438-6.597656 15-15 15h-60c-8.402344 0-15-6.601562-15-15v-106h-31v211h31v-45c0-8.402344 6.597656-15 15-15s15 6.597656 15 15v105h45c8.402344 0 15 6.597656 15 15v46h30v-106c0-8.402344 6.597656-15 15-15s15 6.597656 15 15v45h90v-90h-30v45c0 8.398438-6.597656 15-15 15s-15-6.601562-15-15v-60c0-8.402344 6.597656-15 15-15h60c8.402344 0 15 6.597656 15 15v45h46c8.402344 0 15 6.597656 15 15v45h30v-165c0-8.402344 6.597656-15 15-15s15 6.597656 15 15zm0 0" fill="#64e1dc"/><g fill="#00c8c8"><path d="m256 151v-91h181c8.402344 0 15 6.597656 15 15 0 8.398438-6.597656 15-15 15h-166v46c0 8.398438-6.597656 15-15 15zm0 0"/><path d="m512 15v121c0 8.398438-6.597656 15-15 15h-45v105c0 8.398438-6.597656 15-15 15s-15-6.601562-15-15v-45h-151v45c0 8.398438-6.597656 15-15 15v-90h45v-45c0-8.402344 6.597656-15 15-15s15 6.597656 15 15v45h91v-30h-46c-8.402344 0-15-6.601562-15-15 0-8.402344 6.597656-15 15-15h106v-91h-226v-30h241c8.402344 0 15 6.597656 15 15zm0 0"/><path d="m512 196v301c0 8.398438-6.597656 15-15 15h-241v-30h226v-91h-30v46c0 8.398438-6.597656 15-15 15h-121c-8.402344 0-15-6.601562-15-15 0-8.402344 6.597656-15 15-15h106v-91h-31v45c0 8.398438-6.597656 15-15 15h-105v46c0 8.398438-6.597656 15-15 15v-151c8.402344 0 15 6.597656 15 15v45h90v-90h-30v45c0 8.398438-6.597656 15-15 15s-15-6.601562-15-15v-60c0-8.402344 6.597656-15 15-15h60c8.402344 0 15 6.597656 15 15v45h46c8.402344 0 15 6.597656 15 15v45h30v-165c0-8.402344 6.597656-15 15-15s15 6.597656 15 15zm0 0"/></g></svg>
                     <div class="tx-24 mg-0 mg-b-5 tx-gray-800">Find What You Want</div>
                     Search and filter hundreds of listings, read reviews, explore photos and find the perfect spot.                     
                  </div>
                  <!-- .card__content -->
               </div>
               <!-- .card.card--post.card--feature -->
            </div>
            <!-- .grid__item -->
            <div class="col-md-4">
               <div class="rounded-5 border tx-gray-500 pos-relative bg-white lh-2 overflow-hidden text-center">
                  <div class="pd-15 tx-light tx-15">
                     <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                     <svg width="153px" height="170px" style="margin-top: 20px" viewBox="0 0 512.00075 512.00075" xmlns="http://www.w3.org/2000/svg"><path d="m223.261719 352.371094-114.457031 114.757812-61.53125-2.402344h-.898438l-1.503906-61.53125 114.757812-114.457031c5.703125-5.699219 15.308594-5.699219 21.011719 0l21.308594 21.3125 21.308593 21.308594c5.707032 5.703125 5.707032 15.308594.003907 21.011719zm0 0" fill="#64e1dc"/><path d="m223.261719 331.359375c5.703125 5.703125 5.703125 15.308594 0 21.011719l-114.457031 114.757812-61.53125-2.402344 154.675781-154.675781zm0 0" fill="#00c8c8"/><path d="m412.351562 99.648438c-52.523437-52.824219-138.367187-52.824219-190.894531 0-52.824219 52.527343-52.824219 138.367187 0 190.894531 52.527344 52.824219 138.371094 52.824219 190.894531 0 25.515626-25.511719 39.621094-59.429688 39.621094-95.449219 0-36.015625-14.105468-69.933594-39.621094-95.445312zm0 0" fill="#faecd8"/><path d="m451.972656 195.09375c0 36.019531-14.105468 69.9375-39.621094 95.449219-52.523437 52.824219-138.367187 52.824219-190.894531 0l190.894531-190.894531c25.515626 25.511718 39.621094 59.429687 39.621094 95.445312zm0 0" fill="#f4d7af"/><path d="m108.804688 467.128906-32.117188 31.816406c-17.410156 17.40625-45.921875 17.40625-63.628906 0-17.410156-17.710937-17.410156-46.222656 0-63.632812l31.8125-32.117188zm0 0" fill="#00c8c8"/><path d="m316.90625 120.058594c-8.296875 0-15.007812-6.710938-15.007812-15.007813v-90.042969c0-8.296874 6.710937-15.007812 15.007812-15.007812 8.292969 0 15.007812 6.710938 15.007812 15.007812v90.042969c0 8.296875-6.714843 15.007813-15.007812 15.007813zm0 0" fill="#f4d7af"/><path d="m316.90625 390.191406c-8.296875 0-15.007812-6.714844-15.007812-15.007812v-90.042969c0-8.296875 6.710937-15.007813 15.007812-15.007813 8.292969 0 15.007812 6.710938 15.007812 15.007813v90.042969c0 8.292968-6.714843 15.007812-15.007812 15.007812zm0 0" fill="#dabba6"/><path d="m226.863281 210.101562h-90.046875c-8.292968 0-15.007812-6.710937-15.007812-15.007812 0-8.292969 6.714844-15.003906 15.007812-15.003906h90.046875c8.292969 0 15.003907 6.710937 15.003907 15.003906 0 8.296875-6.710938 15.007812-15.003907 15.007812zm0 0" fill="#f4d7af"/><path d="m496.992188 210.101562h-90.042969c-8.292969 0-15.007813-6.710937-15.007813-15.007812 0-8.292969 6.714844-15.003906 15.007813-15.003906h90.042969c8.296874 0 15.007812 6.710937 15.007812 15.003906 0 8.296875-6.710938 15.007812-15.007812 15.007812zm0 0" fill="#dabba6"/><path d="m390.441406 171.683594-30.011718 60.027344c-3.902344 7.503906-12.605469 10.507812-20.109376 6.90625l-44.726562-22.210938-5.703125-3.003906-22.507813 22.210937c-5.703124 6.003907-15.308593 6.003907-21.011718 0-6.003906-5.703125-6.003906-15.304687 0-21.007812l30.015625-30.015625c4.5-4.804688 11.40625-5.703125 17.105469-3.003906l24.613281 12.308593 22.210937 11.105469 23.113282-46.523438c3.902343-7.503906 12.90625-10.503906 20.105468-6.902343 7.507813 3.902343 10.507813 12.90625 6.90625 20.109375zm0 0" fill="#64e1dc"/><path d="m76.988281 435.3125 31.816407 31.816406-32.117188 31.816406c-17.40625 17.40625-45.921875 17.40625-63.628906 0zm0 0" fill="#1cadb5"/><path d="m390.441406 171.683594-30.011718 60.027344c-3.902344 7.503906-12.605469 10.507812-20.109376 6.90625l-44.726562-22.210938 22.511719-22.511719 22.214843 11.105469 23.109376-46.523438c3.902343-7.503906 12.90625-10.503906 20.109374-6.902343 7.503907 3.902343 10.503907 12.90625 6.902344 20.109375zm0 0" fill="#00c8c8"/><path d="m454.972656 57.027344c-76.234375-75.9375-199.894531-75.9375-276.132812 0-75.9375 76.238281-75.9375 199.898437 0 276.136718 76.234375 75.9375 199.894531 75.9375 276.132812 0 75.9375-76.238281 75.9375-199.898437 0-276.136718zm-42.621094 233.515625c-52.523437 52.824219-138.367187 52.824219-190.894531 0-52.824219-52.527344-52.824219-138.367188 0-190.894531 52.527344-52.824219 138.371094-52.824219 190.894531 0 25.515626 25.511718 39.621094 59.429687 39.621094 95.445312 0 36.019531-14.105468 69.9375-39.621094 95.449219zm0 0" fill="#7c8388"/><path d="m454.972656 57.027344-42.621094 42.621094c25.515626 25.511718 39.621094 59.429687 39.621094 95.445312 0 36.019531-14.105468 69.9375-39.621094 95.449219-52.523437 52.824219-138.367187 52.824219-190.894531 0l-42.617187 42.617187c76.234375 75.941406 199.894531 75.941406 276.132812 0 75.9375-76.234375 75.9375-199.894531 0-276.132812zm0 0" fill="#575f64"/></svg>
                     <div class="tx-24 mg-0 mg-b-5 tx-gray-800">Explore Amazing Places</div>
                     Go and have a good time or even make a booking directly from the listing page. All of those, thanks to Listable!                        
                  </div>
                  <!-- .card__content -->
               </div>
               <!-- .card.card--post.card--feature -->
            </div>
            <!-- .grid__item -->
         </div>
         <!-- .grid -->
      </div>
   </section>
   <section class="pd-y-60">
   <div class="container">
    <h3 class="d-block tx-gray-700 text-center tx-36 mb-2 mg-b-40-force">
               See How It Works                  
               <span class="tx-18 d-block">
               Discover how Listable can you help you find everything you want.                
           </span>
            </h3>
      <div class="row border rounded-5 pd-y-20">
         <div class="col-md-4 text-center">
            <svg class="wd-190" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511.375 511.375" style="enable-background:new 0 0 511.375 511.375;" xml:space="preserve">
<g>
    <path style="fill:#FF3D43;" d="M400.288,503.875H81.087V7.5h319.202c16.569,0,30,13.431,30,30v436.375   C430.288,490.443,416.857,503.875,400.288,503.875z"/>
    <path style="fill:#D72E2E;" d="M400.288,7.5h-27c16.569,0,30,13.431,30,30v436.375c0,16.569-13.431,30-30,30h27   c16.569,0,30-13.431,30-30V37.5C430.288,20.932,416.857,7.5,400.288,7.5z"/>
    <circle style="fill:#FFDF65;" cx="255.688" cy="193.172" r="109.295"/>
    <ellipse style="fill:#FFBB64;" cx="255.688" cy="193.172" rx="50.071" ry="109.295"/>
    <path style="fill:#FFAD47;" d="M255.688,83.877c-4.678,0-9.205,1.405-13.5,4.024c21.095,12.863,36.571,55.12,36.571,105.271   c0,50.151-15.475,92.408-36.571,105.271c4.295,2.619,8.822,4.024,13.5,4.024c27.653,0,50.071-48.933,50.071-109.294   C305.758,132.81,283.341,83.877,255.688,83.877z"/>
    <path style="fill:#FFCD2C;" d="M255.688,83.877c-4.571,0-9.076,0.285-13.5,0.83c53.992,6.652,95.795,52.674,95.795,108.465   c0,55.79-41.803,101.813-95.795,108.464c4.424,0.545,8.929,0.83,13.5,0.83c60.362,0,109.295-48.933,109.295-109.294   C364.982,132.81,316.049,83.877,255.688,83.877z"/>
    <g>
        <path d="M430.289,390.77c-4.142,0-7.5,3.358-7.5,7.5v75.605c0,12.406-10.093,22.5-22.5,22.5H88.586V113.877    c0-4.143-3.358-7.5-7.5-7.5c-4.142,0-7.5,3.357-7.5,7.5v389.998c0,4.143,3.358,7.5,7.5,7.5h319.202    c20.678,0,37.5-16.822,37.5-37.5V398.27C437.789,394.127,434.431,390.77,430.289,390.77z"/>
        <path d="M400.289,0H81.086c-4.142,0-7.5,3.357-7.5,7.5v76.377c0,4.143,3.358,7.5,7.5,7.5c4.142,0,7.5-3.357,7.5-7.5V15h311.702    c12.407,0,22.5,10.094,22.5,22.5v330.77c0,4.143,3.358,7.5,7.5,7.5s7.5-3.357,7.5-7.5V37.5C437.789,16.822,420.966,0,400.289,0z"/>
        <path d="M356.683,180.351c0.516,4.109,4.259,7.03,8.376,6.507c4.11-0.516,7.023-4.266,6.507-8.376    c-1.878-14.955-6.568-28.961-13.488-41.525c-1.131-2.061-2.327-4.084-3.584-6.071c-18.773-29.844-49.688-49.402-84.524-53.63    c-10.786-1.321-21.755-1.146-32.49,0.544c-36.734,5.721-68.694,28.567-85.948,62.484c-0.121,0.237-0.228,0.48-0.322,0.726    c-7.875,15.71-12.317,33.426-12.317,52.163s4.442,36.453,12.317,52.163c0.094,0.246,0.201,0.489,0.322,0.726    c17.254,33.917,49.214,56.763,85.948,62.484c9.678,1.523,19.552,1.819,29.305,0.889c39.694-3.726,74.699-27.285,93.059-63.373    c0.063-0.123,0.112-0.251,0.168-0.377c5.476-10.86,9.267-22.571,11.126-34.734c0.626-4.095-2.186-7.921-6.281-8.547    c-4.095-0.624-7.921,2.187-8.547,6.281c-1.295,8.474-3.68,16.69-7.016,24.485c-11.609-4.196-24.377-7.563-37.888-10.033    c1.214-9.66,1.854-19.709,1.854-29.963c0-10.254-0.641-20.303-1.854-29.963c13.523-2.473,26.301-5.843,37.918-10.044    C352.961,161.669,355.482,170.787,356.683,180.351z M255.688,294.967c-10.122,0-20.541-10.073-28.587-27.636    c-4.242-9.259-7.574-20.003-9.928-31.701c12.434-1.591,25.377-2.426,38.515-2.426c13.137,0,26.08,0.835,38.515,2.426    c-2.354,11.698-5.686,22.442-9.928,31.701C276.229,284.894,265.809,294.967,255.688,294.967z M213.463,273.578    c2.733,5.965,5.74,11.244,8.976,15.807c-22.317-7.734-41.132-23.025-53.37-42.8c10.242-3.577,21.447-6.472,33.279-8.65    C204.941,251.044,208.676,263.129,213.463,273.578z M162.085,233.167c-5.269-12.284-8.192-25.804-8.192-39.995    c0-14.191,2.923-27.711,8.192-39.995c11.609,4.196,24.375,7.562,37.886,10.032c-1.214,9.66-1.854,19.709-1.854,29.963    c0,10.254,0.641,20.303,1.854,29.963C186.46,225.606,173.694,228.972,162.085,233.167z M169.069,139.758    c12.239-19.774,31.053-35.066,53.37-42.8c-3.235,4.563-6.243,9.842-8.976,15.806c-4.787,10.449-8.523,22.535-11.115,35.643    C190.517,146.23,179.311,143.335,169.069,139.758z M227.101,119.013c8.046-17.563,18.465-27.636,28.587-27.636    c10.122,0,20.541,10.072,28.587,27.636c4.242,9.259,7.574,20.003,9.928,31.701c-12.434,1.591-25.377,2.426-38.515,2.426    c-13.137,0-26.08-0.835-38.515-2.426C219.527,139.015,222.859,128.272,227.101,119.013z M342.335,246.596    c-5.402,8.747-12.134,16.708-20.033,23.55c-9.858,8.54-21.198,15.009-33.343,19.208c3.227-4.556,6.227-9.825,8.953-15.775    c4.787-10.449,8.523-22.535,11.115-35.642C320.869,240.116,332.085,243.013,342.335,246.596z M298.258,193.172    c0,9.483-0.577,18.752-1.67,27.641c-13.225-1.716-26.975-2.608-40.901-2.608c-13.925,0-27.676,0.892-40.901,2.608    c-1.093-8.888-1.67-18.157-1.67-27.641c0-9.483,0.577-18.752,1.67-27.641c13.225,1.716,26.975,2.608,40.901,2.608    c13.925,0,27.675-0.892,40.901-2.608C297.681,174.42,298.258,183.689,298.258,193.172z M309.027,148.408    c-2.593-13.108-6.328-25.194-11.115-35.643c-2.726-5.95-5.726-11.219-8.953-15.774c22.22,7.707,41.09,22.915,53.37,42.76    C332.081,143.331,320.867,146.228,309.027,148.408z"/>
        <path d="M146.393,368.971h218.589c4.142,0,7.5-3.357,7.5-7.5s-3.358-7.5-7.5-7.5H146.393c-4.142,0-7.5,3.357-7.5,7.5    S142.251,368.971,146.393,368.971z"/>
        <path d="M175.857,396.683c-4.142,0-7.5,3.357-7.5,7.5c0,4.143,3.358,7.5,7.5,7.5h159.66c4.142,0,7.5-3.357,7.5-7.5    c0-4.143-3.358-7.5-7.5-7.5H175.857z"/>
    </g>
</g>
</svg>
         </div>
         <div class="col-md-8">
               <h3>Introducing the Atlassian Team Playbook</h3>
               <p class="lh-4">This ain't your CEO's ivory-tower management book. It's by teams, for teams. You'll find step-by-step guides for tracking your team's health, and plays that build your Get $#!τ Done™ muscle.</p>
               <a href="/team-playbook" class="component__link link-arrow">
                  Learn more &raquo;
               </a>
         </div>
      </div>
   </div>
   </section>
   <section class="pd-y-60 bg-white">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <a href="/enterprise" class="tx-dark">
               <div class="pd-40 bg-gray-100">
                  <div class="container-fluid tx-dark">
                     <div class="row mx-wd-1350 m-auto">
                        <div class="col-md-4 text-center">
                           <img src="https://wac-cdn.atlassian.com/dam/jcr:4ff0df24-0ef3-473f-aec7-b55190cec660/enterprise.png?cdnVersion=le" alt="Enterprise" class="wd-100">
                        </div>
                        <div class="col-md-8">
                           <div class="d-inline-block">
                              <h4>Atlassian Enterprise</h4>
                              <p class="lh-4">Atlassian Enterprise offers the business critical products, premier support, and strategic services you need to get the.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-6">
            <a href="https://marketplace.atlassian.com" class="tx-dark">
               <div class="pd-40 bg-gray-100">
                  <div class="container-fluid tx-dark">
                     <div class="row mx-wd-1350 m-auto">
                        <div class="col-md-4 text-center">
                           <img src="https://wac-cdn.atlassian.com/dam/jcr:886db488-7340-4fc7-96b6-3ea299c132d5/marketplace.png?cdnVersion=le" alt="Marketplace" class="wd-85">
                        </div>
                        <div class="col-md-8">
                           <div class="d-inline-block">
                              <h4>Atlassian Marketplace</h4>
                              <p class="lh-4">The Atlassian Marketplace has thousands of apps that help your team customize and extend your Atlassian products.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         </div>
   </div>
         </section>
         
      
</v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'home',

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
