<template>
   <v-layout>
      <main role="main" class="secondary">
         <div class="main-jumbotron">
            <div class="jumbotron container bg-transparent text-white text-center mt-4">
               <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                  <h1 class="mb-2 font-weight-bold">The relationship </h1>
                  <p class="lead text-secondary">To spread the power of good design</p>
               </div>
            </div>
         </div>
      </main>
      <section class="pd-y-60 bg-gray-200">
         <div class="container">
            <div class="row justify-content-between align-items-center">
               <!-- left -->
               <div class="col-md-6 ht-250 bg-gray-100">
               </div>
               <!-- right -->
               <div class="col-md-6 pl-lg-5">
                  <h2 class="h1">Lorem ipsum </h2>
                  <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
                  <div>
                     <a href="#" class="btn btn-dark">Contact us</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="pd-y-60 bg-white">
         <div class="container">
            <h3 class="d-block tx-gray-700 text-center tx-36 mb-2 mg-b-40-force">
               See How It Works                  
               <span class="tx-18 d-block">
               Discover how Listable can you help you find everything you want.                
               </span>
            </h3>
            <div class="row">
               <div class="col-md-3">
                  <article class="text-center">
                     <div class="d-flex">
                        <img class="m-auto" src="https://www.stackpath.com/content/images/2019/03/sp-icon-feature-simple-setup.svg" alt="Expert OS Installation">
                     </div>
                     <div class="content">
                        <h3>
                           Expert OS             
                        </h3>
                        <div class="paragraph paragraph--size-m align align--center">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                     </div>
                  </article>
               </div>
               <div class="col-md-3">
                  <article class="text-center">
                     <div class="d-flex">
                        <img class="m-auto" src="https://www.stackpath.com/content/images/2019/03/sp-icon-feature-management-api.svg" alt="Management API">
                     </div>
                     <div class="content">
                        <h3>
                           Management API                      
                        </h3>
                        <div class="paragraph paragraph--size-m align align--center">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                     </div>
                  </article>
               </div>
               <div class="col-md-3">
                  <article class="text-center">
                     <div class="d-flex">
                        <img class="m-auto" src="https://www.stackpath.com/content/images/2019/03/sp-icon-feature-security-groups.svg" alt="Security Groups">
                     </div>
                     <div class="content">
                        <h3>
                           Security Groups                      
                        </h3>
                        <div class="paragraph paragraph--size-m align align--center">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                     </div>
                  </article>
               </div>
               <div class="col-md-3">
                  <article class="text-center">
                     <div class="d-flex">
                        <img class="m-auto" src="https://www.stackpath.com/content/images/2019/03/sp-icon-feature-built-in-metrics.svg" alt="Built-in Metrics">
                     </div>
                     <div class="content">
                        <h3>
                           Built-in Metrics                      
                        </h3>
                        <div class="paragraph paragraph--size-m align align--center">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                     </div>
                  </article>
               </div>
            </div>
         </div>
      </section>
      <section class="pd-y-60 bg-gray-100">
        <div class="container">
         <!-- Title -->
         <h3 class="d-block tx-gray-700 text-center tx-36 mb-2 mg-b-40-force">
               Millions of companies trust us                 
               <span class="tx-18 d-block">
               We want people to thrive at proov; we believe you do your best work when you feel your best.
               </span>
            </h3>
         <!-- End Title -->
         <!-- Clients Logo -->
         <div class="row justify-content-center text-center">
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/amazon.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/alphabet.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/paypal.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/slack.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/samsung.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/google.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/fitbit.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/stripe.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/mapbox.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/spotify.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/uber.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60 mg-b-0">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/airbnb.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60 mg-b-0">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/netflix.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60 mg-b-0">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/embark.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2 mg-b-60 mg-b-0">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/lenovo.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/boring-company.png" alt="Image Description">
            </div>
            <div class="col-4 col-md-2">
               <img class="wd-100" src="https://htmlstream.com/preview/space-v1.3/assets/img/clients/hubspot.png" alt="Image Description">
            </div>
         </div>
         <!-- End Clients Logo -->
       </div>
      </section>
   </v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'relationship',

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
