﻿@model Proov.Models.Proposal

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Proposal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bedrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfParking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfParking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGarage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGarage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryOfProperty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryOfProperty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceMinimum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceMinimum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceMaximum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceMaximum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCurrentlyOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCurrentlyOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsThereContingency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsThereContingency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWithPool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWithPool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPreApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPreApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankingInstitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankingInstitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urgency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urgency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFirstBuyer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFirstBuyer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elevator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elevator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wheelchair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wheelchair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NearbySchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NearbySchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NearbyParc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NearbyParc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NearbySportsCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NearbySportsCenter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NearbyTrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NearbyTrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NearbyPublicTransport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NearbyPublicTransport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NearbyWaterfront)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NearbyWaterfront)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NearbyNavigableWaterBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NearbyNavigableWaterBody)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profile.Email)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
