﻿@model IEnumerable<Proov.Models.Proposal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfParking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGarage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryOfProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceMinimum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceMaximum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCurrentlyOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsThereContingency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWithPool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPreApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankingInstitution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFirstBuyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Elevator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wheelchair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NearbySchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NearbyParc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NearbySportsCenter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NearbyTrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NearbyPublicTransport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NearbyWaterfront)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NearbyNavigableWaterBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfParking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfGarage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryOfProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceMinimum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceMaximum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCurrentlyOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsThereContingency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWithPool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPreApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankingInstitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFirstBuyer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elevator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wheelchair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NearbySchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NearbyParc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NearbySportsCenter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NearbyTrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NearbyPublicTransport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NearbyWaterfront)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NearbyNavigableWaterBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
