﻿@model Proov.Models.Proposal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Proposal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Bathrooms" class="control-label"></label>
                <input asp-for="Bathrooms" class="form-control" />
                <span asp-validation-for="Bathrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bedrooms" class="control-label"></label>
                <input asp-for="Bedrooms" class="form-control" />
                <span asp-validation-for="Bedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfParking" class="control-label"></label>
                <input asp-for="NumberOfParking" class="form-control" />
                <span asp-validation-for="NumberOfParking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfGarage" class="control-label"></label>
                <input asp-for="NumberOfGarage" class="form-control" />
                <span asp-validation-for="NumberOfGarage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryOfProperty" class="control-label"></label>
                <input asp-for="CategoryOfProperty" class="form-control" />
                <span asp-validation-for="CategoryOfProperty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceMinimum" class="control-label"></label>
                <input asp-for="PriceMinimum" class="form-control" />
                <span asp-validation-for="PriceMinimum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceMaximum" class="control-label"></label>
                <input asp-for="PriceMaximum" class="form-control" />
                <span asp-validation-for="PriceMaximum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCurrentlyOwner" class="control-label"></label>
                <input asp-for="IsCurrentlyOwner" class="form-control" />
                <span asp-validation-for="IsCurrentlyOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsThereContingency" class="control-label"></label>
                <input asp-for="IsThereContingency" class="form-control" />
                <span asp-validation-for="IsThereContingency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsWithPool" class="control-label"></label>
                <input asp-for="IsWithPool" class="form-control" />
                <span asp-validation-for="IsWithPool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPreApproved" class="control-label"></label>
                <input asp-for="IsPreApproved" class="form-control" />
                <span asp-validation-for="IsPreApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankingInstitution" class="control-label"></label>
                <input asp-for="BankingInstitution" class="form-control" />
                <span asp-validation-for="BankingInstitution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urgency" class="control-label"></label>
                <input asp-for="Urgency" class="form-control" />
                <span asp-validation-for="Urgency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileId" class="control-label"></label>
                <select asp-for="ProfileId" class="form-control" asp-items="ViewBag.ProfileId"></select>
                <span asp-validation-for="ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsEnabled" class="control-label"></label>
                <input asp-for="IsEnabled" class="form-control" />
                <span asp-validation-for="IsEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPublished" class="control-label"></label>
                <input asp-for="IsPublished" class="form-control" />
                <span asp-validation-for="IsPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsFirstBuyer" class="control-label"></label>
                <input asp-for="IsFirstBuyer" class="form-control" />
                <span asp-validation-for="IsFirstBuyer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfCreation" class="control-label"></label>
                <input asp-for="DateOfCreation" class="form-control" />
                <span asp-validation-for="DateOfCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elevator" class="control-label"></label>
                <input asp-for="Elevator" class="form-control" />
                <span asp-validation-for="Elevator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wheelchair" class="control-label"></label>
                <input asp-for="Wheelchair" class="form-control" />
                <span asp-validation-for="Wheelchair" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearbySchool" class="control-label"></label>
                <input asp-for="NearbySchool" class="form-control" />
                <span asp-validation-for="NearbySchool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearbyParc" class="control-label"></label>
                <input asp-for="NearbyParc" class="form-control" />
                <span asp-validation-for="NearbyParc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearbySportsCenter" class="control-label"></label>
                <input asp-for="NearbySportsCenter" class="form-control" />
                <span asp-validation-for="NearbySportsCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearbyTrade" class="control-label"></label>
                <input asp-for="NearbyTrade" class="form-control" />
                <span asp-validation-for="NearbyTrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearbyPublicTransport" class="control-label"></label>
                <input asp-for="NearbyPublicTransport" class="form-control" />
                <span asp-validation-for="NearbyPublicTransport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearbyWaterfront" class="control-label"></label>
                <input asp-for="NearbyWaterfront" class="form-control" />
                <span asp-validation-for="NearbyWaterfront" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearbyNavigableWaterBody" class="control-label"></label>
                <input asp-for="NearbyNavigableWaterBody" class="form-control" />
                <span asp-validation-for="NearbyNavigableWaterBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
