<template>
    <v-layout>
      <div class="page-section">
                <!-- grid row -->
                <div class="row">
                  <!-- grid column -->
                  <div class="col-lg-4">
                    <!-- .card -->
                    <div class="card card-fluid">
                      <h6 class="card-header"> Your Details </h6><!-- .nav -->
                      <nav class="nav nav-tabs flex-column border-0">
                        <a href="user-profile-settings.html" class="nav-link">Profile</a> <a href="user-account-settings.html" class="nav-link active">Account</a> <a href="user-billing-settings.html" class="nav-link">Billing</a> <a href="user-notification-settings.html" class="nav-link">Notifications</a>
                      </nav><!-- /.nav -->
                    </div><!-- /.card -->
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-lg-8">
                    <!-- .card -->
                    <div class="card card-fluid">
                      <h6 class="card-header"> Account </h6><!-- .card-body -->
                      <div class="card-body">
                        <!-- form -->
                        <form asp-action="Create">
            <div class="form-group">
                <label for="ajax" class="control-label">Location</label>
                <multiselect
                             v-model="model.location"
                             id="ajax"
                             label="name"
                             track-by="id"
                             placeholder="Type to search"
                             open-direction="bottom"
                             :custom-label="nameWithProvince"
                             :clear-on-select="true"
                             :options="cities"
                             :searchable="true"
                             :loading="isLoading"
                             :internal-search="false"
                             :close-on-select="true"
                             :options-limit="300"
                             :max-height="600"
                             :show-no-results="true"
                             :multiple="true"
                             @search-change="onChangeLocation">
                    <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
                                        </multiselect>
  <span class="error"></span>
            </div>
            <hr />
            <div class="form-row">
            <div class="form-group col-md-4">
                <label for="IsCurrentlyOwner" class="control-label">IsCurrentlyOwner</label>
                <input id="IsCurrentlyOwner" class="form-control" />
                <span asp-validation-for="IsCurrentlyOwner" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="IsFirstBuyer" class="control-label">IsFirstBuyer</label>
                <input id="IsFirstBuyer" class="form-control" />
                <span asp-validation-for="IsFirstBuyer" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="IsThereContingency" class="control-label">IsThereContingency</label>
                <input id="IsThereContingency" class="form-control" />
                <span asp-validation-for="IsThereContingency" class="text-danger"></span>
            </div>
        </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                <label for="Urgency" class="control-label">Urgency</label>
                <input id="Urgency" class="form-control" />
                <span asp-validation-for="Urgency" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="IsPreApproved" class="control-label">IsPreApproved</label>
                <input id="IsPreApproved" class="form-control" />
                <span asp-validation-for="IsPreApproved" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="BankingInstitution" class="control-label">BankingInstitution</label>
                <input id="BankingInstitution" class="form-control" />
                <span asp-validation-for="BankingInstitution" class="text-danger"></span>
            </div>
                
            </div>
            <hr />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                <label for="CategoryOfProperty" class="control-label">CategoryOfProperty</label>
                <input id="CategoryOfProperty" class="form-control" />
                <span asp-validation-for="CategoryOfProperty" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="Area" class="control-label">Area</label>
                <input id="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
        </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                <label for="Bathrooms" class="control-label">Bathrooms</label>
                <input id="Bathrooms" class="form-control" />
                <span asp-validation-for="Bathrooms" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="Bedrooms" class="control-label">Bedrooms</label>
                <input id="Bedrooms" class="form-control" />
                <span asp-validation-for="Bedrooms" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="PriceMinimum" class="control-label">Price Minimum</label>
                <input id="PriceMinimum" class="form-control" />
                <span asp-validation-for="PriceMinimum" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="PriceMaximum" class="control-label">Price Maximum</label>
                <input id="PriceMaximum" class="form-control" />
                <span asp-validation-for="PriceMaximum" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="NumberOfParking" class="control-label">NumberOfParking</label>
                <input id="NumberOfParking" class="form-control" />
                <span asp-validation-for="NumberOfParking" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="NumberOfGarage" class="control-label">NumberOfGarage</label>
                <input id="NumberOfGarage" class="form-control" />
                <span asp-validation-for="NumberOfGarage" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="IsWithPool" class="control-label">IsWithPool</label>
                <input id="IsWithPool" class="form-control" />
                <span asp-validation-for="IsWithPool" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label for="Elevator" class="control-label">Elevator</label>
                <input id="Elevator" class="form-control" />
                <span asp-validation-for="Elevator" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label for="Wheelchair" class="control-label">Wheelchair</label>
                <input id="Wheelchair" class="form-control" />
                <span asp-validation-for="Wheelchair" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label for="NearbySchool" class="control-label">NearbySchool</label>
                <input id="NearbySchool" class="form-control" />
                <span asp-validation-for="NearbySchool" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label for="NearbyParc" class="control-label">NearbyParc</label>
                <input id="NearbyParc" class="form-control" />
                <span asp-validation-for="NearbyParc" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label for="NearbySportsCenter" class="control-label">NearbySportsCenter</label>
                <input id="NearbySportsCenter" class="form-control" />
                <span asp-validation-for="NearbySportsCenter" class="text-danger"></span>
            </div>
            <!--div class="form-group col-md-6">
                <label for="IsEnabled" class="control-label">IsEnabled</label>
                <input id="IsEnabled" class="form-control" />
                <span asp-validation-for="IsEnabled" class="text-danger"></span>
            </div-->
            <!--div class="form-group col-md-6">
                <label for="IsPublished" class="control-label">IsPublished</label>
                <input id="IsPublished" class="form-control" />
                <span asp-validation-for="IsPublished" class="text-danger"></span>
            </div-->
        </div>
        <!--div class="form-row">
            
            <div class="form-group col-md-6">
                <label for="DateOfCreation" class="control-label">DateOfCreation</label>
                <input id="DateOfCreation" class="form-control" />
                <span asp-validation-for="DateOfCreation" class="text-danger"></span>
            </div>
        </div-->
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="NearbyTrade" class="control-label">NearbyTrade</label>
                <input id="NearbyTrade" class="form-control" />
                <span asp-validation-for="NearbyTrade" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="NearbyPublicTransport" class="control-label">NearbyPublicTransport</label>
                <input id="NearbyPublicTransport" class="form-control" />
                <span asp-validation-for="NearbyPublicTransport" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="NearbyWaterfront" class="control-label">NearbyWaterfront</label>
                <input id="NearbyWaterfront" class="form-control" />
                <span asp-validation-for="NearbyWaterfront" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="NearbyNavigableWaterBody" class="control-label">NearbyNavigableWaterBody</label>
                <input id="NearbyNavigableWaterBody" class="form-control" />
                <span asp-validation-for="NearbyNavigableWaterBody" class="text-danger"></span>
            </div>
        </div>

            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
                        <!-- /form -->
                      </div><!-- /.card-body -->
                    </div><!-- /.card -->
                  </div><!-- /grid column -->
                </div><!-- /grid row -->
              </div>
    </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'rentNew',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                model: {
                    location: [],
                    status: '',
                    urgent: '',
                    ageOfProperty: '',
                    typeOfProperty: [],
                    typeOfProposal: 'for_rent',
                    priceMinimum: 0,
                    priceMaximum: 0,
                    isFurnished: '',
                    size: 0
                },
                action: null,
                isLoading: false,
                cities: []
            }
        },

    /**
     * The methods the page can use.
     */
    methods: {
        /**
         * Will log the user in.
         *
         * @param {Object} user The user to be logged in.
         */
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('/api/cities', {params: {name: query}}).then(response => {
          // get status
          this.isLoading = false
            this.cities = response.data
        }, response => {
          // get failed
          // console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },


        created: function () {
            // this.find()
        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
