<template>
    <v-layout>
      <div class="page-inner">
              <!-- .page-title-bar -->
              <header class="page-title-bar">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                      <a href="user-profile.html"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview</a>
                    </li>
                  </ol>
                </nav>
              </header><!-- /.page-title-bar -->
              <!-- .page-section -->
              <div class="page-section">
                <!-- grid row -->
                <div class="row">
                  <!-- grid column -->
                  <div class="col-lg-4">
                    <!-- .card -->
                    <div class="card card-fluid">
                      <h6 class="card-header"> Your Details </h6><!-- .nav -->
                      <nav class="nav nav-tabs flex-column border-0">
                        <a href="user-profile-settings.html" class="nav-link">Profile</a> <a href="user-account-settings.html" class="nav-link active">Account</a> <a href="user-billing-settings.html" class="nav-link">Billing</a> <a href="user-notification-settings.html" class="nav-link">Notifications</a>
                      </nav><!-- /.nav -->
                    </div><!-- /.card -->
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-lg-8">
                    <!-- .card -->
                    

                    <div class="col-md-9 ml-auto mr-auto"><div class="mb-4"><div class="openings"><div class="form-group"><label for="" class="form-control-label mb-0"><i class="fa fa-search fa-fw"></i> Filter by</label> <div class="input-group mb-4"><input type="text" placeholder="Keywords, location, job type..." aria-label="Keywords, location, job type..." class="form-control"> <span class="input-group-btn"><button type="button" class="btn btn-success btn-icon">Search! <span><i class="fa fa-search"></i></span></button></span></div></div> <!----> <div class="position position--genuine featured-sign position--featured"><div class="btn btn-xs btn-danger" style="position: absolute; top: -10px; pointer-events: none;">
            New!
        </div> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/ehCfbX9izSwBnwo0SQiosmU0jmgeVCqCGKRW1Z0w.png" alt="Logo of Sonar"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/651-senior-vue-js-front-end-developer" class="font-weight-bold">Senior Vue.js Front End Developer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">Sonar</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">Hi,
I'm looking to add a new developer to the team for https://sonar.software.This is a fully remote position with no fixed budget - salary is commensurate with experience, but we'...</div></div></div></div></div><div class="position position--genuine featured-sign"><div class="btn btn-xs btn-danger" style="position: absolute; top: -10px; pointer-events: none;">
            New!
        </div> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/XsufePzBZtE947B8FFauAf6MBLmM7v9anC2MZ30l.png" alt="Logo of Asteris, Inc"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/659-senior-software-developer" class="font-weight-bold">Senior Software Developer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">Asteris, Inc</a>
                        – <span class="text-capitalize">Colorado Springs, CO, USA, Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">Asteris, Inc has an exciting opportunity for an experienced Software Developer to work on complex applications in support of the veterinarian imaging industry. This opportunity inc...</div></div></div></div></div><div class="position position--genuine featured-sign position--featured"><div class="btn btn-xs btn-danger" style="position: absolute; top: -10px; pointer-events: none;">
            New!
        </div> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/AY5eQHFJeG2xR8tpqEFy8ZWFRtat8eVMisXPZ5Vb.png" alt="Logo of 64 Robots"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/656-senior-frontend-developer" class="font-weight-bold">Senior Frontend Developer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">64 Robots</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/freelance-vuejs-jobs" class="font-weight-bold">Freelance</a></div> <div class="small mt-2">We're a small agency focused on building awesome Laravel/Vue.js webapps. We're growing fast and have an immediate need for a senior level frontend developer who is interested in be...</div></div></div></div></div><div class="position position--genuine featured-sign position--featured"><div class="btn btn-xs btn-danger" style="position: absolute; top: -10px; pointer-events: none;">
            New!
        </div> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/91rGFP1CxTo0pF2jvM11LG0mk3FYSpfCGEmp5WX5.png" alt="Logo of WebEmpresa"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/652-frontend-javascript-expert-developer" class="font-weight-bold">FrontEnd Javascript expert developer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">WebEmpresa</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">We are hiring a person to be incorporated as responsible for the development of a new product, focused on Cyber ​​Security: https://ciberprotector.com
We are looking for a FrontEnd...</div></div></div></div></div><div class="position position--genuine featured-sign"><div class="btn btn-xs btn-danger" style="position: absolute; top: -10px; pointer-events: none;">
            New!
        </div> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/vUf5wu4kC1fytgYQ6KaJ8lhfx74z1eVCM8C4OF4u.png" alt="Logo of Carb Manager"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/648-front-end-developer-top-health-fitness-app" class="font-weight-bold">Front-end Developer: Top Health &amp; Fitness App</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">Carb Manager</a>
                        – <span class="text-capitalize">Seattle, WA, USA, Remote Allowed</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">Responsibilities
We're looking for an exceptional front-end developer to join our product team.

Translate our designs and specifications in pixel-perfect, responsive UI components...</div></div></div></div></div><div class="position position--genuine featured-sign position--featured"><div class="btn btn-xs btn-danger" style="position: absolute; top: -10px; pointer-events: none;">
            New!
        </div> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/bX0FFf6Pdv6ZKLusogEjQ5thNrCPLhnbkJcHo5Hw.png" alt="Logo of Knack"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/646-remote-front-end-engineer" class="font-weight-bold">Remote Front-end Engineer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">Knack</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">Hi, we're Knack, a code-free platform used by thousands of customers — from non-profits to the world’s biggest companies — to easily build custom apps, workflows, and databases.
We...</div></div></div></div></div><div class="position position--genuine featured-sign position--featured"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/SawhJKJWFsi9X7x2E2XxtP3h8MCzDk1DyrZBA31K.png" alt="Logo of Savvy"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/644-vue-js-developer" class="font-weight-bold">Vue.js Developer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">Savvy</a>
                        – <span class="text-capitalize">Washington D.C., DC, United States, Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">U.S.-based candidates only please.
This position is for Vue.js developers with professional app experience. If you're a native app developer, front-end web developer, back-end deve...</div></div></div></div></div><div class="position position--genuine featured-sign"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/ZBFDs4Bk34IU5JO3qTDOOJ1XWQ6LUsUmhRAY8WQi.png" alt="Logo of DisplaySweet"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/642-front-end-developer" class="font-weight-bold">Front-End Developer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">DisplaySweet</a>
                        – <span class="text-capitalize">Melbourne VIC, Australia, Remote Allowed</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">What are we looking for?
A talented Front-End Developer to join our fast growing startup. The FED will be results driven with a strong ability to manage other FED’s delivering proj...</div></div></div></div></div><div class="position position--genuine featured-sign position--featured"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/fNyTFc9yvQgmGiH8ewASgwFapBFTfT1KqOUgrT9U.png" alt="Logo of YAY! Digital GmbH"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/641-vuetify-frontend-developer" class="font-weight-bold">Vuetify Frontend Developer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">YAY! Digital GmbH</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/freelance-vuejs-jobs" class="font-weight-bold">Freelance</a></div> <div class="small mt-2">We are a German remote company for web development! For the execution of our customer projects we have developed our own software for which we are looking for a developer to develo...</div></div></div></div></div><div class="position position--genuine featured-sign"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/nXM504JMDssVrMsgTvhnQldIsVQPikGr7NHjXXGp.png" alt="Logo of ChessKid"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/638-fe-vue-js-developer" class="font-weight-bold">FE vue.js developer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">ChessKid</a>
                        – <span class="text-capitalize">Palo Alto, CA, USA, Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">We're looking for someone with a proven track record in building modern and maintainable front-ends and who loves Vue.js, Vuex and modern Javascript (ES6/ES7).
You’re independent b...</div></div></div></div></div><div class="position position--genuine featured-sign position--featured"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/pjEd7lGseHuPJpnNvHHoEVlykcVRmaoR9KcPDjTI.jpeg" alt="Logo of X-Team"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/637-senior-frontend-developer-vue-js" class="font-weight-bold">Senior Frontend Developer - Vue.js</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">X-Team</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">About X-Team:
X-Team is an international company founded in Melbourne, Australia, that helps companies scale their development teams by providing them with extraordinary teams of d...</div></div></div></div></div><div class="position position--genuine featured-sign position--featured"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/og3lRakduMnRYXcQ2YMg4Dm9cPvBe8BzLEKhBMqn.png" alt="Logo of Firedrop"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/634-senior-vue-js-developer-with-strong-overall-js-experience" class="font-weight-bold">Senior Vue.js Developer with strong overall JS experience</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">Firedrop</a>
                        – <span class="text-capitalize">Amsterdam, Netherlands, Remote Allowed</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">About Firedrop
Firedrop was established in 2015 to solve a singular challenge: how to automate design at scale. We address this challenge with a combination of modern web-based tec...</div></div></div></div></div><div class="position position--genuine featured-sign position--featured"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/gMOTiScVH1g1BFra9N0ECwRzP1Gshnbgkv4E5JS3.png" alt="Logo of PolicyFly"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/632-senior-vuejs-developer" class="font-weight-bold">Senior VueJS Developer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">PolicyFly</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">Do you love VueJS, vuex, vue-router and modern javascript? Do you want to work on a growing, ambitious and new product? Ok, sweet, keep reading…
PolicyFly is modernizing the ancien...</div></div></div></div></div><div class="position position--genuine featured-sign position--featured"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/IYZVsJ1UXjfUWSiZdZXtDtJPh2jt8JW2XQnjD2sr.jpeg" alt="Logo of Cofense"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/629-ui-engineer-triage-and-phishme-teams" class="font-weight-bold">UI Engineer, Triage and PhishMe Teams</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">Cofense</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">Reporting to the Manager of Engineering, the UI/Front End Software Engineer is responsible for providing the user interface technology for our customers. This role will work with o...</div></div></div></div></div><div class="position position--genuine featured-sign position--featured"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/7b165e1f0b6fd599fc3d26360680b63d.png" alt="Logo of Regily"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/609-passionate-front-end-developer-remote" class="font-weight-bold">Passionate front-end developer (remote)</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">Regily</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">We make registrations easy
Our solution allows our partners to grow faster by removing friction in the sign-up process. It is super simple to integrate, globally localized and uses...</div></div></div></div></div><div class="position position--genuine featured-sign"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/kVNY99onXUShZSDUis6G2yBfRz5kjL9ue1cgTqnT.png" alt="Logo of Cycloid"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/607-frontend-developer-with-ui-ux-designer-on-vuejs" class="font-weight-bold">Frontend developer on VueJS for Cycloid DevOps platform</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">Cycloid</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">Who are we looking for?
A passionate, knowledgeable and friendly front-end developer, within European time zones, with several years of experience crafting web applications.
Our pr...</div></div></div></div></div><div class="position position--genuine featured-sign"><!----> <div class="d-flex"><div class="position__company flex-coludmn text-center"><img src="/storage/avatars/cruMsgYyjutGx7pvIpAv1ijJLPcOWgOZcQMwBT4m.png" alt="Logo of Code Coalition"></div> <div class="position__info w-100"><div class="position__title"><a href="https://vuejobs.com/jobs/603-looking-for-remote-vue-js-developer" class="font-weight-bold">looking for remote Vue.js developer</a> <div class="position__location text-muted small">
                        at <a class="font-weight-bold">Code Coalition</a>
                        – <span class="text-capitalize">Remote</span></div> <div class="position__type"><a href="https://vuejobs.com/full-time-vuejs-jobs" class="font-weight-bold">Full-time</a></div> <div class="small mt-2">Hello,
We are currently looking for a remote Vue.js developer to help us build and develop our new cool cloud-based application platform. It has a multi-tenant architecture design...</div></div></div></div></div></div></div></div>


                    
                  </div><!-- /grid column -->
                </div><!-- /grid row -->
              </div><!-- /.page-section -->
            </div>
    </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'
    import Transformer from '@/transformers/RoleTransformer'
    import service from '@/services/index'

    export default {
        /**
        * The name of the page.
        */
        name: 'rentList',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                isLoading: false,
                model: {
                    role: [],
                }
            }
        },

        created: function () {
            // this.find()
        },


        /**
        * The methods the page can use.
        */
        methods: {
            /**
            * Will register the user.
            *
            * @param {Object} model The user to be registered.
            */
            submit: function (model) {
                // this.isLoading = true
                this.$http.post('/auth/complete_role', Transformer.send(model)).then(response => {
                    // get status
                    try {
                        if (response.data.status) {
                            location.replace('/auth/complete_information')
                        } else {
                            service.errorMessage(response.data)
                        }
                    } catch (err) {
                        // console.log(err)
                    }
                    this.isLoading = false
                }, response => {
                    // get failed
                    console.log(response)
                    this.isLoading = false
                })
            },

            /**
            * Will retrieve data user.
            *
            *  The user to be retrieved.
            */
            find: function () {
                this.$http.get('/auth/me').then(response => {
                    // get status
                    try {
                        if (response.data.status) {
                            this.model = Object.assign({}, this.model, { role: response.data.data.role.split(',') })
                        } else {
                            location.replace('/auth/logout')
                        }
                    } catch (err) {
                        // console.log(err)
                    }
                }, response => {
                    // get failed
                    console.log(response)
                    this.isLoading = false
                })
            }
        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
