<template>
   <v-layout>
      <div class="py-5 bg-light">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="card mb-3">
                     <div class="card-body">
                        <h5 class="h6 card-title">Followers <small>· <a href="#">View all</a></small></h5>
                        <div class="media mb-2">
                           <img alt="" src="https://robust.bootlab.io/img/avatars/1.jpg" width="48" height="48" class="rounded-circle mr-3">
                           <div class="media-body">
                              <h6 class="h6 mb-0">Elaine Johnson</h6>
                              <span class="text-muted">Growth Hacker</span>
                           </div>
                        </div>
                        <div class="media mb-2">
                           <img alt="" src="https://robust.bootlab.io/img/avatars/2.jpg" width="48" height="48" class="rounded-circle mr-3">
                           <div class="media-body">
                              <h6 class="h6 mb-0">Patrick Langston</h6>
                              <span class="text-muted">Developer</span>
                           </div>
                        </div>
                        <div class="media mb-2">
                           <img alt="" src="https://robust.bootlab.io/img/avatars/3.jpg" width="48" height="48" class="rounded-circle mr-3">
                           <div class="media-body">
                              <h6 class="h6 mb-0">Amber Witt</h6>
                              <span class="text-muted">UX Designer</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /.card -->
                  <div class="card mb-3">
                     <div class="card-body">
                        <h5 class="h6 card-title">Recent photos</h5>
                        <div class="row no-gutters">
                           <div class="col-6">
                              <div class="pr-1 pb-2">
                                 <img src="img/gallery/4.jpg" class="img-fluid medium-zoom-image" alt="" data-action="zoom">
                              </div>
                              <div class="pr-1 pb-2">
                                 <img src="img/gallery/2.jpg" class="img-fluid medium-zoom-image" alt="" data-action="zoom">
                              </div>
                              <div class="pr-1 pb-2">
                                 <img src="img/gallery/7.jpg" class="img-fluid medium-zoom-image" alt="" data-action="zoom">
                              </div>
                           </div>
                           <div class="col-6">
                              <div class="pl-1 pb-2">
                                 <img src="img/gallery/5.jpg" class="img-fluid medium-zoom-image" alt="" data-action="zoom">
                              </div>
                              <div class="pl-1 pb-2">
                                 <img src="img/gallery/3.jpg" class="img-fluid medium-zoom-image" alt="" data-action="zoom">
                              </div>
                              <div class="pl-1 pb-2">
                                 <img src="img/gallery/6.jpg" class="img-fluid medium-zoom-image" alt="" data-action="zoom">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /.card -->
                  <div class="card mb-3">
                     <div class="card-body">
                        <h5 class="h6 card-title">Advertisement</h5>
                        <img src="img/gallery/3.jpg" class="img-fluid" alt="">
                        <p class="mb-0 mt-2">Etiam rhoncus. <a href="#">Maecenas tempus</a>, tellus eget rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                     </div>
                  </div>
                  <!-- /.card -->
               </div>
               <!-- /.col-md-4 -->
               <div class="col-md-8">
                  <div class="card mb-3">
                     <div class="card-body">
                        <form>
                           <div class="input-group">
                              <input class="form-control" type="text" placeholder="How are you today?" name="message">
                              <div class="input-group-append">
                                 <button class="btn btn-info" type="button">
                                 <i class="fas fa-camera"></i>
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <!-- /.card -->
                  <div class="card">
                     <div class="pd-15">
                        <div class="float-right mg-l-15">
                           <div class="float-right"><button class="btn btn-secondary">Abonné</button></div>
                        </div>
                        <div class="float-right text-muted mg-t-5">1 281 messages</div>
                        <div>
                           <h1 class="tx-30 mg-y-15">Sondages</h1>
                           <div class="browse-questions-feed__page-description">Votez sur des sujets variés et obtenez l'avis d'autres Houzzers.</div>
                        </div>
                        <ul class="nav nav-tabs pd-t-15">
                           <li class="nav-item">
                              <a href="#projects" class="pd-y-15-force pd-x-25-force nav-link active">Overview</a>
                           </li>
                           <li class="nav-item">
                              <a href="#groups" class="pd-y-15-force pd-x-25-force nav-link">Propositions</a>
                           </li>
                           <li class="nav-item">
                              <a href="#followers" class="pd-y-15-force pd-x-25-force nav-link">Statistics</a>
                           </li>
                           <li class="nav-item">
                              <a href="#groups" class="pd-y-15-force pd-x-25-force nav-link">Settings</a>
                           </li>
                           <li class="float-right pos-relative t-5">
                              <div>
                                 <span class="mg-r-10">Affichage :</span>
                                 <div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
  </div>
                                 </div>
                           </li>
                        </ul>
                        <div class="card-body pd-0-force">
                           <div class="bd-b">
                              <div class="pd-y-15 tx-14">
                                 <div class="overflow-hidden pos-relative">
                                    <div class="wd-100p d-table ht-150">
                                       <div class="ht-100p">
                                          <div class="mg-b-5"><a class="tx-20 hover-gray-700 tx-dark" href="#"><span class="tx-bold">Sondage: Quel serait la plante ou l'arbre rêvé pour votre jardin?</span></a></div>
                                          <div class="mg-b-10"><span>Publié par <a class="tx-bold hover-gray-700 tx-dark" href="#">Elise&amp;Martin Hennebicque Architecture des jardins</a></span><span class="mg-l-15"><span><span>11 Novembre 2017</span></span></span></div>
                                          <div>
                                             <div class="ht-45 overflow-hidden mg-b-10">Quel serait la plante ou l'arbre rêvé pour votre jardin? Une plante annuelle? Bi-annuelle? Vivace? Plante volumineuse, tapissante ou grimpante? Une plante odorante? Un arbuste? Un arbre de petit développement ou majestueux? Un arbre fruitier? Dites-nous quel genre ou espèce avez-vous ou rêveriez-vous d'avoir absolument dans votre jardin?!</div>
                                             <div class="badge-tags">
                                                <a class="badge badge-pill badge-light" href="#">Sondages</a>
                                                <a class="badge badge-pill badge-light" href="#">Aménagement paysager</a>
                                                <a class="badge badge-pill badge-light" href="#">Jardin</a>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="d-table-row">
                                          <div class="mg-t-10">
                                             <span>
                                             <span class="text-muted">39 commentaires</span>
                                             <span class="mg-l-15">86 votes</span>
                                             </span>
                                             <span class="float-right lh-2">
                                                <a class="mg-r-10" href="#">
                                                <span>Mis à jour il y a 4 heures</span>
                                                </a>
                                                <div class="avatar-group">
                                                   <a href="#" class="user-avatar" data-toggle="tooltip" title="" data-original-title="Andrew Kim"><img src="https://uselooper.com/assets/images/avatars/uifaces6.jpg" alt=""></a> 
                                                   <a href="#" class="user-avatar" data-toggle="tooltip" title="" data-original-title="Bryan Morgan"><img src="https://uselooper.com/assets/images/avatars/uifaces7.jpg" alt=""></a> 
                                                   <a href="#" class="user-avatar" data-toggle="tooltip" title="" data-original-title="Larry Robinson"><img src="https://uselooper.com/assets/images/avatars/uifaces8.jpg" alt=""></a> 
                                                   <a href="#" class="user-avatar" data-toggle="tooltip" title="" data-original-title="Beverly Simpson"><img src="https://uselooper.com/assets/images/avatars/uifaces9.jpg" alt=""></a> 
                                                   <a href="#" class="user-avatar" data-toggle="tooltip" title="" data-original-title="Robinson"><img src="https://uselooper.com/assets/images/avatars/uifaces10.jpg" alt=""></a> 
                                                   <a href="#" class="tile tile-circle" data-toggle="modal" data-target="#membersModal">+23</a>
                                                </div>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="bd-b">
                              <div class="pd-y-15 tx-14">
                                 <a class="mg-l-15 float-right" href="#">
                                 <img src="https://st.hzcdn.com/fimgs/f4c2d2910bf965a1_1138-w240-h180-b0-p0--.jpg" width="240" height="180">
                                 </a>
                                 <div class="overflow-hidden pos-relative">
                                    <div class="wd-100p d-table ht-150">
                                       <div class="ht-100p">
                                          <div class="mg-b-5"><a class="tx-20 hover-gray-700 tx-dark" href="/discussions/5547074/besoin-de-votre-avis-pour-notre-meuble-vegetalise#n=0"><span class="tx-bold">Besoin de votre avis pour notre meuble végétalisé !</span></a></div>
                                          <div class="mg-b-10"><span>Publié par <a class="tx-bold hover-gray-700 tx-dark" href="https://www.houzz.fr/user/niobe9">Niobé</a></span><span class="mg-l-15"><span><span>24 Novembre 2018</span></span></span></div>
                                          <div>
                                             <div class="ht-45 overflow-hidden mg-b-10">Bonjour à tous, 
                                                Vous aimez les plantes et souhaitez recevoir ces jolis cactus ? 
                                                Nous créons du mobilier végétalisé et nous avons besoin de votre avis svp ! Répondez à notre sondage et aidez-nous à créer nos futurs meubles pour plantes. Nous tirerons au sort parmi les répondants pour offrir ces 3 magnifiques cactus 
                                                Lien ici : https://goo.gl/forms/rgvcf3ThutbeD7iG3
                                                Merci à vous
                                             </div>
                                             <div class="badge-tags">
                                                <a class="badge badge-pill badge-light" href="#">Sondages</a>
                                                <a class="badge badge-pill badge-light" href="#">Décoration intérieure</a>
                                                <a class="badge badge-pill badge-light" href="#">Meubles</a>
                                             </div>
                                          </div>
                                       </div>
                                       
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="browse-questions__list-loader-container text-center"></div>
                           <div class="hz-sticky-footer">
                              <div id="hzScrollTop" class="hz-scroll-top hz-sticky-footer__hideable ">
                                 <button class="hz-scroll-top__button" type="button" aria-label="Scroll to the top of the page">
                                    <svg class="svg-icon hz-scroll-top__icon" style="fill:currentColor;font-size:1em" viewBox="0 0 20 20" width="1em" height="1em" focusable="false" aria-hidden="true" role="presentation">
                                       <path d="M16.25 8.75L10 0 3.75 8.75h4.375V20h3.75V8.75h4.375z"></path>
                                    </svg>
                                 </button>
                              </div>
                           </div>
                        </div>
                        <div class="hz-pagination-bottom-wrapper mtl">
                           <div class="hz-pagination-bottom" compid="hz_bottom_pagination">
                              <div class="hz-pagination-bottom__bar spf-link" data-spf-animate-scroll="true"><a class="hz-pagination-link hz-pagination-link--bar hz-pagination-link--selected " href="/discussions/sondage">1</a><a class="hz-pagination-link hz-pagination-link--bar" href="/discussions/sondage/p/30">2</a><a class="hz-pagination-link hz-pagination-link--bar" href="/discussions/sondage/p/60">3</a><a class="hz-pagination-link hz-pagination-link--bar" href="/discussions/sondage/p/90">4</a><a class="hz-pagination-link hz-pagination-link--bar" href="/discussions/sondage/p/120">5</a><a class="hz-pagination-link hz-pagination-link--bar" href="/discussions/sondage/p/150">6</a><a class="hz-pagination-link hz-pagination-link--bar" href="/discussions/sondage/p/180">7</a><a class="hz-pagination-link hz-pagination-link--bar" href="/discussions/sondage/p/210">8</a><a class="hz-pagination-link hz-pagination-link--bar" href="/discussions/sondage/p/240">9</a><a class="hz-pagination-link hz-pagination-link--next" href="/discussions/sondage/p/30"><span><span>Page suivante</span><span class="more-icon"></span></span></a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="text-center mt-4">
                     <button class="btn btn-outline-secondary">Load more</button>
                  </div>
               </div>
               <!-- /.col-md-8 -->
            </div>
         </div>
      </div>
   </v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'home',

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
