<template>
    <div :class="{'alert-success': alert.success, 'alert-danger': !alert.success }" class="alert alert-bordered pd-y-20" role="alert" v-show="alert.status">
        <button type="button" @click="close" style="cursor:pointer;" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="d-flex align-items-center justify-content-start">
            <i :class="{'tx-success': alert.success, 'tx-danger': !alert.success }" class="icon ion-ios-close alert-icon tx-52 mg-r-20"></i>
            <div>
                <h5 :class="{'tx-danger': !alert.success }" class="mg-b-2"> {{ alert.success ? 'Success !' : 'Error !'}}</h5>
                <p class="mg-b-0 tx-gray">{{ alert.message }}</p>
            </div>
        </div><!-- d-flex -->
    </div><!-- alert -->
</template>

<script>
  /* ============
   * Numeral Input Component
   * ============
   *
   * A basic input componenet.
   *
   */

  export default {
    /**
     * The name of the component.
     */
    name: 'messagealert',

    /**
     * The properties that the component accepts.
     */
    props: ['alert'],

    /**
     * The method properties that the component can use.
     */
    methods: {
      close: function () {
        this.$store.dispatch('alert/message', {message: null, status: false, success: null})
      }
    }
  }
</script>
