<template>
    <component :is="tag" ref="dropdownMenu">
            <a href="javascrip:;" @click="visible = !visible"  class="bar-nav-link">
              <slot name="dropdown__head">
              {{ title }}<font-awesome-icon class="ht-10 ml-1" icon="chevron-down" />
              <!-- start: if statement -->
              <span class="square-8 bg-danger pos-absolute t-15 r-15 rounded-circle"></span>
              <!-- end: if statement -->
              </slot>
            </a>
            
            <ul :class="[{'show': visible}, bodyClasses ]" @clickout="visible = false" >
              <slot></slot>
            </ul><!-- dropdown-menu -->
          </component><!-- dropdown -->
</template>
<script>
  export default{
    props: {
    tag: {
      type: String,
      default: "li"
    },
    title: String,
    icon: String,
    bodyClasses: String
  },
    data () {
      return {
        visible: false
      }
    },
    methods: {
      documentClick: function (e) {
        let el = this.$refs.dropdownMenu
        let target = e.target
        if ((el !== target) && !el.contains(target)) {
          this.visible = false
        }
      }
    },
    created () {
      console.log(this)
      console.log(this.$refs)
      // document.addEventListener('click', this.documentClick)
    },
    destroyed () {
      // important to clean up!!
      // document.removeEventListener('click', this.documentClick)
    }
  }
</script>