<template>
  <component :is="tag"
             class=""
             :class="{show:isOpen}"
             @click="toggleDropDown"
             v-click-outside="closeDropDown">
    <a href="javascript:;" :class="titleClasses">
      <slot name="title">
        <span class="notification">{{title}}
          <font-awesome-icon class="ht-10 ml-1" icon="chevron-down" />
        </span>
      </slot>
    </a>
    <ul class="dropdown-menu" :class="[{show:isOpen}, bodyClasses ]">
      <slot></slot>
    </ul>
  </component>
</template>
<script>
export default {
  props: {
    tag: {
      type: String,
      default: "li"
    },
    title: String,
    titleClasses: [String, Object, Array],
    bodyClasses: String
  },
  data() {
    return {
      isOpen: false
    };
  },
  methods: {
    toggleDropDown() {
      this.isOpen = !this.isOpen;
      this.$emit("change", this.isOpen);
    },
    closeDropDown() {
      this.isOpen = false;
      this.$emit('change', false);
    }
  }
};
</script>
