<template>
   <footer id="footer" class="bg-gray-700 text-white pd-y-30">
      <div class="container-fluid">
         <div class="container-fluid pd-b-10 bd-b bd-white-2">
            <div class="row">
               <div class="col-md-2">
                  <div class="component component--image"> <a href="/"> <img src="../assets/logo-light.png" alt="Atlassian" class="component__image" style="width:125px;"> </a> </div>
               </div>
               <div class="col-md-2">
                  <h3 class="tx-normal"><a href="#" class="text-white">About</a></h3>
               </div>
               <div class="col-md-2">
                  <h3 class="tx-normal"><a href="#" class="text-white">Concept</a></h3>
               </div>
               <div class="col-md-2">
                  <h3 class="tx-normal"><a href="#" class="text-white">Advantage</a></h3>
               </div>
               <div class="col-md-2">
                  <h3 class="tx-normal"><a href="#" class="text-white">Relationship</a></h3>
               </div>
               <div class="col-md-2">
                  <h3 class="tx-normal"><a href="#" class="text-white">Blogs</a></h3>
               </div>
            </div>
         </div>

         <div class="container-fluid pd-t-10">
            <div class="row">
               <div class="col-md-5 pd-y-10 align-items-center pd-l-35">
                  <section class="bar-nav tx-15">
                     <ul>
                        <li class="bar-nav-li wd-150 mg-t-10">
                           <div class="language-selector">
                              <a class="border pd-10" href="#">
                                <font-awesome-icon class="ht-15 mr-1" icon="globe" />
                                English
                              </a> 
                              <form action="#" method="GET" class="pos-absolute op-0 l-0 t-0">
                                 <select option="language-selector" name="url">
                                    <option disabled="">Choose your language</option>
                                    <option aria-label="Deutsch" label="Deutsch" lang="de" class="notranslate SL_opaque" value="#">Deutsch</option>
                                    <option aria-label="English" label="English" lang="en" class="notranslate SL_opaque" value="#" selected="selected">English</option>
                                    <option aria-label="Español" label="Español" lang="es" class="notranslate SL_opaque" value="#">Español</option>
                                    <option aria-label="Français" label="Français" lang="fr" class="notranslate SL_opaque" value="#">Français</option>
                                    <option aria-label="Italiano" label="Italiano" lang="it" class="notranslate SL_opaque" value="#">Italiano</option>
                                 </select>
                              </form>
                           </div>
                        </li>
                        <li class="bar-nav-li"><a href="#" class="bar-nav-link">Mobile</a></li>
                        <li class="bar-nav-li">
                           <a href="#" class="bar-nav-link">
                              Help 
                              <font-awesome-icon class="ht-10 ml-1" icon="chevron-down" />
                           </a>
                        </li>
                        <li class="bar-nav-li">
                           <a href="#" class="bar-nav-link">
                              Privacy and policies 
                              <font-awesome-icon class="ht-10 ml-1" icon="chevron-down" />
                           </a>
                        </li>
                     </ul>
                  </section>
               </div>
               <div class="col-md-4 pd-t-15 tx-15 text-center">
                  Copyright © 2019 VonePlus
               </div>
               <div class="col-md-3 pd-t-15 text-right pd-r-50">
                  <div class="d-inline-block tx-15">
                        <ul>
                           <li class="d-inline-block mr-3">
                              <a href="#" title="Facebook">
                                 <font-awesome-icon class="ht-20 text-white" :icon="['fab', 'facebook-f']" />
                              </a>
                           </li>
                           <li class="d-inline-block mr-3">
                              <a href="#" title="Twitter">
                                 <font-awesome-icon class="ht-20 text-white" :icon="['fab', 'twitter']" />
                              </a>
                           </li>
                           <li class="d-inline-block mr-3">
                              <a href="#" title="LinkedIn">
                                 <font-awesome-icon class="ht-20 text-white" :icon="['fab', 'linkedin-in']" />
                              </a>
                           </li>
                           <li class="d-inline-block">
                              <a href="#" title="YouTube">
                                 <font-awesome-icon class="ht-20 text-white" :icon="['fab', 'youtube']" />
                              </a>
                           </li>
                        </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</template>

<script>
  /* ============
   * Footer Layout
   * ============
   *
   * Used for the footer layout.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */

  export default {
    /**
     * The name of the layout.
     */
    name: 'footer-layout',


    /**
     * The methods that the layout can use.
     */
    methods: {

    }
  }
</script>
