<template>
   <div id="header">
      <div class="bar pos-relative tx-13">
         <div class="container-fluid">
            <section class="bar-nav float-left mg-l--20">
               <span class="d-block lh-10">Real estate revolution, enjoy the experience.</span>
            </section>
            <section class="bar-nav float-right mg-r--10">
               <ul>
                  <li class="bar-nav-li">
                     <a href="/privacy-and-policy/" class="bar-nav-link">Privacy and policies</a>
                  </li>
                  <li class="bar-nav-li">
                     <a href="/help/" class="bar-nav-link">Help</a>
                  </li>
                  <dropdown class="bar-nav-li"
                   title="Mobile"
                   title-classes="bar-nav-link" bodyClasses="dropdown-menu dropdown-menu-right tx-13">
          <a href="#" class="dropdown-item">Ios Phone</a>
                     <a href="#" class="dropdown-item">Android</a>
                     <a href="#" class="dropdown-item">Windows Phone</a>
        </dropdown>
        
                  <dropdown class="bar-nav-li"
                   title="EN"
                   title-classes="bar-nav-link" bodyClasses="dropdown-menu dropdown-menu-right tx-13">
          <a href="#" class="dropdown-item">Deutsch</a>
                     <a href="#" class="dropdown-item">English</a>
                     <a href="#" class="dropdown-item">Español</a>
                     <a href="#" class="dropdown-item">Français</a>
                     <a href="#" class="dropdown-item">Italiano</a>
        </dropdown>
                  
                  <!--base-dropdown class="bar-nav-li dropdown" title="Mobile" bodyClasses="dropdown-menu dropdown-menu-right tx-13">
                     <a href="#" class="dropdown-item">Ios Phone</a>
                     <a href="#" class="dropdown-item">Android</a>
                     <a href="#" class="dropdown-item">Windows Phone</a>
                  </base-dropdown-->
                  <!--base-dropdown class="bar-nav-li dropdown" title="EN" bodyClasses="dropdown-menu dropdown-menu-right tx-13">
                     <a href="#" class="dropdown-item">Deutsch</a>
                     <a href="#" class="dropdown-item">English</a>
                     <a href="#" class="dropdown-item">Español</a>
                     <a href="#" class="dropdown-item">Français</a>
                     <a href="#" class="dropdown-item">Italiano</a>
                  </base-dropdown-->
                  
               </ul>
            </section>
         </div>
      </div>
      <header class="navbar navbar-expand-md navbar-light bg-white">
         <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../assets/logo-red.png" class="ht-25 mg-b-10">Vone plus</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
               <ul class="navbar-nav mr-auto">
                  <li :class="{ 'active': $route.name =='home' }" class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li :class="{ 'active': $route.name =='about' }" class="nav-item">
                     <a class="nav-link" href="/about">About</a>
                  </li>
                  <li :class="{ 'active': $route.name =='concept' }" class="nav-item">
                     <a class="nav-link" href="/concept">Concept</a>
                  </li>
                  <li :class="{ 'active': $route.name =='advantage' }" class="nav-item">
                     <a class="nav-link" href="/advantage">Advantage</a>
                  </li>
                  <li :class="{ 'active': $route.name =='relationship' }" class="nav-item">
                     <a class="nav-link" href="/relationship">Relationship</a>
                  </li>
                  <li :class="{ 'active': $route.name =='blogs' }" class="nav-item">
                     <a class="nav-link" href="/blogs">Blogs</a>
                  </li>
               </ul>
               <a class="btn btn-outline-danger my-2 my-sm-0 mr-2" href="/auth/login">Login</a>
                  <a class="btn btn-danger my-2 my-sm-0" href="/auth/register">Register</a>
            </div>
         </div>
      </header>
   </div>
</template>

<script>
  /* ============
   * Menu Layout
   * ============
   *
   * Used for the register and login pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */

  export default {
    /**
     * The name of the layout.
     */
    name: 'menu-layout',

    data: function () {
      return {
        visible: false
      }
    },


    /**
     * The methods that the layout can use.
     */
    methods: {

    }
  }
</script>
