<template>
   <transition name="modal">
      <div class="modal-mask" @click="close" v-show="show">
         <div class="modal-wrapper">
            <div class="modal-container wd-450">
               <div class="card" @click.stop>
                  <div class="card-body pd-x-20 pd-xs-40">
                     <h5 class="tx-xs-24 tx-normal tx-gray-900 mg-b-15">Forgot password</h5>
                     <p class="mg-b-30 tx-14">Don't remember your password? send a reset link by filling the input field, it only takes less than a minute.</p>
                     <form @submit.prevent="submit(model)" ref="form" class="p-t-15 mg-y-0" role="form">
                        <div class="alert alert-success alert-bordered pd-y-20" role="alert" v-show="message.status">
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                           <div class="d-flex align-items-center justify-content-start">
                              <i class="tx-success icon ion-ios-close alert-icon tx-52 mg-r-20"></i>
                              <div>
                                 <h5 class="mg-b-2">Success</h5>
                                 <p class="mg-b-0 tx-gray">{{ message.body }}</p>
                              </div>
                           </div>
                           <!-- d-flex -->
                        </div>
                        <!-- alert -->
                        <div class="form-group" ref="group_Email">
                        <div class="form-label-group js-form-group">
                          <input type="text" v-model="model.email" placeholder="email" class="form-control group_Email">
                          <label>Email</label>
                          <span class="error"></span>
                        </div>
                      </div>
                        <!-- form-group -->
                        <div class="form-group">
                          <button :class="{'loading': isLoading}" class="text-white btn btn-lg btn-danger btn-block" type="submit">Send reset link</button>
                        </div>
                     </form>
                  </div>
                  <!-- card-body -->
               </div>
            </div>
         </div>
      </div>
   </transition>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
   */

  import service from '@/services/index'

  export default {
    /**
     * The name of the page.
     */
    name: 'modalforgotpassword',

    props: ['show'],

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        isValid: false,
        isLoading: false,
        message: {
          status: false,
          body: null
        },
        model: {
          email: null
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        // service.removeMessage()
        this.model = { email: null }
        this.message = { status: false, body: null }
      },
      submit: function (model) {
              this.isLoading = true
              this.$http.post('/auth/recover-password', model).then(response => {
                service.errorMessage({object: this.$refs, response: response.data})
                if (response.data.success) {
                  this.message = {status: true, body: response.data.data.message}
                }
                this.isLoading = false
              }, response => {
                  // get failed
                  console.log(response)
                  this.isLoading = false
              })
            }
    },
    mounted: function () {
      /*document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })*/
    }
  }
</script>