<template>
    <v-layout>
          

  <div class="intro pd-y-80-force bg-info text-white">
    <div class="intro-content">
      <div class="container text-center">
        <h1 class="mg-b-30 text-white">How can we help you?</h1>

          <div class="row mg-b-4"><div class="col-lg-6 mx-auto"><div class="input-group input-group-lg"><input type="text" placeholder="Search help topics" class="form-control rounded-left"> <div class="input-group-append"><button type="button" class="btn bg-white rounded-right"><font-awesome-icon class="ht-20 tx-gray-500" icon="search" /></button></div></div></div></div>
          
        <div class="row mg-b-4">
          <div class="col-lg-6 mx-auto">


<ul class='hero__search-container__search-tags__tag-container d-flex pos-relative align-items-center py-2 rounded-bottom'>
<li class='hero__search-container__search-tags__tag-container__suggested'>
Suggested<span class="mg-r-10">:</span></li>
<li>
<ul>
<li class='tx-14 d-inline-block tx-light lh-3 mg-r-2 container__tag op-8'>
<a href='/search/renting-proposal/'>
renting proposal
</a>
</li>
<li class='tx-14 d-inline-block tx-light lh-3 mg-r-2 container__tag op-8'>
<a href='/search/buying-proposal/'>
buying proposal
</a>
</li>
<li class='tx-14 d-inline-block tx-light lh-3 mg-r-2 container__tag op-8'>
<a href='/search/meeting/'>
meeting
</a>
</li>
<li class='tx-14 d-inline-block tx-light lh-3 mg-r-2 container__tag op-8'>
<a href='/search/make-appointment/'>
make appointment
</a>
</li>
<li class='tx-14 d-inline-block tx-light lh-3 mg-r-2 container__tag op-8'>
<a href='/popular-searches/'>
more
</a>
</li>
</ul>
</li>
</ul>
        
              
              
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="main" role="main">

    <div class="bg-light py-5">
      <div class="container">
        <div class="text-center mb-5">
          <h3>Help topics by category</h3>
        </div>
        <div class="row gutter-3">
          <div class="col-md-6 col-lg-4">
            <div class="card stacked text-center mg-b-20">
              <div class="card-body">
                <font-awesome-icon class="ht-40 mg-b-2" :icon="['far', 'user-circle']" />
                <h3 class="card-title mb-1">Account</h3>
                <p class="card-text mb-2">Safely store your ETH and other Ethereum crypto-assets.</p>
                <a href="#" class="eyebrow link text-blue">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card stacked text-center mg-b-20">
              <div class="card-body">
                <font-awesome-icon class="ht-40 mg-b-2" :icon="['far', 'chart-bar']" />
                <h3 class="card-title mb-1">Analytics</h3>
                <p class="card-text mb-2">Safely store your ETH and other Ethereum crypto-assets.</p>
                <a href="#" class="eyebrow link text-orange">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card stacked text-center mg-b-20">
              <div class="card-body">
                <font-awesome-icon class="ht-40 mg-b-2" :icon="['far', 'money-bill-alt']" />
                <h3 class="card-title mb-1">Payments</h3>
                <p class="card-text mb-2">Safely store your ETH and other Ethereum crypto-assets.</p>
                <a href="#" class="eyebrow link text-purple">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card stacked text-center mg-b-20">
              <div class="card-body">
                <font-awesome-icon class="ht-40 mg-b-2" :icon="['far', 'file-code']" />
                <h3 class="card-title mb-1">Email</h3>
                <p class="card-text mb-2">Safely store your ETH and other Ethereum crypto-assets.</p>
                <a href="#" class="eyebrow link text-green">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card stacked text-center mg-b-20">
              <div class="card-body">
                <font-awesome-icon class="ht-40 mg-b-2" icon="project-diagram" />
                <h3 class="card-title mb-1">Project</h3>
                <p class="card-text mb-2">Safely store your ETH and other Ethereum crypto-assets.</p>
                <a href="#" class="eyebrow link text-red">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card stacked text-center mg-b-20">
              <div class="card-body">
                <font-awesome-icon class="ht-40 mg-b-2" icon="unlock-alt" />
                <h3 class="card-title mb-1">Security</h3>
                <p class="card-text mb-2">Safely store your ETH and other Ethereum crypto-assets.</p>
                <a href="#" class="eyebrow link text-pink">Read More</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    
  </section>


  <!-- second help page concat -->


    <div class="main-container">
      <!--end of section-->
      <section class="flush-with-above">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-auto">
              <h3>Popular help topics</h3>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
          <ul class="feature-list feature-list-sm row">

            <li class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div>
                    <span class="h6">Analytics</span>
                    <span class="badge badge-secondary">10</span>
                  </div>
                  <a href="#">View all &rsaquo;</a>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled list-spacing-sm">
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Setting up API end-points</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Importing contacts via CSV</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Integrating your Gulp workflow</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Forking a repo</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--end of card-->
            </li>
            <!--end of col-->

            <li class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div>
                    <span class="h6">API Integration</span>
                    <span class="badge badge-secondary">4</span>
                  </div>
                  <a href="#">View all &rsaquo;</a>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled list-spacing-sm">
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Setting up API end-points</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Importing contacts via CSV</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Integrating your Gulp workflow</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Forking a repo</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--end of card-->
            </li>
            <!--end of col-->

            <li class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div>
                    <span class="h6">Billing</span>
                    <span class="badge badge-secondary">6</span>
                  </div>
                  <a href="#">View all &rsaquo;</a>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled list-spacing-sm">
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Setting up API end-points</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Importing contacts via CSV</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Integrating your Gulp workflow</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Forking a repo</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--end of card-->
            </li>
            <!--end of col-->

            <li class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div>
                    <span class="h6">Development</span>
                    <span class="badge badge-secondary">10</span>
                  </div>
                  <a href="#">View all &rsaquo;</a>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled list-spacing-sm">
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Setting up API end-points</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Importing contacts via CSV</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Integrating your Gulp workflow</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Forking a repo</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--end of card-->
            </li>
            <!--end of col-->

            <li class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div>
                    <span class="h6">Security</span>
                    <span class="badge badge-secondary">7</span>
                  </div>
                  <a href="#">View all &rsaquo;</a>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled list-spacing-sm">
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Setting up API end-points</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Importing contacts via CSV</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Integrating your Gulp workflow</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Forking a repo</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--end of card-->
            </li>
            <!--end of col-->

            <li class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div>
                    <span class="h6">Storage</span>
                    <span class="badge badge-secondary">3</span>
                  </div>
                  <a href="#">View all &rsaquo;</a>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled list-spacing-sm">
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Setting up API end-points</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Importing contacts via CSV</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Integrating your Gulp workflow</a>
                    </li>
                    <li>
                      <i class="icon-text-document text-muted mr-1"></i>
                      <a href="#">Forking a repo</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--end of card-->
            </li>
            <!--end of col-->

          </ul>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->
    </div>

  <!-- end second page help -->
    </v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'help',

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
