<template>
   <v-layout>
      <section aria-label="breadcrumb" role="navigation">
         <div class="container-fluid">
            <div class="col-md-10">
               <ol class="breadcrumb bg-transparent pd-l-5">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="/auth">Authentication</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Register</li>
               </ol>
            </div>
            <!--end of col-->
         </div>
         <!--end of container-->
      </section>
      <div role="main" class="container">
         <!-- grid row -->
         <div class="row">
            <!-- grid column -->
            <div class="col-md-4">
               <!-- .card -->
               <div class="card card-fluid">
                  <h6 class="card-header"> Proov </h6>
                  <!-- .nav -->
                  <nav class="nav nav-tabs flex-column border-0">
                     <a href="/privacy-and-policy/" class="nav-link active">Privacy and policy</a> 
                     <a href="/term-of-use/" class="nav-link">Term of use</a> 
                     <a href="/faq/" class="nav-link">F.A.Q</a> 
                     <a href="/help/" class="nav-link">Help</a>
                  </nav>
                  <!-- /.nav -->
               </div>
               <!-- /.card -->
            </div>
            <!-- /grid column -->
            <!-- grid column -->
            <div class="col-md-8 card">
               <div class="card-body">
                  <h2>Privacy and policy</h2>
                  <p>Date of last revision: January 1, 2014 by <a href="#">Mark</a></p>
                  
                  <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
                  <hr>
                  <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                  <blockquote>
                     <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </blockquote>
                  <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                  <h2>Heading</h2>
                  <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <h3>Sub-heading</h3>
                  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <pre><code>Example code block</code></pre>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                  <h3>Sub-heading</h3>
                  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                  <ul>
                     <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                     <li>Donec id elit non mi porta gravida at eget metus.</li>
                     <li>Nulla vitae elit libero, a pharetra augue.</li>
                  </ul>
                  <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
                  <ol>
                     <li>Vestibulum id ligula porta felis euismod semper.</li>
                     <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                     <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
                  </ol>
                  <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
               </div>
            </div>
         </div>
         <!-- /grid row -->
      </div>
   </v-layout>
</template>

<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'

    export default {
        /**
        * The name of the page.
        */
        name: 'terms',

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
