@model int

@{
    var statusCode = Model;
    var statusmessage = "ServerStatusNotDetermined";

    switch (statusCode)
    {
        case 400:
            statusmessage = "BadRequest";
            break;
        case 403:
            statusmessage = "Forbidden";
            break;
        case 404:
            statusmessage = "PageNotFound";
            break;
        case 408:
            statusmessage = "ServerTimedOut";
            break;
        case 500:
            statusmessage = "InternalServerError";
            break;
        default:
            statusmessage = "ServerStatusNotDetermined";
            break;
    }
}
<div class="jumbotron">
    <h1>Error @Model</h1>
    <h3>@statusmessage</h3>
</div>
