<template>
   <v-layout>
      <div class="page-inner">
         <!-- .page-title-bar -->
         <header class="page-title-bar">
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active">
                     <a href="user-profile.html"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview</a>
                  </li>
               </ol>
            </nav>
         </header>
         <!-- /.page-title-bar -->
         <!-- .page-section -->
         <div class="page-section">
            <!-- grid row -->
            <div class="row">
               <!-- grid column -->
               <div class="col-lg-4">
                  <!-- .card -->
                  <div class="card card-fluid">
                     <h6 class="card-header"> Your Details </h6>
                     <!-- .nav -->
                     <nav class="nav nav-tabs flex-column border-0">
                        <a href="user-profile-settings.html" class="nav-link">Profile</a> <a href="user-account-settings.html" class="nav-link active">Account</a> <a href="user-billing-settings.html" class="nav-link">Billing</a> <a href="user-notification-settings.html" class="nav-link">Notifications</a>
                     </nav>
                     <!-- /.nav -->
                  </div>
                  <!-- /.card -->
               </div>
               <!-- /grid column -->
               <!-- grid column -->
               <div class="col-lg-8">
                  <!-- .card -->
                  <div class="page__content">
                     <div class="ypalert ypalert--info c411NoPrint"><span><strong>Also available at the bottom of the page,</strong></span> <a href="#c411FindInSocial" rel="nofollow" class="alert--link"><strong>results from Facebook</strong></a></div>
                     <div class="bg-white mg-b-20 rounded shadow-bottom">
                        <div class="pd-15">
                           <h1>111 results for <strong>Francis Roy</strong> in <strong>Quebec QC</strong>:</h1>
                        </div>
                        <div class="pd-x-15 d-flex align-items-center mg-y-10 mg-x-0">
                           <div class="d-flex lh-1 tx-light flex-1">
                              <ul class="align-items-center d-flex">
                                 <li class="mg-r-10">Sort By:</li>
                                 <li class="">
                                    <form method="get">
                                       <select name="sort" class="form-control input-sm">
                                          <option value="rel" selected="selected">Relevance</option>
                                          <option value="alph">A-Z
                                          </option>
                                       </select>
                                    </form>
                                 </li>
                              </ul>
                              <ul class="mg-l-15 d-flex align-items-center">
                                 <li class="mg-r-10">Refine by:</li>
                                 <li class="">
                                    <form method="get">
                                       <select class="form-control input-sm">
                                          <option value="">Select</option>
                                          <option value="rpv-QC"> QC (111)</option>
                                       </select>
                                    </form>
                                 </li>
                              </ul>
                           </div>
                           <ul>
                              <li><a href="javascript:void(0);" class="btn btn-warning btn-sm">View on the map</a></li>
                           </ul>
                           <!-- /sorting -->
                        </div>
                        <div class="d-flex align-items-center pd-y-10 pd-x-15 bg-gray-100 bd-t">
                           <ul class="flex-1 d-flex align-items-center">
                              <li class="mg-r-10">Results per page:</li>
                              <li class="mg-r-20">
                                 <select class="form-control input-sm">
                                    <option selected="selected">15</option>
                                    <option>25</option>
                                 </select>
                              </li>
                              <li><span style="">Displaying 1 to 15 of 111 matches</span></li>
                           </ul>
                           <ul class="">
                              <li class="d-inline-block tx-center pd-l-10  selected">1</li>
                              <li class="d-inline-block tx-center pd-l-10 "><a href="#">2</a></li>
                              <li class="d-inline-block tx-center pd-l-10 "><a href="#">3</a></li>
                              <li class="d-inline-block tx-center pd-l-10 "><a href="#">4</a></li>
                              <li class="d-inline-block tx-center pd-l-10 "><a href="#">5</a></li>
                              <li class="d-inline-block tx-center pd-l-10">
                                 <a href="#">Next</a>
                              </li>
                           </ul>
                        </div>
                        <!-- /paging -->
                        <div class="pos-relative">
                           <div class="bd-t pos-relative pd-y-10 pd-x-15 c411Listing">
                              <div class="d-flex listing__row">
                                <h2 class="flex-1">
                                    <a href="#">J-F Roy</a>
                                </h2>
                                 <span class="c411Phone" id="ContactPhone15">(418) 524-2346</span>
                              </div>
                              <div class="d-flex mg-t-15">
                                 <span class="">
                                 <span class="adr">865 Pl Du Maire Page Quebec QC G1H 1P8</span>
                                 <a class="c411GetDirections hide-print quote__after" href="#" rel="nofollow">Get directions</a>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <div class="d-flex align-items-center pd-y-10 pd-x-15 bg-gray-100 bd-t">
                           <ul class="flex-1 d-flex align-items-center">
                              <li class="mg-r-10">Results per page:</li>
                              <li class="mg-r-20">
                                 <select class="form-control input-sm">
                                    <option selected="selected">15</option>
                                    <option>25</option>
                                 </select>
                              </li>
                           </ul>
                           <ul class="">
                              <li class="d-inline-block tx-center pd-l-10  selected">1</li>
                              <li class="d-inline-block tx-center pd-l-10 "><a href="#">2</a></li>
                              <li class="d-inline-block tx-center pd-l-10 "><a href="#">3</a></li>
                              <li class="d-inline-block tx-center pd-l-10 "><a href="#">4</a></li>
                              <li class="d-inline-block tx-center pd-l-10 "><a href="#">5</a></li>
                              <li class="d-inline-block tx-center pd-l-10">
                                 <a href="#">Next</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <!-- /left content -->
               </div>
               <!-- /grid column -->
            </div>
            <!-- /grid row -->
         </div>
         <!-- /.page-section -->
      </div>
   </v-layout>
</template>
<script>
    // @ is an alias to /src
    import VLayout from '@/layouts/Default.vue'
    import Transformer from '@/transformers/RoleTransformer'
    import service from '@/services/index'

    export default {
        /**
        * The name of the page.
        */
        name: 'buyList',

        /**
        * The data that can be used by the page.
        *
        * @returns {Object} The view-model data.
        */
        data() {
            return {
                isLoading: false,
                model: {
                    role: [],
                }
            }
        },

        created: function () {
            // this.find()
        },


        /**
        * The methods the page can use.
        */
        methods: {
        },

        /**
        * The components that the page can use.
        */
        components: {
            VLayout
        }
    }
</script>
